{% extends "baseInterface.html" %} 

{% block title %} Agregar Usuario {% endblock %} 

{% block body %}
<center><h1 class="h3 text-gray-800 mb-4">Agregar Usuario</h1></center>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="card shadow">
          <div class="card-body p-4">
            <form class="form" id="usuario-form" method="post">
              {% csrf_token %}

              <div class="col-md-5 mb-3">
              <div class="form-group">
                <label for="categoria">Rol del Usuario</label>
                <select class="form-select" aria-label="Default" name="iRole" id="iRole">
                  {% for r in rols %}
                  <option value="{{ r.id_rol }}">{{ r.nombre_rol }}</option>
                  {% endfor %}
                </select>
                <div class="error-message" style="color:red;" id="iRole-error"></div>
              </div>
            </div>
            
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label>Nombre de Usuario *</label>
                <input type="text" class="form-control" id="iNombre" name="iNombre" placeholder="Ingrese un nombre de usuario"/>
                <div class="error-message" style="color:red;" id="iNombre-error"></div>
              </div>
            </div>
              
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label>Correo *</label>
                <input type="text" class="form-control" id="iCorreo" name="iCorreo" placeholder="Ingrese un email válido"/>
                <div class="error-message" style="color:red;" id="iCorreo-error"></div>
              </div>
            </div>
            
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label>Contraseña *</label>
                <input type="text" class="form-control" id="iPassword" name="iPassword" placeholder="Ingrese una contraseña"/>
                <div class="error-message" style="color:red;" id="iPassword-error"></div>
              </div>
            </div>
    
              <div class="text-center">
                <button class="btn btn-success" type="submit" id="submit-button">Guardar</button>
              </div>
    
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
<script>
  $(document).ready(function () {
      $('#iRole, #iNombre, #iCorreo, #iPassword').on('change', function () {
          validarCampo($(this));
      });

      $('#iRole, #iNombre, #iCorreo, #iPassword').on('input', function () {
        const campo = $(this);
        const campoValue = campo.val();

        if (campoValue) {
            campo.removeClass('is-invalid');
            $(`#${campo.attr('id')}-error`).text('');
        }
      });

      $('#usuario-form').submit(function (event) {
          event.preventDefault();
          let errors = false;

          validarCampo($('#iRole'));
          validarNombreUsuario($('#iNombre'));
          validarCorreo($('#iCorreo'));
          validarPassword($('#iPassword'));

          if ($('.error-message').text() === '') {
              $.ajax({
                  type: 'POST',
                  url: "{% url 'createAUser' %}",
                  data: $(this).serialize(),
                  success: function (response) {
                      if (response.success) {
                          alert('Usuario Creado con Éxito.');
                          window.location.href = "{% url 'usuarios' %}";
                      }
                  }
              });
          }
      });

      function mostrarError($campo, mensaje) {
          $campo.addClass('is-invalid');
          $campo.siblings('.error-message').text(mensaje);
      }

      function ocultarError($campo) {
          $campo.removeClass('is-invalid');
          $campo.siblings('.error-message').text('');
      }

      function validarCampo($campo) {
          const valor = $campo.val();
          if (!valor) {
              mostrarError($campo, 'Este campo es obligatorio.');
          } else {
              ocultarError($campo);
          }
      }

      function validarNombreUsuario($campo) {
        let valor = $campo.val();
        valor = valor.charAt(0).toUpperCase() + valor.slice(1);
        const nombreUsuarioRegex = /^[A-Za-z]+$/;
        if (!valor) {
            mostrarError($campo, 'Este campo es obligatorio.');
        } else if (!nombreUsuarioRegex.test(valor)) {
            mostrarError($campo, 'El nombre de usuario no debe contener números ni caracteres especiales.');
        } else {
            ocultarError($campo);
            $campo.val(valor);
        }
    }
    
      function validarPassword($campo) {
        const valor = $campo.val();
        const passwordRegex = /^(?=.*[A-Z])(?=.*\d).{8,}$/;
        if (!valor) {
            mostrarError($campo, 'Este campo es obligatorio.');
        } else if (!passwordRegex.test(valor)) {
            mostrarError($campo, 'La contraseña debe tener al menos 8 caracteres, una mayúscula y un número.');
        } else {
            ocultarError($campo);
        }
    }
    
    function validarCorreo($campo) {
        const valor = $campo.val();
        const correoRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        if (!valor) {
            mostrarError($campo, 'Este campo es obligatorio.');
        } else if (!correoRegex.test(valor)) {
            mostrarError($campo, 'Ingrese una dirección de correo electrónico válida.');
        } else {
            ocultarError($campo);
        }
    }
  });
</script>

{% endblock %}