{% extends "baseInterface.html" %} 

{% block title %} Modificar Usuario {% endblock %} 

{% block body %}
<br>
<center><h1 class="text-black-800 mb-4" style="font-weight:bold;">Modificar Usuario</h1></center>
<br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="card shadow">
          <div class="card-body p-4">
            <form class="form" id="usuario-form" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="categoria">Rol del Usuario</label>
              <select class="form-select" aria-label="Default" name="iRole" id="iRole">
                  {% if not people.id_rol %}
                  <option value="" selected>No tiene rol asociado</option>
                  {% endif %}
                  {% for r in rols %}
                  <option value="{{ r.id_rol }}"
                      {% if r.id_rol == people.id_rol.id_rol %} selected {% endif %}>
                      {{ r.nombre_rol }}
                  </option>
                  {% endfor %}
              </select>
              <div class="error-message" style="color:red;" id="iRole-error"></div>
          </div>
          
      <div class="form-group">
        <label>Nombre de Usuario *</label>
        <input type="text" class="form-control" id="iNombre" name="iNombre" placeholder="Ingrese un nombre de usuario" value="{{ people.nombre_usuario }}"/>
        <div class="error-message" style="color:red;" id="iNombre-error"></div>
      </div>
      
      <div class="form-group">
        <label>Correo *</label>
        <input type="email" class="form-control" id="iCorreo" name="iCorreo" placeholder="Ingrese un email válido" value="{{ people.correo }}" autocomplete="off" autocorrect="off" autocapitalize="none"/>
        <div class="error-message" style="color:red;" id="iCorreo-error"></div>
      </div>

      <div class="text-center">
        <button class="btn btn-success" type="submit" id="submit-button">Guardar</button>
        {% if not people.id_rol %}
          <a href="{% url 'usuarios' %}" class="btn btn-secondary mx-2">Cancelar</a>
        {% endif %}
      </div>
      

    </form>
  </div>
</div>

{% comment %} <script>
  var form = document.getElementById("usuario-form");

  form.addEventListener("submit", function (event) {
      form.email.setCustomValidity("");
      form.password.setCustomValidity("");
  });
</script> {% endcomment %}

<script>
  var fechaActual = new Date().toISOString().split("T")[0];
  document.getElementById("iFechaven").min = fechaActual;
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
<script>
    $(document).ready(function () {

        $('#iRole, #iNombre, #iCorreo').on('change', function () {
            ocultarError($(this));
        });
        function validarCamposLlenos() {
    let camposLlenos = true;
    const nombreValue = $('#iNombre').val();
    const emailValue = $('#iCorreo').val();
    const roleValue = $('#iRole').val();

    if (!nombreValue) {
        mostrarError('#iNombre', 'Este campo es obligatorio.');
        camposLlenos = false;
    } else if (!validarNombreUsuario(nombreValue)) {
        mostrarError('#iNombre', 'El nombre de usuario no debe contener números ni caracteres especiales.');
        camposLlenos = false;
    }

    if (!emailValue) {
        mostrarError('#iCorreo', 'Este campo es obligatorio.');
        camposLlenos = false;
    } else if (!validarCorreo(emailValue)) {
        mostrarError('#iCorreo', 'Ingrese un correo electrónico válido.');
        camposLlenos = false;
    }

    if (!roleValue) {
        mostrarError('#iRole', 'Debe seleccionar un rol.');
        camposLlenos = false;
    }

    return camposLlenos;
}

        function validarCorreo(correo) {
            // Debe contener al menos un "@" y un "."
            const correoRegex = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
            return correoRegex.test(correo);
        }
        
        function validarContraseña(contraseña) {
            // Debe tener al menos 8 caracteres, una mayúscula y un número
            const contraseñaRegex = /^(?=.*[A-Z])(?=.*\d).{8,}$/;
            return contraseñaRegex.test(contraseña);
        }
        
        function validarNombreUsuario(name) {
            const nombreFormateado = name.charAt(0).toUpperCase() + name.slice(1);
            
            const nombreUsuarioRegex = /^[A-Za-z]+$/;
            return nombreUsuarioRegex.test(nombreFormateado);
        }
        
        function mostrarError(selector, mensaje) {
            $(selector).addClass('is-invalid');
            $(`${selector}-error`).text(mensaje);
        }
    
        function ocultarError($campo) {
            $campo.removeClass('is-invalid');
            $campo.siblings('.error-message').text('');
        }
    
    
$('#usuario-form').submit(function (event) {
    event.preventDefault();
        if (!validarCamposLlenos()) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: "{% url 'editAUser' people.id_usuario %}",
            data: $(this).serialize(),
            success: function (response) {
                if (response.success) {
                      wal.fire({
                        title: 'Éxito',
                        text: 'Usuario modificado con éxito',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 1000,
                    });
                    setTimeout(function () {
                        window.location.href = "{% url 'usuarios' %}";
                    }, 2000);
                }
            }
        });          
    });        
});
    
</script>

{% endblock %}