{% extends "baseInterface.html" %} 

{% block title %} Modificar Usuario {% endblock %} 

{% block body %}
<br>
<center><h1 class="text-black-800 mb-4" style="font-weight:bold;">Modificar Usuario</h1></center>
<br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="card shadow">
          <div class="card-body p-4">
            <form class="form" id="usuario-form" method="post">
            {% csrf_token %}
            <svg viewBox="25 25 50 50" id="loading">
                <circle r="20" cy="50" cx="50"></circle>
              </svg>
            <div class="form-group">
              <label for="categoria">Rol del Usuario</label>
              <select class="form-select" aria-label="Default" name="iRole" id="iRole">
                  {% if not people.id_rol %}
                  <option value="" selected>No tiene rol asociado</option>
                  {% endif %}
                  {% for r in rols %}
                  <option value="{{ r.id_rol }}"
                      {% if r.id_rol == people.id_rol.id_rol %} selected {% endif %}>
                      {{ r.nombre_rol }}
                  </option>
                  {% endfor %}
              </select>
              <div class="error-message" style="color:red;" id="iRole-error"></div>
          </div>
          
      <div class="form-group">
        <label>Nombre de Usuario *</label>
        <input type="text" class="form-control" id="iNombre" name="iNombre" placeholder="Ingrese un nombre de usuario" value="{{ people.nombre_usuario }}"/>
        <div class="error-message" style="color:red;" id="iNombre-error"></div>
      </div>
      
      <div class="form-group">
        <label>Correo *</label>
        <input type="email" data-id-user="{{ people.id_usuario}}" class="form-control" id="iCorreo" name="iCorreo" placeholder="Ingrese un email válido" value="{{ people.correo }}" autocomplete="off" autocorrect="off" autocapitalize="none"/>
        <div class="error-message" style="color:red;" id="iCorreo-error"></div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" type="submit" id="submit-button">Guardar</button>
        {% if not people.id_rol %}
          <a href="{% url 'usuarios' %}" class="btn btn-secondary mx-2">Cancelar</a>
        {% endif %}
      </div>
      

    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% comment %} <script>
  var form = document.getElementById("usuario-form");

  form.addEventListener("submit", function (event) {
      form.email.setCustomValidity("");
      form.password.setCustomValidity("");
  });
</script> {% endcomment %}

<script>
  var fechaActual = new Date().toISOString().split("T")[0];
  document.getElementById("iFechaven").min = fechaActual;
</script>


<style>
    svg {
      z-index: 999;
      position: absolute;
      top: 40%;
      left: 40%;
      margin: auto;
      width: 3.25em;
      transform-origin: center;
      animation: rotate4 2s linear infinite;
    }
  
    circle {
      fill: none;
      stroke: rgb(128, 128, 255);
      stroke-width: 3;
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      animation: dash4 1.5s ease-in-out infinite;
    }
  
    @keyframes rotate4 {
      100% {
        transform: rotate(360deg);
      }
    }
  
    @keyframes dash4 {
      0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
      }
  
      50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
      }
  
      100% {
        stroke-dashoffset: -125px;
      }
    }
  </style>
<script>
    $(document).ready(function () {

        // $('#iRole, #iNombre, #iCorreo').on('change', function () {
        //     ocultarError($(this));
        // });
    $("#loading").hide();

        function mostrarError(selector, mensaje) {
    $(selector).addClass('is-invalid');
    $(`${selector}-error`).text(mensaje);
}

function ocultarError($campo) {
    $campo.removeClass('is-invalid');
    $campo.siblings('.error-message').text('');
}

function validarCamposLlenos() {
    let camposLlenos = true;
    const nombreValue = $('#iNombre').val();
    const emailValue = $('#iCorreo').val();
    const roleValue = $('#iRole').val();

    if (!nombreValue) {
        mostrarError('#iNombre', 'Este campo es obligatorio.');
        camposLlenos = false;
    } else if (!validarNombreUsuario(nombreValue)) {
        mostrarError('#iNombre', 'El nombre de usuario no debe contener números ni caracteres especiales.');
        camposLlenos = false;
    }

    if (!emailValue) {
        mostrarError('#iCorreo', 'Este campo es obligatorio.');
        camposLlenos = false;
    } else if (!validarCorreo(emailValue)) {
        mostrarError('#iCorreo', 'Ingrese un correo electrónico válido.');
        camposLlenos = false;
    }

    if (!roleValue) {
        mostrarError('#iRole', 'Debe seleccionar un rol.');
        camposLlenos = false;
    }

    return camposLlenos;
}

async function validarCorreoUnico(correo, id_usuario) {
    return new Promise((resolve, reject) => {
        $.ajax({
            url: "{% url 'email_unique_edit' %}",
            type: "GET",
            data: {
                id_usuario: id_usuario,
                email: correo,
            },
            success: function (data) {
                if (data.existe) {
                    mostrarError('#iCorreo', 'Este correo ya existe.');
                    resolve(false);
                } else {
                    ocultarError($('#iCorreo'));
                    resolve(true);
                }
            },
            error: function () {
                reject();
            }
        });
    });
}

$('#iCorreo').on('input', async function () {
    const correo = $(this).val();
    const id = $(this).data("id-user");
    await validarCorreoUnico(correo, id);
});


        function validarCorreo(correo) {
            const correoRegex = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
            return correoRegex.test(correo);
        }
        
        function validarContraseña(contraseña) {
            const contraseñaRegex = /^(?=.*[A-Z])(?=.*\d).{8,}$/;
            return contraseñaRegex.test(contraseña);
        }
        
        function validarNombreUsuario(name) {
            const nombreFormateado = name.charAt(0).toUpperCase() + name.slice(1);
            
            const nombreUsuarioRegex = /^[A-Za-z]+$/;
            return nombreUsuarioRegex.test(nombreFormateado);
        }
        

    
$('#usuario-form').submit(function (event) {
        event.preventDefault();
        let errors = false;

        $('.is-invalid').each(function () {
            errors = true;
        });

        
      $(document).ajaxStart(function () {
        $("#loading").show();
      });

      $(document).ajaxStop(function () {
        $("#loading").hide();
      });


        if (!errors) {
            $.ajax({
                type: 'POST',
                url: "{% url 'editAUser' people.id_usuario %}",
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Éxito',
                            text: 'Usuario modificado con éxito',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 3000,
                        });
                        setTimeout(function () {
                            window.location.href = "{% url 'usuarios' %}";
                        }, 2000);
                    }
                }
            });     
        }     
    });        
});
    
</script>

{% endblock %}