{% extends "baseInterface.html" %}
{% block title %} Mi Perfil {% endblock %}

{% block body %}
{% load static %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" style="text-align:center; font-weight:bold">Mi Perfil</div>
                <div class="card-body">
                    <center><img src="{% static 'img/usir.png' %}" style="width:10rem;"></center>
                    <p><strong>Nombre de Usuario:</strong> {{ user.nombre_usuario }}</p>
                    <p><strong>Correo Electrónico:</strong> {{ user.correo }}</p>
                    <p><strong>Rol:</strong>{{ user.nombre_rol }}</p>
                    <p value="{% if user.estado == 1 %} Activo{% else %} Inactivo{% endif %}"><strong>Estado:</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script>
    function updateRoler() {
        var token = getCookie('jwt_token');
        if (token) {
            var payload = JSON.parse(atob(token.split('.')[1]));
            var Element = document.getElementById('roled');
            Element.textContent = payload.id_rol;
        }
    }

    updateRoler();
</script>
{% endblock %}
