{% extends "baseInterface.html" %}
{% block title %} Mi Perfil {% endblock %}

{% block body %}
{% load static %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" style="text-align:center; font-weight:bold">Perfil de Usuario</div>
                <div class="card-body d-flex align-items-center" style="flex-direction:row-reverse">
                    <div class="d-flex justify-content-center align-items-center" style="margin-left: 5%; margin-right:3%">
                    <img src="{% static 'img/usir.png' %}" style="width:8rem">
                    </div>
                    <div class="card shadow" style="width:100%; margin-top:4%; margin-left:3%">
                        {% comment %} <div class="card-header" style="font-weight: bold; text-align: center;">
                            Mi Información
                        </div> {% endcomment %}
                        <div class="card-body">
                    <p><strong>Nombre de Usuario:</strong> {{ user.nombre_usuario }}</p>
                    <p><strong>Correo Electrónico:</strong> {{ user.correo }}</p>
                    <p><strong>Rol del Sistema: </strong>{{ nombre_rol }}</p>
                    
                    <div>
                    <button id="changePasswordBtn" onclick="toggleChangePassword()" class="btn btn-success">Cambiar Contraseña</button>
                    </div>
                    
                    <form id="changePasswordForm" method="post" style="display: none;">
                        <br>
                        {% csrf_token %}
                        
                        <div class="form-row">
                        <div class="col-md-6">
                        <label for="new_password">Nueva Contraseña:</label>
                        <input class="form-control" type="password" name="new_password" placeholder="Ingrese una Contraseña" required><br>
                        </div>
                        <div class="col-md-6">
                        <label for="confirm_password">Confirmar Contraseña:</label>
                        <input class="form-control" type="password" name="confirm_password" placeholder="Repita la contraseña"required><br>
                        </div>
                    </div>
                        <div class="text-end mt-3">
                        <button type="submit" name="change_password" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // Función para mostrar/ocultar formulario de cambio de contraseña
    function toggleChangePassword() {
        var form = document.getElementById('changePasswordForm');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }

    // Otras funciones y código JavaScript que puedas necesitar...
</script>


<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% comment %} <script>
    function updateRoler() {
        var token = getCookie('jwt_token');
        if (token) {
            var payload = JSON.parse(atob(token.split('.')[1]));
            var Element = document.getElementById('roled');
            Element.textContent = payload.id_rol;
        }
    }

    updateRoler();
</script> {% endcomment %}
{% endblock %}
