{% extends "baseInterface.html" %}
{% block title %} Usuarios {% endblock %}
{% block body %}
<style>
    .table {
        width: 80%;
    }

    table thead.theads {
        text-align: center;
        color: white;
        background-color: black;
    }

    table tbody.tbody {
        text-align: center;
    }

    .modtitles {
        font-size: 2em;
        background-image: linear-gradient(45deg, #000000, #3c3636, #000);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: animarGradiente 3s linear infinite;
        font-weight: bold;
    }

    /* Toco repetir codigo para cambiar el blanco */
    .btn-add,
    .btn-dash {
        color: #000;
        font-weight: 600;
    }

    .btn-add:hover,
    .btn-dash:hover {
        color: #000;
    }

    .btn-adder:hover{
        color: #000;
        background-color: #77B677;
        border: solid 1px black;
    }

    .btn-adder {
        background-color: #85da85;
        border: solid 1px black;
    }

    .btn-dash {
        background-color: #c55c5c;
        color:black;
    }

    .btn-dash:hover {
        background-color: #D16060;
        color:black
    }

    tr.inactivo {
        background-color: #ccc;
        /* Cambia el fondo a un tono más claro */
        color: #676666;
    }

    .statusbutton {
        width: 5rem;
        border-radius: 3px;
        border: none;
    }

    .statusbutton:hover {
        opacity: 0.9;
    }

    #editbutton {
        background-color: #FFFF99;
        color: #000;
        /* background-color: #3498db; */
        border: none;
        transition: transform 0.5s;

    }

    #detailsbutton {
        background-color: #419edd;
        color: #000;
        /* background-color: #1e3799; */
        border: none;
        transition: transform 0.5s;
    }

    #editbutton:hover,
    #detailsbutton:hover {
        transform: scale(1.1);
    }

    .cell-actions {
        display: flex;
        justify-content: space-around;
    }

    .active-status {
        background-color: #95eea5;
        color: #09711c;
    }

    .inactive-status {
        background-color: #ec8080;
        color: #8a0404;
    }

        .admin {
            background-color: #ccc;
            font-weight: bold;
        }
    
        .admin button,
        .admin a {
            opacity: 0.6;
            pointer-events: none;
            cursor: default;
        }
</style>

<br>
<center>
    <h1 class="text-black-800 mb-4" style="font-weight:bold;">Gestión de Usuarios</h1>
</center>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <div class="d-flex flex-row">
            <span class="mx-2">
                <a href="{% url 'createAUser' %}" class="btn btn-succes btn-adder btn-lg" data-toggle="tooltip" data-placement="top" title="Crear un Usuario">
                    <i class="fa-solid fa-plus mr-2"></i><span class="text" style="font-weight: 600; font-size: 16px;">Agregar Usuario</span>
                </a>
                    
            </span>
        </div>

        {% comment %} <div class="d-flex align-items-center mx-2">
            <a href="#" class="btn btn-danger btn-dash btn-lg" data-toggle="tooltip" data-placement="top" title="Descargar PDF con Registros">
                <i class="fa-solid fa-download mr-2"></i><span class="text" style="font-weight: 600; font-size: 16px;">Generar Informe</span>
            </a>
        </div> {% endcomment %}
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-4">
        <div class="table-responsive">
            <table class="table table-bordered mx-auto text-center" id="dataTable" width="100%"
                cellspacing="1">
                <thead class="theads">
                    <tr>
                        <th>Rol</th>
                        <th>Nombre de Usuario</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in Users %}
                    <tr class="{% if u.id_usuario == 1 %}admin{% endif %}">
                        <td>{{u.id_rol.nombre_rol}}</td>
                        <td>{{u.nombre_usuario}}</td>
                        <td>{{u.correo}}</td>
                        <td>
                            <button
                                class="cambiar-estado statusbutton mx-auto {% if u.estado == 1 %}active-status{% else %}inactive-status{% endif %}"
                                data-usuario-id="{{ u.id_usuario }}"
                                data-nuevo-estado="{% if u.estado == 1 %}0{% else %}1{% endif %}" data-toggle="tooltip" data-placement="right" title="Cambiar de Estado">
                                {% if u.estado == 1 %}
                                Activo
                                {% else %}
                                Inactivo
                                {% endif %}
                            </button>
                        </td>
                        <td class="cell-actions">
                            <a href="{% url 'editAUser' u.id_usuario %}" class="btn btn-sm" id="editbutton" data-toggle="tooltip" data-placement="right" title="Modificar Usuario"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                            <button type="button" class="btn btn-sm btn-primary verUsuario {% if u.estado == 0 %}disabled{% endif %}"
                                data-usu-id="{{ u.id_usuario }}" data-toggle="tooltip" data-placement="right" title="Ver Detalles" {% if not u.id_rol.nombre_rol and u.estado == 1 %}disabled{% endif %}>
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $(".cambiar-estado").click(function () {
            var usuarioId = $(this).data("usuario-id");
            var nuevoEstado = $(this).data("nuevo-estado");

            Swal.fire({
                title: 'Estado',
                text: '¿Desea cambiar el estado de este usuario?',
                showCancelButton: true,
                confirmButtonColor: '#419edd',
                cancelButtonColor: '#ba4d4d',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{% url 'cambiarEstadoDeUsuario'  %}",
                        data: {
                            usuario_id: usuarioId,
                            nuevo_estado: nuevoEstado
                        },
                        method: "GET",
                        success: function (response) {
                            location.reload();
                        }
                    });
                }
            });
        });
    });
</script>

<style>
    .modal-backdrop-usuario {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.833);
        z-index: 100;
        display: none;
        animation: fadeInBack 0.3s ease-in-out;
    }

    .usuarioDialog {
        max-width: 70%;
        width: 25%;
        min-height: 10vh;
        border: none;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
        animation: fadeIn 0.3s ease-in-out;
        margin: auto;
        padding: 20px;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.9);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes fadeInBack {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .fadeOut {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .usuarioDialog .modal-container-header {
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .usuarioDialog h2 {
        font-size: 1.125rem;
        font-weight: 700;
        gap: 8px;
    }

    .cerrar-usuario {
        padding: 0;
        border: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        cursor: pointer;
        border-radius: 8px;
        transition: 0.15s ease;
        position: absolute;
        top: 0;
        right: 0;
    }

    .estadoUsuarioCircle {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }

    .estadoUsuarioCircle.activo {
        background-color: #72d072; /* Color para estado activo */
    }

    .estadoUsuarioCircle.inactivo {
        background-color: #ba4d4d; /* Color para estado inactivo */
    }

    .usuarioDialog section {
        padding: 20px;
    }

    .usuarioDialog section p {
        font-size: 1rem;
        font-weight: bold;
        color: #222222;
    }

    .usuarioDialog section p span {
        color: rgb(99, 99, 99);
    }
</style>


<dialog id="verDetallesUsuarioDialog" class="usuarioDialog dragHandle">
    <form method="dialog">
        <div class="modal-container-header">
            <div class="estadoUsuarioCircle"></div>
            <h2>Información del Usuario</h2>
            <button class="cerrar-usuario" type="button" id="cerrarDetallesUsuario">
                
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                        fill="currentColor"></path>
                </svg>
            </button>
        </div>
        <section>
            <p>Rol: <span class="rolUsuario"></span></p>
            {% comment %} <p>Permisos Habilitados: <span></span></p> {% endcomment %}
            <p>Nombre de Usuario: <span class="nombreUsuario"></span></p>
            <p>Correo: <span class="correoUsuario"></span></p>
        </section>
    </form>
</dialog>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $(".verUsuario").click(function () {
            var usuarioId = $(this).data("usu-id"); // Corregido para que coincida con el atributo data-usu-id
    
            $.ajax({
                url: "{% url 'ver_detalles_usuario' %}",
                data: {
                    usuario_id: usuarioId
                },
                method: "GET",
                success: function (response) {
                    var usuario = response.success;
                    $(".rolUsuario").text(usuario.Rol); // Corregido para que coincida con el JSON de respuesta
                    $(".nombreUsuario").text(usuario['Nombre de Usuario']); // Corregido para que coincida con el JSON de respuesta
                    $(".correoUsuario").text(usuario.documento); // Corregido para que coincida con el JSON de respuesta
                    $(".estadoUsuario").text(usuario.Estado == 1 ? 'Activo' : 'Inactivo'); // Corregido para que coincida con el JSON de respuesta
    
                    if (usuario.Estado == 1) {
                        $(".estadoUsuarioCircle").addClass("activo").removeClass("inactivo");
                    } else {
                        $(".estadoUsuarioCircle").addClass("inactivo").removeClass("activo");
                    }
                    document.getElementById("verDetallesUsuarioDialog").showModal();
                    $(".usuarioDialog").addClass("fadeIn");
                    $(".modal-backdrop-usuario").show(); // Corregido para que coincida con el nombre de clase correcto
                    $(".modal-backdrop-usuario").addClass("fadeInBack"); // Corregido para que coincida con el nombre de clase correcto
                },
            });
        });
    
        $("#cerrarDetallesUsuario").click(function () {
            $(".usuarioDialog").addClass("fadeOut");
            $(".modal-backdrop-usuario").addClass("fadeOut"); // Corregido para que coincida con el nombre de clase correcto
            setTimeout(function () {
                document.getElementById("verDetallesUsuarioDialog").close();
                $(".usuarioDialog").removeClass("fadeOut");
                $(".modal-backdrop-usuario").hide(); // Corregido para que coincida con el nombre de clase correcto
                $(".modal-backdrop-usuario").removeClass("fadeOut"); // Corregido para que coincida con el nombre de clase correcto
            }, 300);
        });
    });
    
</script>

{% endblock %}