{% extends "baseInterface.html" %}

{% block title %} Agregar Cliente {% endblock %}
{% block body %}

<center>
    <h1 class="text-black-800 mb-4" style="font-weight:bold;">Agregar Cliente</h1>
</center>

<div class="container d-flex justify-content-center">
    <div class="card shadow" style="width:60%">
        <div class="container p-5 pb-4">
            <form class="form" id="cliente-form" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="iDocumento">Documento *</label>
                        <input type="text" class="form-control" id="iDocumento" name="iDocumento"
                            placeholder="Documento" maxlength="10" minlength="6"">
                        <div class="error-message" id="iDocumento-error" style="color:red;"></div>
                        <div class="info-message" id="iDocumento-info"></div>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="iNombres">Nombres *</label>
                        <input type="text" class="form-control" id="iNombres" name="iNombres" placeholder="Nombres">
                        <div class="error-message" id="iNombres-error" style="color:red;"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="iApellidos">Apellidos *</label>
                        <input type="text" class="form-control" id="iApellidos" name="iApellidos"
                            placeholder="Apellidos">
                        <div class="error-message" id="iApellidos-error" style="color:red;"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="iCelular">Celular *</label>
                        <input type="text" class="form-control" id="iCelular" name="iCelular" placeholder="Celular"
                            minlength="10" maxlength="10">
                        <div class="error-message" id="iCelular-error" style="color:red;"></div>
                        <div class="info-message" id="iCelular-info" style="color:red;"></div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="departamento">Departamento *</label>
                        <select class="form-control" id="departamento" name="nombre_departamento">
                        </select>
                        <div class="error-message" id="departamento-error" style="color:red;"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="municipio">Municipio *</label>
                        <select class="form-control" id="municipio" name="nombre_municipio">
                            <option value="Municipio por Defecto">Selecciona un Municipio</option>
                        </select>
                        <div class="error-message" id="municipio-error" style="color:red;"></div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="iBarrio">Barrio *</label>
                        <input type="text" class="form-control" id="iBarrio" name="iBarrio" placeholder="Barrio">
                        <div class="error-message" id="iBarrio-error" style="color:red;"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="iDireccion">Dirección *</label>
                        <input type="text" class="form-control" id="iDireccion" name="iDireccion"
                            placeholder="Dirección">
                        <div class="error-message" id="iDireccion-error" style="color:red;"></div>
                    </div>
                </div>

                <div class="text-center" style="margin-top: 10px;">
                    <button class="btn btn-success" type="submit" id="submit-button">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        obtenerDepartamentos();

        $("#departamento").change(function () {
            cargarMunicipios();
        });

        $('#iDocumento').on('input', function () {
            validarDocumento();
        });

        $('#iCelular').on('input', function () {
            validarCelular();
        });

        $('#iNombres, #iApellidos, #iBarrio, #iDireccion, #departamento, #municipio').on('input', function () {
            validarCampo($(this));
        });

        $('#iCelular, #iNombres, #iApellidos, #iBarrio, #iDireccion, #iDocumento, #departamento, #municipio')
            .on('input', function () {
                if ($(this).val() === '') {
                    mostrarError($(this), 'Este campo es obligatorio.');
                } else {
                    ocultarError($(this));
                }
            });

        $('#cliente-form').submit(function (event) {
            event.preventDefault();
            validarDocumento();
            validarCelular();
            validarCampo($('#iNombres'));
            validarCampo($('#iApellidos'));
            validarCampo($('#iBarrio'));
            validarCampo($('#iDireccion'));
            validarCampo($('#departamento'));
            validarCampo($('#municipio'));
            validarDocumento();
            validarCelular();
            if ($('.error-message').text() === '') {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'agregarClientes' %}",
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Éxito',
                                text: 'Cliente agregado con éxito',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 3000,
                            });
                            setTimeout(function () {
                                window.location.href = "{% url 'Clientes' %}";
                            }, 2000);
                        }
                    }
                });
            }
        });
    });

    function obtenerDepartamentos() {
        $.ajax({
            url: "https://www.datos.gov.co/resource/xdk5-pm3f.json",
            type: "GET",
            data: {
                "$limit": 5000,
            }
        }).done(function (data) {
            const departamentos = [...new Set(data.map(item => item.departamento))];
            const departamentoSelect = $("#departamento");
            departamentos.forEach(function (depto) {
                departamentoSelect.append($("<option>", {
                    value: depto,
                    text: depto
                }));
            });
            cargarMunicipios();
        });
    }

    function obtenerMunicipios() {
        const departamentoSeleccionado = $("#departamento").val();
        const municipioSelect = $("#municipio");

        $.ajax({
            url: "https://www.datos.gov.co/resource/xdk5-pm3f.json",
            type: "GET",
            data: {
                "$limit": 5000,
                "departamento": departamentoSeleccionado
            }
        }).done(function (data) {
            municipioSelect.empty();
            data.forEach(function (item) {
                municipioSelect.append($("<option>", {
                    value: item.municipio,
                    text: item.municipio
                }));
            });
        });
    }

    function cargarMunicipios() {
        obtenerMunicipios();
    }

    function mostrarError($campo, mensaje) {
        $campo.addClass('is-invalid');
        $campo.siblings('.error-message').text(mensaje);
    }

    function ocultarError($campo) {
        $campo.removeClass('is-invalid');
        $campo.siblings('.error-message').text('');
    }

    function mostrarInfo($campo, mensaje) {
        $campo.siblings('.info-message').text(mensaje);
    }

    function ocultarInfo($campo) {
        $campo.siblings('.info-message').text('');
    }

    function validarDocumento() {
        const documento = $('#iDocumento').val().replace(/\D/g, '');

        if (documento.trim() === '') {
            mostrarError($('#iDocumento'), 'Este campo es obligatorio.');
            return;
        }

        const documentoError = /^\d{6,10}$/.test(documento) ? '' : 'Número de documento inválido.';

        if (documentoError) {
            mostrarError($('#iDocumento'), documentoError);
        } else {
            ocultarError($('#iDocumento'));
            verificarExistenciaDocumento(documento);
        }
    }

    function verificarExistenciaDocumento(documento) {
        $.ajax({
            type: 'GET',
            url: "{% url 'validarDocumento' %}",
            data: {
                documento: documento
            },
            success: function (response) {
                if (response.existe) {
                    mostrarError($('#iDocumento'), 'Este cliente ya está registrado.');
                } else {
                    ocultarError($('#iDocumento'));
                }
            }
        });
    }



    function validarCelular() {
        const celular = $('#iCelular').val();

        if (celular.trim() === '') {
            mostrarError($('#iCelular'), 'Este campo es obligatorio.');
            return;
        }

        const celularError = /^\d{10}$/.test(celular) ? '' : 'Número inválido.';
        $('#iCelular').val(celular.replace(/\D/g, ''));
        $('#iCelular-error').html(celularError);
    }

    $('#iDocumento').on('input', validarDocumento);
    $('#iDocumento').on('keypress', validarDocumento);
    $('#iCelular').on('input', validarCelular);
    $('#iCelular').on('keypress', validarCelular);

    function validarCampo($campo) {
        const valor = $campo.val();
        if (!valor) {
            mostrarError($campo, 'Este campo es obligatorio.');
        } else {
            ocultarError($campo);
        }
    }
</script>

{% endblock %}