{% extends "baseInterface.html" %}

{% block body %}



<!-- Botón para abrir el modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Hola</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
            <h5>Detalles del Cliente</h5>
            <div id="cliente-details">
               <!-- detalleCliente.html -->
               <div class="modal-body">
                <h5>Detalles del Cliente</h5>
                <p><strong>Documento:</strong> <span id="cliente-documento"></span></p>
                <p><strong>Nombres:</strong> <span id="cliente-nombres"></span></p>
                <p><strong>Apellidos:</strong> <span id="cliente-apellidos"></span></p>
                <p><strong>Celular:</strong> <span id="cliente-celular"></span></p>
                <!-- Otros detalles del cliente aquí -->
            </div>
            

            </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  
<center>
    <h1 class="modtitles">Gestion de Clientes</h1>
</center>
<br>
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <span>
            <a href="{% url 'agregarClientes' %}" class="btn btn-success btn-icon-split btn-add" id="em">
                <span class="icon">
                    <i class="fa-solid fa-plus" id="addicon"></i>
                <span class="text">Agregar Cliente</span>
            </span>
            </a>
        </span>
        <span class="d-flex align-items-end">
            <h6 class="text-black font-weight-bold mr-2">Informes:</h6>
            <button class="btn btn-danger btn-dash">Ir a Dashboard</button>
        </span>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-4">
        <div class="table-responsive">
            <table class="table table-bordered table-hover mx-auto text-center" id="dataTable" cellspacing="3">
                <thead class="theads">
                    <tr>
                        <th>ID</th>
                        <th>Documento</th>
                       
                        
                        <th>Nombre Completo</th>
                        
                        
                        <th>Celular</th>
                        <th>Lugar de residencia</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    {% for cliente in clientes %}
                    <tr class="{% if cliente.estado == 0 %}inactivo{% endif %}">
                        <td>{{ cliente.id_cliente }}</td>
                        <td>{{ cliente.documento }}</td>
                        <td>{{ cliente.nombres }} {{ cliente.apellidos }}</td>
                        <td>{{ cliente.celular }}</td>


                        <td>{{  cliente.id_municipio.id_departamento.nombre_departamento  }} / {{ cliente.id_municipio.nombre_municipio }}</td>
                    
                        <td>
                            <button class="cambiar-estado statusbutton mx-3 {% if cliente.estado == 0 %}inactive-status{% else %}active-status{% endif %}"
                                data-cliente-id="{{ cliente.id_cliente }}"
                                data-nuevo-estado="{% if cliente.estado == 0 %}1{% else %}0{% endif %}">
                                {% if cliente.estado == 0 %}
                                Inactivo
                                {% else %}
                                Activo
                                {% endif %}
                            </button>
                        </td>
                        <td class="cell-actions">
                            <a href="{% url 'editarCliente' cliente.id_cliente %}" class="btn btn-sm"
                                id="editbutton"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'verCliente' cliente.id_cliente %}" class="btn btn-sm btn-primary" id="detailsbutton" data-bs-toggle="modal" data-bs-target="#exampleModal" data-cliente-id="{{ cliente.id_cliente }}">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                
                                
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".cambiar-estado").click(function() {
            var clienteId = $(this).data("cliente-id");
            var nuevoEstado = $(this).data("nuevo-estado");

            Swal.fire({
                title: 'Confirmar',
                text: '¿Estás seguro de que deseas cambiar el estado?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{% url 'cambiarEstadoClientes'  %}",
                        data: {
                            cliente_id: clienteId,
                            nuevo_estado: nuevoEstado
                        },
                        method: "GET",
                        success: function(response) {
                            location.reload();
                        },
                        error: function(error) {
                            // Manejar el error si es necesario
                        }
                    });
                }
            });
        });
    });

    // JavaScript para cargar los detalles del cliente cuando se hace clic en "Details"
    $(".detailsbutton").click(function() {
        var clienteId = $(this).data("cliente-id");

        // Realiza una solicitud AJAX para cargar los detalles del cliente
        $.ajax({
            url: "{% url 'verCliente' 0 %}".replace('0', clienteId), // URL de la vista de verCliente
            method: "GET",
            success: function(response) {
                // Actualiza los elementos HTML con los detalles del cliente
                $("#cliente-documento").text(response.cliente.documento);
                $("#cliente-nombres").text(response.cliente.nombres);
                $("#cliente-apellidos").text(response.cliente.apellidos);
                $("#cliente-celular").text(response.cliente.celular);
                // Otros campos del cliente se pueden actualizar de manera similar aquí

                // Muestra el modal con los detalles del cliente
                $("#exampleModal").modal("show");
            },
            error: function(error) {
                // Manejar el error si es necesario
            }
        });
    });
</script>

<style>

.table {
        width: 80%;
    }

    table thead.theads {
        text-align: center;
        color: white;
        background-color: #222222;
    }

    table tbody.tbody {
        text-align: center;
    }

    .modtitles {
        font-size: 2em;
        background-image: linear-gradient(45deg, #000000, #3c3636, #000);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: animarGradiente 3s linear infinite;
        font-weight: bold;
    }

    /* Toco repetir codigo para cambiar el blanco */
    .btn-add,
    .btn-dash {
        color: #000;
        font-weight: 600;
    }

    .btn-add:hover,
    .btn-dash:hover {
        color: #000;
    }

    .btn-add {
        padding: 0;
        width: auto;
        block-size: 6vh;
        background-color: #85da85;
        display: flex;
        align-items: center;
    }

    .btn-add:hover {
        background-color: #72d072;
    }

    .btn-dash {
        background-color: #c55c5c;
    }

    .btn-dash:hover {
        background-color: #ba4d4d;
    }

    tr.inactivo {
        background-color: #ccc;
        /* Cambia el fondo a un tono más claro */
        color: #676666;
    }

    .statusbutton {
        width: 5rem;
        border-radius: 3px;
        border: none;
    }

    .statusbutton:hover {
        opacity: 0.9;
    }

    #editbutton {
        background-color: #FFFF99;
        color: #000;
        /* background-color: #3498db; */
        border: none;
        transition: transform 0.5s;

    }

    #detailsbutton {
        background-color: #419edd;
        color: #000;
        /* background-color: #1e3799; */
        border: none;
        transition: transform 0.5s;
    }

    #editbutton:hover,
    #detailsbutton:hover {
        transform: scale(1.1);
    }

    .cell-actions {
        display: flex;
        justify-content: space-around;
    }

    .active-status {
        background-color: #95eea5;
        color: #09711c;
    }

    .inactive-status {
        background-color: #ec8080;
        color: #8a0404;
    }
    </style>

{% endblock %}