{% extends "baseInterface.html" %}


{% block body %}


<h3 class="mb-2 text-gray-900">Clientes</h1>
<p class="mb-4">Este es el entorno de Clientes, aquí puedes gestionar los registros de tus Clientes.</p>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <span>
            <a href="{% url 'agregarClientes' %}" class="btn btn-success btn-icon-split ">
                <span class="icon text-white-50">
                    <i class="fa-solid fa-plus"></i>
                </span>
                <span class="text">Agregar</span>
            </a>
        </span>
        <span class="d-flex align-items-end">
            <h6 class="text-black font-weight-bold mr-2">Informes:</h6>
        </span>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-4">
        <div class="table-responsive">
            <table class="table table-bordered m-auto" id="dataTable" width="80%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="color:black">ID Cliente</th>
                        <th style="color:black">Municipio</th>
                        <th style="color:black">Documento</th>
                        <th style="color:black">Nombres</th>
                        <th style="color:black">Apellidos</th>
                        <th style="color:black">Celular</th>
                        <th style="color:black">Estado</th>
                        <th style="color:black">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                   
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id_cliente }}</td>
                        <td>{{ cliente.id_municipio.nombre_municipio }}</td>
                        <td>{{ cliente.documento }}</td>
                        <td>{{ cliente.nombres }}</td>
                        <td>{{ cliente.apellidos }}</td>
                        <td>{{ cliente.celular }}</td>
                        <td>
                            {% if cliente.estado == 1 %}
                                <button class="btn btn-danger cambiar-estado" data-cliente-id="{{ cliente.id_cliente }}" data-nuevo-estado="0">Inactivar</button>
                            {% else %}
                                <button class="btn btn-success cambiar-estado" data-cliente-id="{{ cliente.id_cliente }}" data-nuevo-estado="1">Activar</button>
                            {% endif %}
                        </td>
                        
                        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            $(document).ready(function() {
                                $(".cambiar-estado").click(function() {
                                    var clienteId = $(this).data("cliente-id");
                                    var nuevoEstado = $(this).data("nuevo-estado");
                        
                                    Swal.fire({
                                        title: 'Confirmar',
                                        text: '¿Estás seguro de que deseas cambiar el estado?',
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Confirmar',
                                        cancelButtonText: 'Cancelar'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            $.ajax({
                                                url: "{% url 'cambiarEstado'  %}",
                                                data: {
                                                    cliente_id: clienteId,
                                                    nuevo_estado: nuevoEstado
                                                },
                                                method: "GET",
                                                success: function(response) {
                                                    // Actualiza la página o la sección relevante según sea necesario
                                                    location.reload();
                                                },
                                                error: function(error) {
                                                    // Maneja el error si es necesario
                                                }
                                            });
                                        }
                                    });
                                });
                            });
                        </script>
                        
                        
                        <td>
                           
                            <a href="{% url 'editarCliente' cliente.id_cliente %}" class="btn btn-primary {% if cliente.estado == 0 %}disabled{% endif %}">Editar</a>
                       </td>
                        
                        
                      
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




{%endblock%}