{% extends "baseInterface.html" %}

{% block title %}Modificar Cliente{% endblock %}

{% block body %}
<center>
    <h1 class="text-black-800 mb-4" style="font-weight:bold;">Modificar Cliente</h1>
</center>

<div class="container d-flex justify-content-center">
<div class="card shadow" style="width:70%">
    <div class="container p-5 pb-4">
        <form id="cliente-form" method="post">
            {% csrf_token %}
            <input type="hidden" name="cliente_id" value="{{ cliente.id_cliente }}">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="iDocumento">Documento *</label>
                    <input type="text" class="form-control" id="iDocumento" name="iDocumento" placeholder="Documento"
                        value="{{ cliente.documento }}" minlength="8" maxlength="12">
                    <div class="error-message" id="iDocumento-error" style="color:red;"></div>
                    <div class="info-message" id="iDocumento-info"></div>
                </div>
                <div class="form-group col-md-8">
                    <label for="iNombres">Nombres *</label>
                    <input type="text" class="form-control" id="iNombres" name="iNombres" placeholder="Nombres"
                        value="{{ cliente.nombres }}">
                    <div class="error-message" id="iNombres-error" style="color:red;"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="iApellidos">Apellidos *</label>
                    <input type="text" class="form-control" id="iApellidos" name="iApellidos" placeholder="Apellidos"
                        value="{{ cliente.apellidos }}">
                    <div class="error-message" id="iApellidos-error" style="color:red;"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="iCelular">Celular *</label>
                    <input type="text" class="form-control" id="iCelular" name="iCelular" placeholder="Celular"
                        value="{{ cliente.celular }}" minlength="10" maxlength="10">
                    <div class="error-message" id="iCelular-error" style="color:red;"></div>
                    <div class="info-message" id="iCelular-info"></div>
                </div>
            </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="departamento">Departamento *</label>
                        <select class="form-control" id="departamento" name="nombre_departamento">
                            <option value="{{ cliente.id_municipio.id_departamento.nombre_departamento }}" selected>
                                {{ cliente.id_municipio.id_departamento.nombre_departamento }}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="municipio">Municipio *</label>
                        <select class="form-control" id="municipio" name="nombre_municipio">
                            <option value="{{ cliente.id_municipio.id_municipio }}" selected>
                                {{ cliente.id_municipio.nombre_municipio }}</option>
                        </select>
                        <div class="error-message" id="nombre_municipio-error" style="color:red;"></div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="iBarrio">Barrio *</label>
                        <input type="text" class="form-control" id="iBarrio" name="iBarrio" placeholder="Barrio"
                            value="{{ cliente.barrio }}">
                        <div class="error-message" id="iBarrio-error" style="color:red;"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="iDireccion">Dirección *</label>
                        <input type="text" class="form-control" id="iDireccion" name="iDireccion"
                            placeholder="Dirección" value="{{ cliente.direccion }}">
                        <div class="error-message" id="iDireccion-error" style="color:red;"></div>
                    </div>
                </div>

            <div class="text-center" style="margin-top: 10px;">
                <button class="btn btn-primary" type="submit" id="submit-button" >Guardar</button>
            </div>
        </form>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        cargarDepartamentos();
        $("#departamento").change(function () {
            cargarMunicipios();
        });

        $('#iDocumento').on('input', validarDocumento);
        $('#iDocumento').on('keypress', function (e) {
            if (e.which === 13) {
                e.preventDefault();
                validarDocumento();
            }
        });

        $('#iCelular').on('input', validarCelular);
        $('#iCelular').on('keypress', function (e) {
            if (e.which === 13) {
                e.preventDefault();
                validarCelular();
            }
        });

        $('#cliente-form').submit(function (event) {
            event.preventDefault();
            validarDocumento();
            validarCelular();
            validarCampo($('#iNombres'));
            validarCampo($('#iApellidos'));
            validarCampo($('#iBarrio'));
            validarCampo($('#iDireccion'));
            validarCampo($('#departamento'));
            validarCampo($('#municipio'));

            if ($('.error-message').text() === '') {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'editarCliente' cliente.id_cliente %}",
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Éxito',
                                text: 'Cliente editado con éxito',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 3000,
                            });
                            setTimeout(function () {
                                window.location.href = "{% url 'Clientes' %}";
                            }, 2000);
                        }
                    }
                });
            }
        });

        function cargarDepartamentos() {
            $.ajax({
                url: "https://www.datos.gov.co/resource/xdk5-pm3f.json",
                type: "GET",
                data: {
                    "$limit": 5000,
                },
                success: function (data) {
                    const departamentos = [...new Set(data.map(item => item.departamento))];
                    const departamentoSelect = $("#departamento");
                    departamentos.forEach(function (depto) {
                        departamentoSelect.append($("<option>", {
                            value: depto,
                            text: depto
                        }));
                    });
                    cargarMunicipios();
                }
            });
        }

        function obtenerMunicipios() {
            const departamentoSeleccionado = $("#departamento").val();
            const municipioSelect = $("#municipio");

            $.ajax({
                url: "https://www.datos.gov.co/resource/xdk5-pm3f.json",
                type: "GET",
                data: {
                    "$limit": 5000,
                    "departamento": departamentoSeleccionado
                },
                success: function (data) {
                    municipioSelect.empty();
                    data.forEach(function (item) {
                        municipioSelect.append($("<option>", {
                            value: item.municipio,
                            text: item.municipio
                        }));
                    });
                }
            });
        }

        function cargarMunicipios() {
            obtenerMunicipios();
        }

        function validarDocumento() {
            const documento = $('#iDocumento').val().replace(/\D/g, '');
            const documentoError = /^\d{8,10}$/.test(documento) ? '' : 'Número de documento inválido.';
            mostrarError($('#iDocumento'), documentoError);

            if (documentoError === '') {
                verificarExistenciaDocumento(documento);
            }
        }

        function verificarExistenciaDocumento(documento) {
            $.ajax({
                type: 'GET',
                url: "{% url 'validarDocumento' %}",
                data: {
                    documento: documento
                },
                success: function (response) {
                    if (response.existe) {
                        mostrarError($('#iDocumento'), 'Este cliente ya está registrado.');
                    } else {
                        ocultarError($('#iDocumento'));
                    }
                }
            });
        }

        function validarCelular() {
            const celular = $('#iCelular').val();
            const celularError = /^\d{10}$/.test(celular) ? '' : 'Número inválido.';
            $('#iCelular').val(celular.replace(/\D/g, ''));
            mostrarError($('#iCelular'), celularError);
        }

        function validarCampo($campo) {
            const valor = $campo.val();
            mostrarError($campo, valor ? '' : 'Este campo es obligatorio.');
        }

        function mostrarError($campo, mensaje) {
            $campo.removeClass('is-invalid').siblings('.error-message').text('');
            if (mensaje) {
                $campo.addClass('is-invalid').siblings('.error-message').text(mensaje);
            }
        }
    });
</script>

{% endblock %}
