{% extends "baseInterface.html" %}

{% block title %} Ventas {% endblock %}

{% block body %}

<!-- <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/HomeVentas.css' %}">
</head> -->

<br>
<center>
    <h1 class="text-black-800 mb-4" style="font-weight:bold;">Gestion de Pedidos</h1>
</center>

<div class="card shadow mb-4">
    <div class="card-header py-4">
        <div class="table-responsive">
            <table class="table table-bordered  mx-auto text-center" id="dataTable" width="100%" cellspacing="3">
                <thead class="theads">
                    <tr>
                        <th>Cliente</th>
                        <th>Fecha de Registro</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr class="{% if pedido.estado == 1 %}inactivo{% endif %}">
                        <td class="d-flex">{{ pedido.id_cliente.nombres }} {{ venta.id_cliente.apellidos }}</td>
                        <td>{{ pedido.fecha_pedido }}</td>
                        <td>
                            <button data-toggle="tooltip" data-placement="right" title="Cambiar de Estado"
                                class="cambiar-estado statusbutton mr-2 {% if pedido.estado == 1 %}inactive-status{% elif pedido.estado == 2 %}en_proceso_pedido{% else %}active-status{% endif %}"
                                data-pedido-id="{{ pedido.id_pedido}}">
                                {% if pedido.estado == 1 %}Cancelado{% elif pedido.estado == 2 %}En proceso{% else %}Confirmado{% endif %}
                            </button>
                        </td>
                        <td class="cell-actions">
                            <button data-toggle="tooltip" data-placement="right" title="Ver Detalles" type="button"
                                class="btn btn-sm btn-primary  ml-2" data-pedido-id="{{ pedido.id_pedido }}">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/indexSales.js' %}"></script>

{% endblock %}