{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1.0">
    <title>TuiranFit</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/EstilosLogin.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <video autoplay muted loop id="video-fondo" style="width:100%">
        <source src="{% static 'img/grid.mp4' %}" type="video/mp4">
        EL navegador no admite la reproducción de videos.
      </video>
      {% comment %} <img src="{% static 'img/' %}" id="video-fondo"> {% endcomment %}
    {% comment %} <div class="wrapperLogus">
        <img class="glitch-image" src="{% static 'img/bvb.png' %}" id="logus">
    </div> {% endcomment %}
    
    <div class="wrapper">

        <h1>Iniciar Sesión</h1>
        <br>
        <center><img id="cong" src={% static 'img/GIcon.png' %} style="width:40%;"></center>
        <form method="post" action="{% url 'login_view' %}" id="login-form">
            {% csrf_token %}
            <div class="input-box">
                <input type="email" name="correo" placeholder="Correo Electrónico" autocomplete="address-line1">
                <box-icon type='solid' name='user'></box-icon>
                <center><div style="margin-top:5px;" id="correo-error" class="text-with-shadow"></div></center>
                <center><div style="margin-top:5px; " id="user-error" class="text-with-shadow"></div></center>
                <center><div style="margin-top:5px;" id="status-error" class="text-with-shadow"></div></center>
            </div>
            <div class="input-box">
                <input type="password" name="contra" placeholder="Contraseña" autocomplete="current-password">
                <box-icon name='lock-alt' type='solid'></box-icon>
                <center><div style="margin-top:5px;" id="contra-error" class="text-with-shadow"></div></center>
                <center><div style="margin-top:5px;" id="cvalid-error" class="text-with-shadow"></div></center>
            </div>
            <br>
            <div class="remember-forgot">
                <a href="{% url 'olvide_contrasena' %}">¿Olvidaste tu contraseña?</a>
            </div>            
            <center><button type="button" class="btn" id="login-button">Entrar</button></center>
        </form>
    </div>
    
    <script>
        document.getElementById('login-button').addEventListener('click', function() {
            document.getElementById('user-error').textContent = '';
            document.getElementById('correo-error').textContent = '';
            document.getElementById('contra-error').textContent = '';
            document.getElementById('status-error').textContent = '';
            document.getElementById('cvalid-error').textContent = '';
    
            var correo = document.querySelector('[name="correo"]').value;
            var contra = document.querySelector('[name="contra"]').value;
            var formData = {
                correo: correo,
                contra: contra
            };
    
            if (!correo && !contra) {
                displayError('correo', 'El correo es obligatorio');
                displayError('contra', 'La contraseña es obligatoria');
            } else if (!correo) {
                displayError('correo', 'El correo es obligatorio');
            } else if (!contra) {
                displayError('contra', 'La contraseña es obligatoria');
            } else {

                fetch("{% url 'login_view' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify(formData)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.token) {
                        console.log("Token Cargado");
                        setCookie('jwt_token', data.token, 30);
                        window.location.href = 'admin/home/';
                    } else if (data.error === 'Usuario no Registrado') {
                        displayError('user', 'No existe un usuario registrado con este correo');
                    } else if (data.error === 'Usuario inactivo'){
                        displayError('status', 'El usuario asociado a este correo esta inactivo')
                    } else if ( data.error === 'contrasena incorrecta'){
                        displayError('cvalid', 'La contraseña es incorrecta')
                    } else {
                        displayError('correo', 'Error: ' + data.error);
                    }
                })
                .catch(error => {
                    displayError('correo', 'Error: ' + error);
                });
            }
        });
    
        function displayError(field, message) {
            var errorElement = document.getElementById(field + '-error');
            errorElement.textContent = message;
        }
    
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    
        function setCookie(name, value, daysToExpire) {
            var date = new Date();
            date.setTime(date.getTime() + (daysToExpire * 24 * 60 * 60 * 1000));
            var expires = "expires=" + date.toUTCString();
            document.cookie = name + "=" + value + "; " + expires;
        }
    </script>

    <script>
        var imgn = document.getElementById('logus');
        
        imgn.oncontextmenu = function(e) {
            e.preventDefault();
        };
    </script>

    <script>
        var video = document.getElementById("video-fondo");
    
        video.playbackRate = 0.75;
    </script>
</body>
</html>