<!DOCTYPE html>
<html>
<head>
    <title>Recuperar Contraseña</title>
</head>
<body>
    <h1>Recuperar Contraseña</h1>
    <p>Ingresa tu dirección de correo electrónico para recuperar tu contraseña.</p>
    <form method="post" action="{% url 'olvide_contrasena' %}">
        {% if error_message %}
          <div style="color: red;">{{ error_message }}</div>
        {% endif %}
        {% csrf_token %}
        <label for="correo">Correo electrónico:</label>
        <input type="text" name="correo" id="correo">
        <input type="submit" value="Enviar">
    </form>   
</body>
</html>


