{% extends "baseInterface.html" %}
{% block title %} Agregar Proveedor {% endblock %}
{% block body %}

<head>
    {% load static %}
</head>
<div class="row">
    <div class="col-md-5 mb-3">
        <center>
            <h1 class="modtitles">Crear de Ventas</h1>
        </center>
    </div>
    <div class="col-md-7 mb-3">
        <div class="row justify-content-end">
            <div class="col-md-7 mx-5 cont-cliente">
                <div class="d-flex justify-content-between ">
                    <label class="mb-2">Obtener Cliente *</label>
                    <div class='text-secondary d-flex gap-2' id="cont-docu"></div>
                </div>
                <input type="text" class="form-control" id="nombreCliente" autocomplete="off"
                    placeholder="Ingrese el documento para buscar al cliente"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '');" maxlength="10">
                <span class="error-message text-danger" id="error-docu"></span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form id="venta-form" method="post" {% csrf_token %}>
        <div class="card shadow mb-4">
            <div class="card-header">
                <table class="table">
                    <thead class="theads">
                        <tr>
                            <th style="width: 40%;">Producto</th>
                            <th style="width: 15%;">Precio Unitario</th>
                            <th style="width: 10%;">Cantidad</th>
                            <th style="width: 30%;">Total del producto</th>
                            <th style="width: 5%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="producto-row">
                            <td class="p-2">
                                <input type="text" class="form-control producto" name="producto" id="producto"
                                    autocomplete="off" placeholder="Nombre del producto">
                                <span class="error-message text-danger error-produ"></span>
                                <div class="p-2">
                                    <label class="text-secondary me-2 mess-sugges-prod">Sugerencias:</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control precioUnidad" id="precioUnidad"
                                        name="precioUnidad" readonly>
                                </div>
                            </td>
                            <td>
                                <input type="number" class="form-control cantidad p-0 text-center" id="cantidad"
                                    name="cantidad" autocomplete="off" min="1" step="1"
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '');" placeholder="cantidad">
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control precioTotal" id="precioTotal"
                                        name="precioTotal" readonly>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="cont-total-venta">
                    <div>
                        <input type="text" class="form-control" style="width: 200px;" id="totalVenta" readonly
                            placeholder="Total de Venta">
                    </div>
                    <div>
                        <button class="btn btn-agregar" id="agregar-producto" type="button">+
                            Agregar producto</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cont-crear-venta">
            <button class="btn btn-crear" type="submit">Crear Venta</button>
        </div>
    </form>
</div>

<style>
    .modtitles {
        font-size: 2em;
        background-image: linear-gradient(45deg, #000000, #3c3636, #000);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: animarGradiente 3s linear infinite;
        font-weight: bold;
    }

    .table,
    .cont-cliente {
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    }

    table thead.theads {
        text-align: center;
        color: white;
        background-color: #222222;
    }

    .table tbody td input,
    .cont-cliente input {
        box-shadow: 3px 3px 20px #ccc;
    }

    .producto-row {
        border-radius: 19px 19px 7px 7px;
    }

    .table td {
        padding-top: 30px !important;
    }

    .cont-total-venta {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding: 20px;
        background-color: #F2f2f2;
    }

    .eliminar-producto {
        position: relative;
        padding: 10px;
        text-align: center;
    }

    .eliminar-producto .icono-eliminar {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        background-color: #ba4d4d;
        border-radius: 100%;
        color: #ffff;
    }

    .eliminar-producto:hover .icono-eliminar {
        animation: sacudir 0.3s ease-in 1;
        transform: translate(0);
    }

    @keyframes sacudir {
        0% {
            transform: translate(-2px, 2px);
        }

        100% {
            transform: translate(0);
        }
    }

    .cont-cliente {
        padding: 15px;
        border-radius: 2px;
    }

    .cont-crear-venta {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
        padding: 0 20px;
        background: transparent;
    }

    .btn-crear {
        width: 300px;
        color: #fff;
        font-weight: bold;
        background-color: #26272d;
    }

    .btn-crear:hover {
        color: #fff;
        opacity: 0.9;
    }

    .btn-agregar {
        width: 200px;
        border: 1px solid #3c3636;
        color: #09711c;
        font-weight: bold;
        background-color: #95eea5;
    }

    .btn-agregar:hover {
        color: #09711c;
        opacity: 0.9;
    }

    #totalVenta {
        background-color: #ccc;
        font-weight: bold;
    }

    #totalVenta:focus {
        outline: 0 !important;

    }



    .btn-agregar:active,
    .btn-agregar:active {
        transform: scale(0.95);
    }
</style>
<style>
    .eliminar-producto:hover {
        cursor: pointer;
    }

    .fa-trash-can {
        color: #a60202;
        font-size: 24px;
        display: block;
        text-align: center
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .producto-suggestions {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        padding: 0 10px;
        text-align: center;
    }

    .resultado-sugerencia:hover {
        cursor: pointer;
        opacity: 0.9;
    }


    .resultado-sugerencia {
        margin-right: 5px;
        padding: 2px 1rem;
        color: #f2f2f2;
        background-color: #09711c;
        border-radius: 5px;
        font-size: 0.8rem;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="{% static 'js/create-sales.js'%}"></script> -->
<script>
    /********** DOCUMENTO ***********/

    $(document).ready(function () {
        $("#nombreCliente").on("input", function () {
            let input = $(this).val();
            let resultadoDocu = $("#cont-docu");

            if (input.length == 8 || input.length == 10) {
                $.ajax({
                    url: "{% url 'buscar_documentos' %}?q=" + input,
                    type: "GET",
                    success: function (data) {
                        let documento = data.documentos[0];
                        let nomClienteDato = data.nombre_cliente;

                        if (data.documentos.length > 0) {
                            validarCliente(documento).then(function (existe) {
                                if (existe && documento === input) {
                                    resultadoDocu.html(
                                        "<p id='nomClienteDato'>" +
                                        nomClienteDato +
                                        "</p><span>Doc:</span><p id='documentoDato'>" +
                                        documento +
                                        "</p>"
                                    );
                                    $("#nombreCliente").addClass("is-valid");
                                } else {
                                    resultadoDocu.empty();
                                }
                            });
                        } else {
                            resultadoDocu.hide();
                        }
                    },
                    error: function () {
                        $("#nombreCliente").addClass("is-invalid");
                    },
                });
            } else {
                resultadoDocu.empty().hide(); // Limpiar y ocultar cont-docu
                $("#nombreCliente").removeClass("is-valid is-invalid"); // Remover clases de validación
            }
        });

        function validarCliente(documentoDato) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    url: "{% url 'validar_cliente' %}",
                    type: "GET",
                    data: {
                        documentoDato: documentoDato,
                    },
                    success: function (data) {
                        if (data.existe) {
                            resolve(true);
                        } else {
                            resolve(false);
                        }
                    },
                    error: function () {
                        reject(new Error("Error al validar el cliente"));
                    },
                });
            });
        }

        /********** PRODUCTO ***********/
        $(".mess-sugges-prod").after('<div class="producto-suggestions"></div>');
        $(document).on("input", ".producto", function () {
            let input = $(this).val();
            if (input.length >= 4) {
                let currentRow = $(this).closest("tr");
                $.ajax({
                    url: "{% url 'buscar_productos' %}?q=" + input,
                    type: "GET",
                    success: function (data) {
                        let suggestions = currentRow.find(".producto-suggestions");
                        suggestions.empty();
                        data.productos = data.productos.map((producto) =>
                            producto.toUpperCase()
                        );
                        if (data.productos.length > 0) {
                            let producSimilar1 = data.productos[0];
                            let producSimilar2 = data.productos[1];
                            let producSimilar3 = data.productos[2];
                            suggestions.html(
                                "<span class='resultado-sugerencia'>" + producSimilar1
                            );
                            if (data.productos.length > 1) {
                                suggestions.append(
                                    "</span><span class='resultado-sugerencia'>" +
                                    producSimilar2 +
                                    "</span>"
                                );
                            }
                            if (data.productos.length > 2) {
                                suggestions.append(
                                    "</span><span class='resultado-sugerencia'>" +
                                    producSimilar3 +
                                    "</span>"
                                );
                            }

                            suggestions.addClass("sugerencia").show();
                        } else {
                            suggestions.hide();
                        }
                    },
                    error: function () {
                        currentRow.find(".producto-suggestions").empty().hide();
                    },
                });
            } else {
                $(this).closest("tr").find(".producto-suggestions").empty().hide();
            }
        });

        $(document).on("click", function (event) {
            if (
                !$(event.target).closest(".producto").length &&
                !$(event.target).closest(".producto-suggestions").length
            ) {
                $(".producto-suggestions").empty().hide();
            }
        });

        $(document).on(
            "click",
            ".producto-suggestions span.resultado-sugerencia",
            function () {
                let currentRow = $(this).closest("tr");
                let nombreProducto = $(this).text();
                nombreProducto =
                    nombreProducto.charAt(0).toUpperCase() +
                    nombreProducto.slice(1).toLowerCase();
                currentRow.find(".producto").val(nombreProducto);

                validarProducto(currentRow, nombreProducto);
            }
        );

        $(document).on("click", ".producto-suggestions span", function () {
            let currentRow = $(this).closest("tr");
            let nombreProducto = $(this).text();
            nombreProducto =
                nombreProducto.charAt(0).toUpperCase() +
                nombreProducto.slice(1).toLowerCase();
            currentRow.find(".producto").val(nombreProducto);
            currentRow.find(".producto-suggestions").empty().hide();
            currentRow.find(".precioUnidad").removeClass("is-invalid");
        });

        /********** PRECIOS ***********/
        $(document).on("input", ".producto", function () {
            let currentRow = $(this).closest("tr");
            let nombreProducto = $(this).val();
            currentRow.find(".error-produ").text(""); // Limpiar mensaje de error
            if (nombreProducto.length >= 3) {
                // Validar el producto antes de obtener el precio
                validarProducto(currentRow, nombreProducto);
            } else {
                currentRow.find(".cantidad, .precioTotal, .precioUnidad").val("");
                calcularTotalVenta();
            }
        });

        function validarProducto(currentRow, nombreProducto) {
            $.ajax({
                url: "{% url 'validar_producto' %}",
                type: "GET",
                data: {
                    nombre_producto: nombreProducto,
                },
                success: function (data) {
                    if (data.existe) {
                        obtenerPrecioProducto(currentRow, nombreProducto);
                    } else {
                        currentRow.find(".cantidad, .precioTotal, .precioUnidad").val("");
                    }
                },
                error: function () {
                    currentRow.find(".cantidad, .precioTotal").val("");
                },
            });
        }

        function obtenerPrecioProducto(currentRow, nombreProducto) {
            $.ajax({
                url: "{% url 'obtener_precio_producto' %}",
                type: "GET",
                data: {
                    nombre_producto: nombreProducto,
                },
                success: function (data) {
                    if ("precio" in data) {
                        let precioU = currentRow.find(".precioUnidad").val(
                            parseFloat(data.precio).toLocaleString(undefined, {
                                minimumFractionDigits: 0,
                            })
                        );
                    } else {
                        currentRow.find(".precioUnidad").addClass("is-invalid");
                    }
                },
                error: function () {
                    currentRow.find(".cantidad, .precioTotal").val("");
                },
            });
        }
        $(document).ready(function () {
            $(".precioTotal").val("");
            $(".precioUnidad").val("");
            $("#totalVenta").val("");
        });

        $(document).on("input", ".cantidad", function () {
            calcularTotalProducto($(this));
        });
        function calcularTotalProducto(inputCantidad) {
            let currentRow = inputCantidad.closest("tr");
            let precioUnidad = parseFloat(currentRow.find(".precioUnidad").val());
            let cantidad = parseFloat(inputCantidad.val());

            if (!isNaN(precioUnidad) && !isNaN(cantidad)) {
                let total = precioUnidad * cantidad;
                let totalProductoFormateado = total.toLocaleString(undefined, {
                    minimumFractionDigits: 3,
                });
                currentRow.find(".precioTotal").val(totalProductoFormateado);
                calcularTotalVenta();
            } else {
                currentRow.find(".precioTotal").val("");
                calcularTotalVenta();
            }
        }

        $(document).on("click", ".eliminar-producto", function () {
            currentRow = $(this).closest("tr.producto-row").remove();
            calcularTotalVenta();
        });

        $("#agregar-producto").on("click", function () {
            let nuevaFila =
                '<tr class="producto-row">' +
                "<td>" +
                '<input type="text" class="form-control producto" name="producto" id="producto" autocomplete="off" placeholder="Nombre del producto">' +
                '<span class="error-message text-danger error-produ" ></span>' +
                '<div class="p-2">' +
                '<label class="text-secondary me-2 mess-sugges-prod">Sugerencias:</label>' +
                "</div>" +
                '<span class="error-message producto-error"></span>' +
                "</td>" +
                "<td>" +
                '<div class="form-group">' +
                '<input type="text" class="form-control precioUnidad" id="precioUnidad" name="precioUnidad" readonly>' +
                '<span class="error-message" id="precioU-error"></span>' +
                "</div>" +
                "</td>" +
                "<td>" +
                '<div class="form-group">' +
                '<input type="number" class="form-control cantidad" id="cantidad" name="cantidad" autocomplete="off" min="1" oninput="this.value = this.value.replace(/[^0-9]/g, \'\');" placeholder="Cantidad">' +
                "</div>" +
                "</td>" +
                "<td>" +
                '<div class="form-group">' +
                '<input type="text" class="form-control precioTotal" id="precioTotal" name="precioTotal" readonly>' +
                '<span class="error-message" id="total-error"></span>' +
                "</div>" +
                '<td class="eliminar-producto"><span class="icono-eliminar">X</span></td>' +
                "</td>";
            +"</tr>";
            let filaAgregada = $(nuevaFila);
            $("tbody").append(filaAgregada);

            // Inicializa las sugerencias en la fila recién agregada
            inicializarSugerenciasEnFila(filaAgregada);
        });

        function inicializarSugerenciasEnFila(fila) {
            fila
                .find(".mess-sugges-prod")
                .after('<div class="producto-suggestions"></div>');
        }

        function calcularTotalVenta() {
            let totalVenta = 0;

            $(".producto-row").each(function () {
                let precioTotal = parseFloat(
                    $(this).find(".precioTotal").val().replace(",", "")
                );

                if (!isNaN(precioTotal)) {
                    totalVenta += precioTotal;
                }
            });
            let totalVentaFormateado = totalVenta.toLocaleString(undefined, {
                minimumFractionDigits: 3,
            });

            $("#totalVenta").val("$ " + totalVentaFormateado);
        }

        function validarCamposLlenos() {
            let camposLlenos = true;
            const documentoValue = $("#documentoDato").text();
            const nombreClienteValue = $("#nombreCliente").val();
            const productos = [];

            if (!nombreClienteValue) {
                mostrarError("#nombreCliente");
                $("#error-docu").text(
                    "El campo del documento no puede estar vacío. Por favor, ingrésalo correctamente."
                );
                camposLlenos = false;
            } else if (!documentoValue) {
                mostrarError("#nombreCliente");
                $("#error-docu").text(
                    "El documento debe estar correctamente escrito. Por favor, verifica y vuelve a intentar."
                );
                camposLlenos = false;
            }

            $(".producto-row").each(function (index) {
                const row = $(this);
                const productoInput = row.find(".producto");
                const cantidadInput = row.find(".cantidad");
                const precioUnidad = row.find(".precioUnidad").val();
                const precioUnidadInput = row.find(".precioUnidad");
                const precioTotalInput = row.find(".precioTotal");

                const productoValue = productoInput.val();
                const precioUnidadValue = parseInt(precioUnidadInput.val());
                const precioTotalValue = parseInt(precioTotalInput.val().replace(/[^\d.-]/g, ''));

                const cantidadValue = parseFloat(cantidadInput.val());

                if (!precioUnidadValue) {
                    productoInput.addClass("is-invalid");
                    row
                        .find(".error-produ")
                        .text(
                            "Por favor, selecciona un producto válido para completar el registro."
                        );
                    camposLlenos = false;
                }

                if (!productoValue) {
                    mostrarError(productoInput);
                    camposLlenos = false;
                }

                if (!cantidadValue) {
                    mostrarError(cantidadInput);
                    camposLlenos = false;
                } else {
                    productos.push({
                        nombre: productoValue,
                        precioUnidad: precioUnidadValue,
                        precioTotal: precioTotalValue,
                        cantidad: cantidadValue,
                    });
                }
            });

            return camposLlenos
                ? { documento: documentoValue, productos: productos }
                : null;
        }

        function mostrarError(selector) {
            $(selector).addClass("is-invalid");

            $("#nombreCliente, .producto, .cantidad").on("input", function () {
                const campo = $(this);
                $("#error-docu").text("");
                if (campo.val()) {
                    campo.removeClass("is-invalid");
                }
            });
        }

        $("#venta-form").submit(function (event) {
            event.preventDefault();

            const data = validarCamposLlenos();
            if (!data) {
                return;
            }
            $.ajax({
                type: "POST",
                url: "{% url 'crear_venta' %}",
                data: JSON.stringify(data), // convertir a json
                contentType: "application/json",
                success: function (response) {
                    if (response.success) {
                        alert("Venta creada con éxito.");
                        window.location.href = "{% url 'ventas' %}";
                    }
                },
            });
        });
    });

</script>

{% endblock %}