{% extends "baseInterface.html" %}
{% block title %}Agregar Venta{% endblock %}
{% block body %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/CreateVentas.css' %}">
</head>

<section class="venta-section">
    <h1 class="venta-title">Agregar Venta</h1>
    <div class="venta-container">
        <div class="cliente-container">
            <div class="cliente-header">
                <span class="cliente-label">Cliente *</span>
                <div>
                    <span id="cont-docu"></span>
                    <span id="cont-icon-pedido" class="ml-2"></span>
                </div>
            </div>
            <input type="search" class="form-control" id="nombreCliente" autocomplete="off"
                placeholder="Ingrese el nombre del cliente">
            <div class="error-container">
                <span class="error-text" id="error-docu"></span>
            </div>
        </div>
        <div class="resultado-container">
            <ul id="resultado-cliente">
            </ul>
        </div>
    </div>
</section>

<section class="product-section">
    <div class="product-content">
        <div class="product-header">
            <label class="producto-label">Ingreso de Productos</label>
            <p>Encuentra todos tus productos y finaliza las ventas de una forma fácil</p>
        </div>
        <div class="product-inputs">
            <div class="search-container">
                <input type="search" class="form-control product-search" id="buscarProducto"
                    placeholder="Ingrese el nombre del producto" data-id-producto="">
                <i class="fas fa-search search-icon"></i>
            </div>
            <div class="number-input">
                <button onclick="decrement(this)" id="decrement">-</button>
                <input class="quantity" min="1" name="quantity" value="1" type="number" autocomplete="off" step="1"
                    id="cantidad-ingresada" max="100" readonly
                    oninput="this.value = this.value.replace(/[^0-9]/g, ''); if (this.value === '0') this.value = ''">
                <button onclick="increment(this)" id="increment">+</button>
            </div>
            <input type="button" value="Añadir a lista" class="btn-acciones btn-verificar" id="btnAgregar">
        </div>
        <div class="resultado-container">
            <ul id="resultado-producto">
            </ul>
        </div>
    </div>
</section>

<section class="product-table-section mt-4" id="product-table-section">
    <div class="loading">
        <div class="dot-spinner">
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
        </div>
    </div>
    <label class="producto-label">Lista de Productos *</label></br>
    <span id="tipo-pedido-frase">Aquí se listarán los productos seleccionados para la venta</span>
    <table class="table" id="tabla-ventas">
        <thead class="text-center">
            <tr>
                <th class="product-column">Producto</th>
                <th class="price-column">Precio Compra (Unidad)</th>
                <th class="price-column">Precio Venta (Unidad)</th>
                <th class="price-column">Margen total de Ganancia</th>
                <th class="total-column">Total del Producto</th>
                <th class="icon-column"></th>
            </tr>
        </thead>
        <tbody id="producto-tbody">
        </tbody>
    </table>
    <div class="producto-cont-descuento">
        <div>
            <span>Aplicar Descuento a la Venta</span>
            <div class="input-wrapper">
                <input class="descuento" name="descuento" type="number" value="0" autocomplete="off" step="1"
                    onkeydown="return validateInput(event)" title="Aplicar Descuento" id="descuento-venta"
                    style="width: 65px !important;">
                <span class="percent-sign">%</span>
            </div>
        </div>
        <div
            style="border: 1px solid #ccc; display: flex; flex-direction: column; width: auto; gap: 10px; padding: 10px 15px;">
            <div class="d-flex justify-content-between gap-3  align-items-center">
                <span>Descuento de Venta:</span>
                <span id="total-venta-descuento" style=" color: rgb(48, 48, 163);"></span>
            </div>
            <div class="d-flex justify-content-between gap-3  align-items-center">
                <span>Total de Ganancia:</span>
                <span id="total_ganancia_venta"></span>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <span class="pt-1">Total de la Venta:</span>
                <span id="total-venta" class="ml-3" style="font-weight: bold; color: rgb(184, 62, 62);"></span>
            </div>
        </div>
    </div>
</section>
<div style="text-align: end; width: 100%; margin-top: 30px; padding-bottom: 50px;">
    <p id="campos-requeridos">Campos Requeridos (*)</p>
    <input type="button" value="Guardar Venta" id="crear-venta" class="btn-acciones btn-crear mx-2">
</div>
<style>
</style>
<script>
    function ClientesConPedidos(documento, pedidos) {
        const pedidosSelect = JSON.parse(localStorage.getItem('pedidos-select')) || {};
        function generarFilasPedidos(pedidos) {
            pedidos.sort((a, b) => {
                if ((a.estado === "cancelado" || a.estado === "confirmado") && (b.estado !== "cancelado" && b.estado !== "confirmado")) {
                    return 1;
                } else if ((a.estado !== "cancelado" && a.estado !== "confirmado") && (b.estado === "cancelado" || b.estado === "confirmado")) {
                    return -1;
                }
                return 0;
            });
            return pedidos.map((pedido, index) => {
                const isDisabled = pedidosSelect[pedido.id_pedido] === 'disable';
                const tieneProductoSinStock = pedido.detalles.some(detalle => detalle.cantidad_stock <= 0);
                const esPedidoEnProceso = pedido.estado === "en proceso";
                const estado_producto = pedido.detalles.some(detalle => detalle.estado_producto === 0);
                return `
        <tr class="pedido" style="text-align: center; vertical-align: middle; position: relative;">
            <td>
                <input type="checkbox" class="pedido-checkbox" value="${pedido.id_pedido}"
                    ${pedido.estado === "cancelado" || pedido.estado === "confirmado" || isDisabled ? "disabled" : ""}
                    ${isDisabled ? 'checked' : ''}
                    ${pedido.estado === "cancelado" || pedido.estado === "confirmado" || tieneProductoSinStock || estado_producto ? "disabled" : ""}>
                </td>
            <td class="position-relative">
                ${pedido.fecha_pedido}
                ${esPedidoEnProceso
                        ? (estado_producto && tieneProductoSinStock
                            ? '<span class="sin-stock">Tiene al menos un producto inhabilitado o sin stock</span>'
                            : (estado_producto
                                ? '<span class="sin-stock">Tiene al menos un producto inhabilitado</span>'
                                : '') +
                            (tieneProductoSinStock
                                ? '<span class="sin-stock">Tiene al menos un producto sin stock</span>'
                                : ''))
                        : ''
                    }
            </td>
            <td>${formatearPrecios(pedido.total_pedido)}</td>
            <td>
                <button class="btn btn-secondary btn-detalle mb-2" data-index="${index}">
                    Detalle <i class="fas fa-chevron-down icono-detalle" data-index="${index}"></i>
                </button>
            </td>
            <td data-toggle="tooltip" data-placement="rigth" title="${pedido.estado === "cancelado" ? "Cancelado" : pedido.estado === "en proceso" ? "En proceso" : "Confirmado"}"><span style="border-radius: 50%; width: 15px; height: 15px; display: block; position: absolute; top: 10px; right: 10px;" class="${pedido.estado === "cancelado" ? "inactive-status" : pedido.estado === "en proceso" ? "en_proceso_pedido" : "active-status"}" data-pedido-id="${pedido.id_pedido}"></span></td>
        </tr>

        <tr class="fila-detalle detalle-${index}" style="display: none;">
            <td colspan="4" style="padding:0;">
                <div class="detalle-contenedor" style="text-align: center;">
                    <table class="table table-detalle-pedido" style="width: 100%; overflow-x: auto; border-collapse: collapse; background-color: #f8f9fa; margin: auto;">
                        <thead>
                            <tr style="background-color: #e9ecef;">
                                <th style="width:200px;">Producto</th>
                                <th>Sabor</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Total del Producto</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            ${pedido.detalles.map(detalle => `
                                <tr style="text-align: center; vertical-align: middle; position: relative;">
                                    <td>${detalle.nombre_producto}</td>
                                    <td>${detalle.sabor}</td>
                                    <td>${detalle.cantidad}</td>
                                    <td>${formatearPrecios(detalle.precio_uni)}</td>
                                    <td>${formatearPrecios(detalle.precio_tot)}</td>
                                    <td>
                                        <a href="/admin/orders/edit_order_home/${pedido.id_pedido}" class="btn btn-sm mr-2" style="${pedido.estado === "cancelado" || pedido.estado == 'confirmado' ? 'pointer-events:none;opacity:0.8;' : ""}"
                                            id="editbutton">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                    </td>
                                    </td>
                                </tr>
                            `).join('')}
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    `;
            }).join('');
        }
        Swal.fire({
            html: `
        <div class="container mt-4">
            <div class="row mb-3">
                <div class="col d-flex justify-content-between">
                    <p id="nombreCliente"><strong>${$("#nombreCliente").val()}</strong></p>
                    <p id="documentoCliente"><strong>Documento: ${documento}</strong></p>
                </div>
            </div>
            <div class="row cont-pedidos-alto">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input type="checkbox" id="seleccionarTodos">
                                </th>
                                <th scope="col">Fecha del Pedido</th>
                                <th scope="col">Total del Pedido</th>
                                <th></th>
                                <th style="width:30px"></th>
                            </tr>
                        </thead>
                        <tbody id="tablaPedidos">
                            ${generarFilasPedidos(pedidos)}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row mt-2">
                <p class="text-start"></p>
                <p class="text-start text-danger" id="error-pedido"></p>
                <div class="col">
                    <button id="cargarPedidos" class="btn btn-primary">Cargar Pedidos</button>
                    <button id="volverPedidos" class="btn btn-danger">Volver atrás</button>
                </div>
            </div>
        </div>
        `,
            showCloseButton: true,
            showConfirmButton: false,
            width: 'auto',
            maxWidth: '85%',
            didOpen: () => {
                $('[data-toggle="tooltip"]').tooltip({
                    trigger: 'hover',
                    placement: 'top',
                    delay: { "show": 0, "hide": 0 }
                });

                const seleccionarTodosCheckbox = document.getElementById('seleccionarTodos');
                const checkboxes = document.querySelectorAll('.pedido-checkbox');

                seleccionarTodosCheckbox.addEventListener('click', (event) => {
                    checkboxes.forEach(checkbox => {
                        if (!checkbox.disabled) {
                            checkbox.checked = event.target.checked;
                        }
                    });
                });

                checkboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', () => {
                        document.getElementById('error-pedido').textContent = '';
                        const todosSeleccionados = Array.from(checkboxes).every(cb => cb.checked || cb.disabled);
                        seleccionarTodosCheckbox.checked = todosSeleccionados;
                    });
                });

                document.getElementById('volverPedidos').addEventListener('click', () => {
                    window.location.reload();
                });

                document.getElementById('cargarPedidos').addEventListener('click', async () => {
                    const checkboxes = document.querySelectorAll('.pedido-checkbox');
                    const idsSeleccionados = Array.from(checkboxes).filter(cb => cb.checked && !cb.disabled).map(cb => cb.value);
                    const resultadosAjax = [];
                    const pedidosSelect = {};

                    if (idsSeleccionados.length === 0) {
                        document.getElementById('error-pedido').textContent = 'Debe seleccionar al menos un pedido';
                        return;
                    } else {
                        document.getElementById('error-pedido').textContent = '';
                    }

                    checkboxes.forEach(cb => {
                        pedidosSelect[cb.value] = cb.checked ? 'disable' : 'no-disable';
                    });

                    localStorage.setItem('pedidos-select', JSON.stringify(pedidosSelect));

                    async function agregarDetalles(ids) {
                        for (const id_pedido of ids) {
                            const pedidoEncontrado = pedidos.find(pedido => pedido.id_pedido.toString() === id_pedido);
                            if (pedidoEncontrado && pedidoEncontrado.detalles.length > 0) {
                                for (const detalle of pedidoEncontrado.detalles) {
                                    const resultado = await agregarDetalleATabla(id_pedido, detalle.sabor, detalle.id_producto, detalle.cantidad, detalle.precio_uni);
                                    resultadosAjax.push(resultado);
                                }
                            } else {
                                console.log(`No se encontraron detalles para el pedido con ID: ${id_pedido}`);
                            }
                        }
                    }

                    await agregarDetalles(idsSeleccionados);
                    resultadosAjax.forEach(resultado => agregarFilaPedido(resultado));
                    $(".producto-cont-descuento").addClass("show");
                    totalVenta()

                    Swal.close();
                });

                function agregarDetalleATabla(id_pedido, sabor, id_producto, cantidad, precio_uni) {
                    return new Promise((resolve, reject) => {
                        var url = "{% url 'agregarDetalleATabla' %}";

                        $.ajax({
                            url: url,
                            type: 'GET',
                            data: {
                                id_pedido: id_pedido,
                                sabor,
                                id_producto: id_producto,
                                cantidad: cantidad,
                                precio_uni: precio_uni
                            },
                            success: function (response) {
                                let resultado = response.resultado;
                                resolve(resultado);
                            },
                            error: function (xhr, status, error) {
                                console.error('Error en la petición AJAX:', error);
                                reject(error);
                            }
                        });
                    });
                }
            }
        });

        function formatearPrecios(valor) {
            valor = Math.round(valor * 100) / 100;
            let precioFormateado = valor.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
            return '$' + precioFormateado;
        }
        function calcularPreciosPedido(precio_venta, precio_ganancia, cantidad_seleccionada) {
            let ganancia_total = formatearPrecios(precio_ganancia * cantidad_seleccionada);
            let total_venta = formatearPrecios(precio_venta * cantidad_seleccionada);
            precio_venta = formatearPrecios(precio_venta);
            return { ganancia_total, total_venta, precio_venta };
        }

        function totalVenta() {
            let descuentoInput = $("#descuento-venta").val();
            let descuento = descuentoInput ? parseFloat(descuentoInput.replace(/[%]/g, '')) / 100 : 0;
            let totalVenta = 0;
            let totalGanancia = 0;

            $("#tabla-ventas tr.producto-row").each(function () {
                let fila = $(this);
                let totalProducto = parseFloat(fila.find(".total_producto").text().replace(/[$,.]/g, ''));
                let gananciaProducto = parseFloat(fila.find(".total_ganancia_producto").text().replace(/[$,.]/g, ''));
                totalVenta += totalProducto;
                totalGanancia += gananciaProducto;
            });
            let descuentoValor = totalVenta * descuento;
            totalVenta = totalVenta - descuentoValor;
            totalGanancia = totalGanancia - descuentoValor;
            if (totalGanancia < 0) {
                totalGanancia = 0;
            }
            $("#total-venta").text(formatearPrecios(totalVenta));
            $("#total_ganancia_venta").text(formatearPrecios(totalGanancia));
            if (descuentoInput) {
                $("#total-venta-descuento").text(formatearPrecios(descuentoValor));
            } else {
                $("#total_ganancia_venta").text(formatearPrecios(0));
            }
        }

        function agregarFilaPedido(resultado) {
            let tbody = $("#producto-tbody");
            let precios = calcularPreciosPedido(resultado.precio_venta_pagina, resultado.precio_ganancia, resultado.cantidad_pagina);
            let itemFila = `
                <tr class="producto-row" data-id-pedido="${resultado.id_pedido}" data-id-producto="${resultado.id_producto}" data-precio-venta="${precios.precio_venta}">
                    <td class="p-2 celda-producto">
                        <div class="product-info">
                            <div class="product-details-container">
                                <div class="cont-img">
                                    <img src="/media/${resultado.presentacion}" alt="Imagen" class="img-fluid">
                                </div>
                                <ul class="product-details">
                                    <li><strong>${resultado.nombre_producto}</strong></li>
                                    <span style="text-transform:capitalize;"><strong class="mr-2">Sabor: ${resultado.sabor}</strong></span>
                                    <li>
                                        <span><strong class="mr-2">Marca:</strong>${resultado.marca}</span>
                                    </li>
                                    <li><strong class="mr-2">Categoria:</strong>${resultado.categoria}</li>
                                    <li class="mt-3 d-flex align-items-center gap-3">
                                        <div>
                                            <div class="number-input">
                                                <button onclick="decrement(this)" id="decrement" disabled><strong>-</strong></button>
                                                <input class="quantity cantidad-fila" value="${resultado.cantidad_pagina}" disabled min="1" max="${resultado.cantidad}" name="quantity" type="number" readonly value="1" autocomplete="off" step="1" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if (this.value === '0') this.value = ''">
                                                <button onclick="increment(this)" id="increment" disabled><strong>+</strong></button>
                                            </div>      
                                        </div>
                                        <div class="input-wrapper">
                                            <input class="descuento" name="descuento" type="number" value="0" autocomplete="off" step="1" title="Aplicar descuento" onkeydown="return validateInput(event)">
                                            <span class="percent-sign">%</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="precio_compra"> ${formatearPrecios(resultado.precio_compra)} </td>
                    <td> <span class="precio_venta">${precios.precio_venta}</span></td>
                    <td class="total_ganancia_producto"> ${precios.ganancia_total} </td>
                    <td class="total_producto"> ${precios.total_venta} </td>
                </tr>
                `;
            tbody.append(itemFila);
            $(".product-table-section").addClass("show")
            $("#tabla-ventas").addClass("show")
            Swal.close();
        }
    }
    $("#cont-icon-pedido").on("click", function () {
        if ($(this).find(".fa-truck").css("color") === "rgb(0, 128, 0)") {
            let documento = $("#documento").text();
            let pedidos = $(".cliente-item.activo").data('pedidos');
            let tipoPedido = $('.cliente-container').data('tipo-pedido');

            if (tipoPedido === "con pedido") {
                ClientesConPedidos(documento, pedidos);
            }
        }
    });

    $(document).on('click', '.btn-detalle', function () {
        let index = $(this).data('index');
        let detalleActual = $(`.detalle-${index}`);
        let iconoActual = $(this).find('.icono-detalle');

        if (detalleActual.is(':visible')) {
            detalleActual.hide();
            iconoActual.removeClass('fa-chevron-up').addClass('fa-chevron-down');
        } else {
            $('.fila-detalle').hide();
            $('.icono-detalle').removeClass('fa-chevron-up').addClass('fa-chevron-down');

            detalleActual.show();
            iconoActual.removeClass('fa-chevron-down').addClass('fa-chevron-up');
        }
    });

    function infoPedido() {
        Swal.fire({
            icon: "question",
            text: "En esta área se listarán los pedidos elegidos para concretar la venta. Recuerde que cualquier modificación en referencias o cantidades debe efectuarse desde el módulo de pedidos. Además, tenga en cuenta que los ajustes de precios resultantes de descuentos aplicados se actualizarán en el pedido tras finalizar la venta, garantizando así la coherencia con los artículos vendidos.",
            confirmButtonText: 'Entendido',
            confirmButtonColor: '#dc3545'
        });
    }

    $(document).ready(function () {
        localStorage.removeItem('pedidos-select');
        Swal.fire({
            html: `
        <div class="container mt-4">
            <div class="row mb-3">
                <div class="col text-center">
                    <p><strong>¿Desea registrar una venta para un pedido existente o será una venta sin pedido previo?</strong></p>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button id="cargarPedidosBtn" class="btn btn-primary">Cargar Pedido Existente</button>
                        <button id="ventaSinPedidoBtn" class="btn btn-secondary">Venta Sin Pedido</button>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <a href="/admin/sales/" class="btn btn-danger" style="text-decoration:none; padding:6px 15px;">Salir</a>
                    </div>
                </div>
            </div>
        </div>
            `,
            showCloseButton: false,
            showConfirmButton: false,
            width: '60%',
            allowOutsideClick: false,

            didOpen: () => {
                document.getElementById('cargarPedidosBtn').addEventListener('click', function () {
                    document.querySelector('.cliente-container').setAttribute('data-tipo-pedido', 'con pedido');
                    Swal.close();
                    $(".product-section").hide();
                    $("#tipo-pedido-frase").html(`
                            <span>Aquí se listarán los pedidos seleccionados para la venta</span>
                            <i class="fas fa-question-circle" onclick="infoPedido()"></i>
                        `);
                });

                document.getElementById('ventaSinPedidoBtn').addEventListener('click', function () {
                    document.querySelector('.cliente-container').setAttribute('data-tipo-pedido', 'sin pedido');
                    Swal.close();
                });
            }
        });

        let listadoClientes = $("#resultado-cliente");

        $("#nombreCliente").on("input", function () {
            let nombreCliente = $(this).val();
            $("#nombreCliente").removeClass("is-invalid")
            $("#campos-requeridos").css("color", "");

            listadoClientes.show();
            $("#cont-docu").empty()
            $("#cont-icon-pedido").empty()
            $("#nombreCliente").removeClass("is-valid")
            let tipoPedido = $('.cliente-container').data('tipo-pedido');

            if (nombreCliente.length >= 3) {
                $.ajax({
                    url: "{% url 'buscar_cliente' %}",
                    data: {
                        nombreCliente: nombreCliente,
                        tipoPedido: tipoPedido
                    },
                    type: "GET",
                    success: function (data) {
                        listadoClientes.empty();
                        listadoClientes.removeClass("show");
                        if (data.resultados.length > 0) {
                            for (let i = 0; i < data.resultados.length; i++) {
                                listadoClientes.addClass("show");
                                let documento = data.resultados[i].documento;
                                let nomClienteDato = data.resultados[i].nombre_cliente;
                                let estadoCliente = data.resultados[i].estado;
                                let pedidos = data.resultados[i].pedidos;
                                let tienePedidos = data.resultados[i].pedidos.length > 0;
                                let tienePedidosEnProceso = false;
                                if (tienePedidos) {
                                    tienePedidosEnProceso = data.resultados[i].pedidos.some(pedido => pedido.estado === "en proceso");
                                }
                                let itemLista = `
                                <li class="cliente-item ${estadoCliente === 1 ? "activo" : "inactivo"}" data-pedidos='${JSON.stringify(pedidos)}' >
                                    <div class="d-flex justify-content-between" style="width:100%;">
                                        <span id="nombreDato">${nomClienteDato}</span>
                                        <div>
                                            <span id="documentoDato">${documento}</span>
                                            <i class="fas fa-truck mx-2" style="${tienePedidosEnProceso ? "color:green;" : "color:#0000006e"}" data-toggle="tooltip" data-placement="right" title="Pedidos pendientes"></i>
                                        </div>
                                    </div>
                                    ${estadoCliente === 0 ? '<span style="margin-right:20px; color: red; opacity: 0.5">Inhabilitado</span>' : ''}
                                </li>
                                `;
                                listadoClientes.append(itemLista);
                            }
                        }
                    },
                });
            } else {
                listadoClientes.removeClass("show");
                listadoClientes.empty();
            }
        });

        listadoClientes.on("click", ".cliente-item", function () {
            if (!$(this).hasClass("inactivo")) {
                let nombreApellido = $(this).find("#nombreDato").text();
                let documento = $(this).find("#documentoDato").text();
                let pedidos = JSON.parse($(this).attr('data-pedidos'));
                let tienePedidos = pedidos.length > 0;
                let tienePedidosEnProceso = pedidos.some(pedido => pedido.estado === "en proceso");
                let tipoPedido = $('.cliente-container').data('tipo-pedido');

                $("#error-docu").text("");
                let identificacionCompleta = `Identificación: <span id="documento">${documento}</span>`;
                $("#cont-docu").html(identificacionCompleta);
                $("#nombreCliente").val(nombreApellido).addClass("is-valid");
                listadoClientes.hide();

                let iconoCarrito = `<i class="fas fa-truck" style="color:${tienePedidosEnProceso ? "green" : "#0000006e"}"></i>`;
                $("#cont-icon-pedido").html(iconoCarrito)

                if (tipoPedido === "con pedido" && pedidos && pedidos.length > 0) {
                    $('#nombreCliente').prop('disabled', true);
                    ClientesConPedidos(documento, pedidos);
                }
            }
        });
    });
</script>

{% block footer %}

{% endblock %}

<style>
    .details-title {
        color: #333;
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }

    .details-subtitle {
        color: #333;
        font-size: 24px;
        margin: 20px 0;
    }

    .details-container p {
        color: #666;
        margin-bottom: 10px;
    }

    .details-table {
        background-color: #f2f2f2;
        margin: 10px 0;
    }

    .details-table {
        text-align: center;
        vertical-align: middle;
    }

    .details-sale {
        text-align: end;
        padding: 10px;
    }
</style>
<script>
    $(document).ready(function () {
        let listadoProductos = $("#resultado-producto");
        var productoSeleccionado
        $("#buscarProducto").on("input", function () {
            let buscarProducto = $(this).val();
            $("#buscarProducto").removeClass("is-valid");
            $("#btnAgregar").removeClass("is-active")
            $(".search-icon").show()
            $("#cantidad-ingresada").val("1")
            $("#buscarProducto").data('id-producto', "");
            listadoProductos.show();

            if (buscarProducto.length >= 3) {
                $.ajax({
                    url: "{% url 'buscar_productos' %}?q=" + buscarProducto,
                    type: "GET",
                    success: function (data) {
                        listadoProductos.empty();
                        listadoProductos.removeClass("show");

                        if (data.resultados.length > 0) {
                            resultadosBusqueda = data.resultados;
                            for (let i = 0; i < data.resultados.length; i++) {
                                listadoProductos.addClass("show");
                                let estadoProducto = data.resultados[i].estado;
                                let producto = data.resultados[i].nombre_producto;
                                let img = data.resultados[i].presentacion;
                                let cantidad = data.resultados[i].cantidad;
                                let itemLista = `
                                <li class="producto-item ${estadoProducto === 1 ? "activo" : "inactivo"} ${cantidad <= 0 ? "inactivo-stock" : ""}">
                                    <div class="product-details-container">
                                        <img src="/media/${img}" alt="Imagen" class="img-fluid">
                                        <p><strong>STOCK:</strong><span class="${cantidad <= 5 ? "text-danger" : "font-weight-bold"} ml-1">${cantidad}</span></p>
                                    </div>
                                    <div class="text-end">
                                        <span id="nombreDato">${producto}</span></br>
                                        ${estadoProducto === 0 ? '<span style="color: red; opacity: 0.5">Inhabilitado</span>' : cantidad === 0 ? '<span style="color: red; opacity: 0.5">Producto sin stock</span>' : ''}
                                    </div>
                                </li>
                            `;
                                listadoProductos.append(itemLista);
                            }
                        }
                    },
                });
            } else {
                listadoProductos.removeClass("show");
                listadoProductos.empty();
            }
        });

        listadoProductos.on("click", ".producto-item", function () {
            if (!$(this).hasClass("inactivo")) {
                if ($(this).hasClass("inactivo-stock")) {
                    Swal.fire({
                        icon: "error",
                        text: "Producto sin stock",
                        confirmButtonText: 'Entendido',
                        confirmButtonColor: '#dc3545'
                    });
                } else {
                    listadoProductos.hide();
                    let index = $(this).index();
                    productoSeleccionado = resultadosBusqueda[index];
                    $("#buscarProducto").val(productoSeleccionado.nombre_producto).addClass("is-valid");
                    $("#buscarProducto").data('id-producto', productoSeleccionado.id_producto);
                    $(".search-icon").hide()
                    $("#cantidad-ingresada").val("1")
                    $("#btnAgregar").addClass("is-active")
                }
            } else {
                Swal.fire({
                    icon: "error",
                    confirmButtonColor: '#dc3545',
                    confirmButtonText: 'Entendido',
                    text: "Producto inhabilitado"
                });
            }
        });

        function totalVenta() {
            let descuentoInput = $("#descuento-venta").val();
            let descuento = descuentoInput ? parseFloat(descuentoInput.replace(/[%]/g, '')) / 100 : 0;
            let totalVenta = 0;
            let totalGanancia = 0;

            $("#tabla-ventas tr.producto-row").each(function () {
                let fila = $(this);
                let totalProducto = parseFloat(fila.find(".total_producto").text().replace(/[$,.]/g, ''));
                let gananciaProducto = parseFloat(fila.find(".total_ganancia_producto").text().replace(/[$,.]/g, ''));
                totalVenta += totalProducto;
                totalGanancia += gananciaProducto;
            });
            let descuentoValor = totalVenta * descuento;
            totalVenta = totalVenta - descuentoValor;
            totalGanancia = totalGanancia - descuentoValor;
            if (totalGanancia < 0) {
                totalGanancia = 0;
            }
            $("#total-venta").text(formatearPrecios(totalVenta));
            $("#total_ganancia_venta").text(formatearPrecios(totalGanancia));
            if (descuentoInput) {
                $("#total-venta-descuento").text(formatearPrecios(descuentoValor));
            } else {
                $("#total_ganancia_venta").text(formatearPrecios(0));
            }
        }
        function verificarStock(producto, callback) {
            let id_producto = producto.id_producto;
            let cantidad = producto.cantidadSeleccionada;

            $("#tabla-ventas tr.producto-row").each(function () {
                if ($(this).data('id-producto') == id_producto) {
                    let cantidadExistente = parseInt($(this).find(".cantidad-fila").val(), 10);
                    cantidad += cantidadExistente;
                }
            });

            $.ajax({
                url: "{% url 'verificar_stock' %}",
                type: 'GET',
                data: {
                    'id_producto': id_producto,
                    'cantidad': cantidad
                },
                dataType: 'json',
                success: function (data) {
                    if (data.supera_stock) {
                        let difrencia_cant = cantidad - data.cantidad_disponible
                        Swal.fire({
                            icon: 'warning',
                            html: `
                            <div class="swal2-center" style="text-align: center;">
                                <h5>La cantidad ingresada supera el stock disponible por ${difrencia_cant} productos</h5>
                            </div>
                            `,
                            showCloseButton: false,
                            showConfirmButton: true,
                            confirmButtonColor: '#dc3545',
                            confirmButtonText: 'Entendido',
                        });
                        callback(false);
                    } else {
                        callback(true);
                    }
                }
            });
        }

        $("#btnAgregar").click(function () {
            if (productoSeleccionado) {
                productoSeleccionado.cantidadSeleccionada = parseInt($("#cantidad-ingresada").val(), 10);

                verificarStock(productoSeleccionado, function (puedeAgregar) {
                    if (puedeAgregar) {
                        let productoExistente = false;
                        let id_producto = productoSeleccionado.id_producto;
                        let cantidad = productoSeleccionado.cantidadSeleccionada;

                        $("#tabla-ventas tr.producto-row").each(function () {
                            if ($(this).data('id-producto') == id_producto) {
                                productoExistente = true;
                                let cantidadExistente = parseInt($(this).find(".cantidad-fila").val(), 10);
                                cantidad += cantidadExistente;
                                let inputCantidad = $(this).find(".cantidad-fila");
                                inputCantidad.val(cantidad);
                                inputCantidad.trigger('input');
                            }
                        });

                        if (!productoExistente) {
                            agregarFila(productoSeleccionado);
                        }

                        totalVenta();
                        productoSeleccionado = null;
                        $("#btnAgregar").removeClass("is-active");
                        $("#product-table-section").addClass("show");
                        $("#tabla-ventas").addClass("show");
                        $(".producto-cont-descuento").addClass("show");
                        $("#buscarProducto").val("").removeClass("is-valid");
                        $(".search-icon").show();
                        $("#buscarProducto").data('id-producto', "");
                        $("#cantidad-ingresada").val("1");
                    }
                });
            }
        });

        $(document).on("click", ".eliminar-fila", function () {
            $(this).closest("tr.producto-row").remove();
            if ($("#tabla-ventas tr.producto-row").length < 1) {
                $("#product-table-section").removeClass("show");
                $("#tabla-ventas").removeClass("show");
                $(".producto-cont-descuento").removeClass("show")
            }
            totalVenta()
        });

        $("#descuento-venta").on("input", function () {
            totalVenta()
        });

        function formatearPrecios(valor) {
            valor = Math.round(valor * 100) / 100;
            let precioFormateado = valor.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
            return '$' + precioFormateado;
        }

        $(document).on("input", ".cantidad-fila, .descuento", function () {
            $("#campos-requeridos").css("color", "");
            let fila = $(this).closest("tr.producto-row");
            let descuento = parseFloat(fila.find(".descuento").val().replace(/[%]/g, '')) / 100;
            let cantidad_seleccionada = parseInt(fila.find(".cantidad-fila").val());
            let precio_venta = parseFloat(fila.data("precio-venta").replace(/[$,.]/g, ''));
            let precio_compra = parseFloat(fila.find(".precio_compra").text().replace(/[$,.]/g, ''));
            let precio_venta_final = precio_venta;
            let precio_descuento = 0;

            if (!isNaN(descuento) && descuento > 0) {
                precio_descuento = precio_venta * descuento;
                precio_venta_final = precio_venta - precio_descuento;
            }

            let ganancia = precio_venta_final - precio_compra;
            if (ganancia < 0) {
                ganancia = 0;
            }

            let precio_ganancia = formatearPrecios(cantidad_seleccionada * ganancia);
            let total_producto = formatearPrecios(precio_venta_final * cantidad_seleccionada);
            let precio_venta_con_descuento = formatearPrecios(precio_venta_final);
            let descuento_html = ""
            if (descuento > 0) {
                descuento_html = "<span style='color: rgb(48, 48, 163);'> - (<span id='total_producto_descuento'>" + formatearPrecios(precio_descuento) + "</span>)</span>";
            }
            fila.find(".precio_venta").html(precio_venta_con_descuento + descuento_html);
            fila.find(".total_ganancia_producto").text(precio_ganancia);
            fila.find(".total_producto").text(total_producto);
            totalVenta()
        });

        function calcularPrecios(precio_venta, precio_ganancia, cantidad_seleccionada) {
            let ganancia_total = formatearPrecios(precio_ganancia * cantidad_seleccionada);
            let total_venta = formatearPrecios(precio_venta * cantidad_seleccionada);
            precio_venta = formatearPrecios(precio_venta);
            return { ganancia_total, total_venta, precio_venta };
        }

        function agregarFila(producto) {
            let tbody = $("#producto-tbody");
            $("#campos-requeridos").css("color", "");
            let id_producto = producto.id_producto;
            let estadoProducto = producto.estado;
            let marca = producto.marca;
            let categoria = producto.categoria;
            let nombre_producto = producto.nombre_producto;
            let img = producto.presentacion;
            let cantidad = producto.cantidad;
            let precio_venta = producto.precio_venta
            let precio_compra = formatearPrecios(producto.precio_compra)
            let precio_ganancia = producto.precio_ganancia
            let cantidad_seleccionada = producto.cantidadSeleccionada
            let precios = calcularPrecios(precio_venta, precio_ganancia, cantidad_seleccionada);
            let itemFila = `
                <tr class="producto-row" data-id-producto="${id_producto}" data-precio-venta="${precios.precio_venta}">
                    <td class="p-2 celda-producto">
                        <div class="product-info">
                            <div class="product-details-container">
                                <div class="cont-img">
                                    <img src="/media/${img}" alt="Imagen" class="img-fluid">
                                </div>
                                <ul class="product-details">
                                    <li><strong>${nombre_producto}</strong></li>
                                    <li>
                                        <span><strong class="mr-2">Marca:</strong>${marca}</span>
                                    </li>
                                    <li><strong class="mr-2">Categoria:</strong>${categoria}</li>
                                    <li class="mt-3 d-flex align-items-center gap-3">
                                        <div>
                                            <div class="number-input">
                                                <button onclick="decrement(this)" id="decrement"><strong>-</strong></button>
                                                <input class="quantity cantidad-fila" min="1" max="${cantidad}" name="quantity" type="number" readonly value="${cantidad_seleccionada}" autocomplete="off" step="1" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if (this.value === '0') this.value = ''">
                                                <button onclick="increment(this)" id="increment"><strong>+</strong></button>
                                            </div>      
                                        </div>
                                        <div class="input-wrapper">
                                            <input class="descuento" name="descuento" type="number" value="0" autocomplete="off" step="1" title="Aplicar descuento" onkeydown="return validateInput(event)">
                                            <span class="percent-sign">%</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="precio_compra"> ${precio_compra} </td>
                    <td> <span class="precio_venta">${precios.precio_venta}</span></td>
                    <td class="total_ganancia_producto"> ${precios.ganancia_total} </td>
                    <td class="total_producto"> ${precios.total_venta} </td>
                    <td class="eliminar-fila"> 
                        <i class="fas fa-trash"></i>
                    </td>
                </tr>
                `;
            tbody.append(itemFila);
        }
    });

    $("#cantidad-ingresada").on("input", function () {
        if ($("#cantidad-ingresada").val() === '') {
            $("#btnAgregar").removeClass("is-active")
        } else {
            $("#btnAgregar").addClass("is-active")
        }
    })

</script>

<script>
    function validateInput(event) {
        let key = event.key;
        let value = event.target.value + key;
        let number = parseFloat(value);
        if (key === 'Backspace') {
            return true;
        }
        if (!/[\d.,]/.test(key)) {
            return false;
        }
        if (isNaN(number) || number < 0 || number > 100) {
            return false;
        }
        return true;
    }
</script>
<script>

    function increment(button) {
        let input = button.parentNode.querySelector('.quantity');
        let maxVal = parseInt(input.getAttribute('max'));
        if (parseInt(input.value) < maxVal) {
            input.value = parseInt(input.value) + 1;
            $(input).tooltip('dispose');
        } else {
            if (parseInt(input.value) + 1 > maxVal) {
                $(input).tooltip({
                    title: "Cantidad máxima",
                    trigger: "manual",
                    placement: "right"
                }).tooltip('show');
                setTimeout(function () {
                    $(input).tooltip('dispose');
                }, 2000);
            }
        }
        $(input).trigger('input');
    }

    function decrement(button) {
        let input = button.parentNode.querySelector('.quantity');
        if (input.value > 1) {
            input.value = parseInt(input.value) - 1;
        }
        $(input).trigger('input');
    }

    $("#crear-venta").click(function () {
        let invalid = false;

        if ($(".producto-row").length === 0) {
            invalid = true;
        }

        if ($("#cont-docu").text() == "") {
            $("#nombreCliente").addClass("is-invalid");
            invalid = true;
        }

        if (invalid) {
            $("#campos-requeridos").css("color", "red");
        } else {
            $("#campos-requeridos").css("color", "");
            enviarDatosVentas();
        }
    });

    function enviarDatosVentas() {
        let productos = {};
        let descuentoVenta = $("#descuento-venta").val() || "No aplica";
        let margenGananciaVenta = parseFloat($("#total_ganancia_venta").text().replace(/[$,.]/g, ''));
        let totalVenta = parseFloat($("#total-venta").text().replace(/[$,.]/g, ''));
        let documentoCliente = $("#documento").text();
        $(".producto-row").each(function () {
            let idPedido = $(this).data("id-pedido");
            idPedido = idPedido ? parseInt(idPedido) : "no pedido";
            let idProducto = parseInt($(this).data("id-producto"));
            let cantidad = parseInt($(this).find(".cantidad-fila").val());
            let precioCompra = parseFloat($(this).find(".precio_compra").text().replace(/[$,.]/g, ''));
            let precioVenta = parseFloat($(this).find(".precio_venta").text().replace(/[$,.]/g, ''));
            let descuento = $(this).find(".descuento").val() || "No aplica";
            let margenGananciaProducto = parseFloat($(this).find(".total_ganancia_producto").text().replace(/[$,.]/g, ''));
            let totalProducto = parseFloat($(this).find(".total_producto").text().replace(/[$,.]/g, ''));
            let totalProductoDescuento = parseFloat($(this).find("#total_producto_descuento").text().replace(/[$,.]/g, '')) || "No aplica";
            productos[idProducto] = {
                idPedido: idPedido,
                cantidad: cantidad,
                precioCompra: precioCompra,
                precioVenta: precioVenta,
                descuentoProducto: descuento,
                margenGananciaProducto: margenGananciaProducto,
                totalProducto: totalProducto,
                totalProductoDescuento: totalProductoDescuento
            };
        });
        let totalVentaDescuento = parseFloat($("#total-venta-descuento").text().replace(/[$,.]/g, '')) || "No aplica";

        let venta = {
            descuentoVenta: descuentoVenta,
            margenGananciaVenta: margenGananciaVenta,
            totalVenta: totalVenta,
            totalVentaDescuento: totalVentaDescuento,
            documentoCliente: documentoCliente,
            productos: productos
        };

        $(document).ajaxStart(function () {
            $(".loading").addClass("show");
        });

        $(document).ajaxStop(function () {
            $(".loading").removeClass("show");
        });

        $.ajax({
            type: "POST",
            url: "{% url 'crear_venta' %}",
            data: JSON.stringify(venta),
            contentType: "application/json",
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        title: 'Éxito',
                        text: 'Venta creada con éxito',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 3000,
                    });
                    setTimeout(function () {
                        window.location.href = "{% url 'ventas' %}";
                    }, 2000);
                }
            },
        });
    }
</script>

{% endblock %}