{% extends "baseInterface.html" %}

{% block title %} Ventas {% endblock %}

{% block body %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/HomeVentas.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>


<center>
    <h1 class="modtitles">Gestión de Ventas</h1>
</center>
<br>
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <span>
            <a href="{% url 'crear_venta' %}" class="btn btn-success btn-icon-split btn-add" id="am">
                <span class="icon">
                    <i class="fa-solid fa-plus"></i>
                    <span class="text">Agregar Ventas</span>
                </span>
            </a>
        </span>
        <span class="d-flex align-items-end">
            <h6 class="text-black font-weight-bold mr-2">Informes:</h6>
            <button class="btn btn-danger btn-dash" id="of">Ir a Dashboard</button>
        </span>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-4">
        <div class="table-responsive">
            <table class="table table-bordered table-hover mx-auto text-center" id="dataTable" cellspacing="3">
                <thead class="theads">
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Fecha de Registro</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr class="{% if venta.estado == 0 %}inactivo{% endif %}">
                        <td>{{ venta.id_venta }}</th>
                        <td class="d-flex ">{{ venta.id_cliente.nombres }} {{ venta.id_cliente.apellidos }}</td>
                        <td>{{ venta.fechareg }}</td>
                        <td>
                            <button
                                class="cambiar-estado statusbutton {% if venta.estado == 1 %}active-status{% else %}inactive-status{% endif %}"
                                data-venta-id="{{ venta.id_venta}}"
                                data-nuevo-estado="{% if venta.estado == 1 %}0{% else %}1{% endif %}">
                                {% if venta.estado == 1 %}Activo{% else %}Inactivo{% endif %}
                            </button>
                        </td>
                        <td class="cell-actions">
                            <a href="{% url 'editarVenta' venta.id_venta %}" class="btn btn-sm" id="editbutton"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{% url 'verVenta' venta.id_venta %}" class="btn btn-sm btn-primary"
                                id="detailsbutton" data-bs-toggle="modal" data-bs-target="#DetallesModalVenta"
                                data-venta-id="{{ venta.id_venta }}">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </td>
                        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $(".cambiar-estado").click(function () {
                                    let ventaId = $(this).data("venta-id");
                                    let nuevoEstado = $(this).data("nuevo-estado");

                                    Swal.fire({
                                        title: 'Estado',
                                        text: '¿Desea cambiar el estado de este registro?',
                                        showCancelButton: true,
                                        confirmButtonColor: '#419edd',
                                        cancelButtonColor: '#ba4d4d',
                                        confirmButtonText: 'Confirmar',
                                        cancelButtonText: 'Cancelar'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            $.ajax({
                                                url: "{% url 'cambiarEstadoVentas'  %}",
                                                data: {
                                                    venta_id: ventaId,
                                                    nuevo_estado: nuevoEstado
                                                },
                                                method: "GET",
                                                success: function (response) {
                                                    location.reload();
                                                },
                                                error: function (error) {
                                                }
                                            });
                                        }
                                    });
                                });
                            });

                        </script>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}