{% extends "baseInterface.html" %}

{% block title %} Compras {% endblock %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<center>
    <h1 class="modtitles">Gestión de Compras</h1>
</center>
<br>

<div class="card mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <div class="d-flex flex-row">
            <span class="mx-2">
                <a href="{% url 'crear_compra' %}" class="btn btn-succes btn-adder btn-lg" data-toggle="tooltip"
                    data-placement="top" title="Crear una Compra">
                    <i class="fa-solid fa-plus mr-2"></i><span class="text"
                        style="font-weight: 600; font-size: 16px;">Agregar Compra</span>
                </a>

            </span>
        </div>

     
        <a href="#" id="abrir-modal" class="btn btn-danger btn-dash btn-lg" data-toggle="modal" data-target="#miModal">
            <i class="fa-solid fa-download mr-2"></i><span class="text"
                style="font-weight: 600; font-size: 16px;">Generar Informe</span>
        </a>

        <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="miModalLabel">Generar Informe Compras</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="generar-informe-form" method="POST" action="{% url 'generar_informe_pdf' %}">
                            {% csrf_token %}
                            <div id="calendario-contenedor">
                                <p>Selecciona un rango de fechas:</p>
                                <input type="date" id="fecha_inicio" name="fecha_inicio" placeholder="Fecha de inicio"
                                    class="date-input">
                                <input type="date" id="fecha_fin" name="fecha_fin" placeholder="Fecha de fin"
                                    class="date-input">

                                <button type="submit" id="generar-informe-button">Generar Informe</button>
                                <p id="error-message" style="color: red; display: none;">Por favor, complete ambos
                                    campos de fecha.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>






    </div>
</div>
<style>
    #generar-informe-button {
        background-color: #007BFF;
        color: #fff;
        border: 2px solid #007BFF;
        border-radius: 5px;
        padding: 6px 12px; 
        font-weight: bold;
        font-size: 14px;
        transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 10px; 
    }

    #generar-informe-button:hover {
        background-color: #0056b3;
        border-color: #0056b3;
        transform: scale(1.05);
    }

    .date-input {
        border: 2px solid #ccc;
        padding: 8px;
        border-radius: 5px;
        transition: border-color 0.3s;
        outline: none;
    }

    #miModal .modal-dialog {
    max-width: 70%;
    width: 45%;
    min-height: 35vh;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    animation: fadeIn 0.3s ease-in-out;
    padding: 20px;
}


    #calendario-contenedor {
        max-height: 100%; 
        overflow-y: auto; 
    }
</style>









<script>
    $(document).ready(function () {
        $("#miModal").on("hidden.bs.modal", function (e) {
            $("#fecha_inicio").val("");
            $("#fecha_fin").val("");
        });

        $("#generar-informe-button").click(function (e) {
            var fechaInicio = $("#fecha_inicio").val();
            var fechaFin = $("#fecha_fin").val();

            if (!fechaInicio || !fechaFin) {
                alert("Por favor, complete ambos campos de fecha.");
                e.preventDefault();
            } else {
                
                setTimeout(function () {
                    $("#miModal").modal("hide");
                }, 2000);
            }
        });

        $("#miModal").on("show.bs.modal", function (e) {
            $("#error-message").hide();
        });
    });
</script>
















<div class="card shadow mb-4">
    <div class="card-header py-4">
        <div class="table-responsive">
            <table class="table table-bordered mx-auto text-center" id="dataTable" width="auto" cellspacing="3">
                <thead class="theads">
                    <tr>
                        <th>Proveedor</th>
                        <th>Fecha de Registro</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for compra in compras %}
                    <tr class="{% if compra.estado == 0 %}inactivo{% endif %}">

                        <td>{{ compra.id_proveedor.nombre_proveedor }}</td>
                        <td>{{ compra.fechareg }}</td>
                        <td>
                            <button data-toggle="tooltip" data-placement="right" title="Cambiar de Estado"
                                class="cambiar-estado-compra statusbutton {% if compra.estado == 1 %}active-status{% else %}inactive-status{% endif %} {% if compra.estado == 0 %}inactive-button{% endif %}"
                                data-compra-id="{{ compra.id_compra }}"
                                data-nuevo-estado="{% if compra.estado == 1 %}0{% else %}1{% endif %}">
                                {% if compra.estado == 1 %}Activo{% else %}Inactivo{% endif %}
                            </button>


                        </td>
                        <td class="cell-actions">
                            {% if compra.estado == 1 %}
                            <a href="{% url 'generar_factura_pdf' compra.id_compra %}" class="btn btn-sm"
                                id="editbutton"><i class="fa-solid fa-download" data-toggle="tooltip"
                                    data-placement="top" title="Descargar Compra"></i></a>
                            {% else %}
                            <button class="btn btn-sm inactive-button" disabled>
                                <i class="fa-solid fa-download" data-toggle="tooltip" data-placement="top"
                                    title="Descargar Compra"></i>
                            </button>
                            {% endif %}

                            <a href="#" class="btn btn-sm btn-primary" id="editbutton{{ compra.id_compra }}"
                                data-compra-id="{{ compra.id_compra }}"
                                onclick="mostrarDetallesCompra({{ compra.id_compra }})" data-toggle="tooltip"
                                data-placement="right" title="Ver Detalles">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // ...

        // Desactivar el botón si el estado es "Inactivo"
        $(".cambiar-estado-compra.inactive-button").addClass("inactive-status");

        $(".cambiar-estado-compra").click(function () {
            let compraId = $(this).data("compra-id");
            let nuevoEstado = $(this).data("nuevo-estado");
            let mensaje;
            if (nuevoEstado === 0) {
                mensaje =
                    "¿Esta seguro de desactivar esta venta? Esto marcará la compra como inactiva y restará al stock los productos relacionados. No podrá reactivarla nuevamente.";
            } else {
                mensaje =
                    "¿Estás seguro de activar esta compra? Esto marcará la compra como activa y sumará las cantidades al stock de los productos relacionados.";
            }

            Swal.fire({
                title: 'Estado',
                text: mensaje,

                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{% url 'cambiarEstadoCompra' %}",
                        data: {
                            compra_id: compraId,
                            nuevo_estado: nuevoEstado
                        },
                        method: "GET",
                        success: function (response) {
                            if (response.status === 'error') {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: response.message
                                });
                            } else {
                                location.reload();
                            }
                        },
                        error: function (error) {
                            // Handle error if needed
                        }
                    });
                }
            });
        });
    });
</script>


</div>

<style>
    .inactive-button {
        pointer-events: none;
        opacity: 0.5;
        /* Puedes ajustar la opacidad a tu preferencia */
    }

    .table {
        width: 80%;
    }

    table thead.theads {
        text-align: center;
        color: white;
        background-color: #222222;
    }

    table tbody.tbody {
        text-align: center;
    }

    .modtitles {
        font-size: 2em;
        background-image: linear-gradient(45deg, #000000, #3c3636, #000);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: animarGradiente 3s linear infinite;
        font-weight: bold;
    }

    /* Toco repetir codigo para cambiar el blanco */
    .btn-add,
    .btn-dash {
        color: #000;
        font-weight: 600;
    }

    .btn-add:hover,
    .btn-dash:hover {
        color: #000;
    }

    .btn-adder:hover {
        color: #000;
        background-color: #77B677;
        border: solid 1px black;
    }

    .btn-adder {
        background-color: #85da85;
        border: solid 1px black;
    }

    .btn-dash {
        background-color: #c55c5c;
        color: black;
    }

    .btn-dash:hover {
        background-color: #D16060;
        color: black
    }

    tr.inactivo {
        background-color: #ccc;
        /* Cambia el fondo a un tono más claro */
        color: #676666;
    }

    .statusbutton {
        width: 5rem;
        border-radius: 3px;
        border: none;
    }

    .statusbutton:hover {
        opacity: 0.9;
    }

    #editbutton {
        background-color: #FFFF99;
        color: #000;
        /* background-color: #3498db; */
        border: none;
        transition: transform 0.5s;

    }

    #detailsbutton {
        background-color: #419edd;
        color: #000;
        /* background-color: #1e3799; */
        border: none;
        transition: transform 0.5s;
    }

    #editbutton:hover,
    #detailsbutton:hover {
        transform: scale(1.1);
    }

    .cell-actions {
        display: flex;
        justify-content: space-evenly;
    }


    .active-status {
        background-color: #95eea5;
        color: #09711c;
    }

    .inactive-status {
        background-color: #ec8080;
        color: #8a0404;
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
    }
</style>

<div class="modal-backdrop"></div>

<dialog id="verDetallesCompraDialog" class="compraDialog dragHandle" style="z-index: 9999;">
    <form method="dialog">
        <div class="modal-container-header">
            <div class="estadoCompraCircle {% if compra.estado == 1 %}activo{% else %}inactivo{% endif %}"></div>
            <h2>Información de la compra</h2>
            <button class="cerrar-compra" type="button" id="cerrarDetallesCompra">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                        fill="currentColor"></path>
                </svg>
            </button>
        </div>
        <div class="cont-detalle-header">
            <p class="font-weight-bold">Fecha de compra: <span id="fecharegCompra"></span></p>
            <p class="font-weight-bold">Proveedor: <span id="proveedorCompra"></span> </p>
        </div>
        <div class="linea-detalle mb-2">
            <h3>Detalles de la Compra:</h3>
        </div>
        <table class="table tabla-detalles">
            <thead class="text-center">
                <tr>
                    <th style="width: 30%;">Producto</th>
                    <th style="width: 30%;">Precio Unitario</th>
                    <th style="width: 10%;">Cantidad</th>
                    <th style="width: 30%;">Total del producto</th>
                </tr>
            </thead>
            <tbody id="modalDetallesCompra">
            </tbody>
        </table>
        <div class="d-flex justify-content-end mt-2">
            <span class="font-weight-bold total-compra">TOTAL:<span id="totalCompraCompra"></span></span>
        </div>
    </form>
</dialog>


<script>
    function mostrarDetallesCompra(compraId) {
        console.log("Mostrar detalles de compra llamado con compraId:", compraId);

        function formatearPrecios(valor) {
            valor = Math.round(valor * 100) / 100;
            let precioFormateado = valor.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
            return '$ ' + precioFormateado;
        }

        $.ajax({
            url: "{% url 'obtener_detalles_compra' 0 %}".replace('0', compraId),
            method: "GET", // Actualiza la URL según tu configuración

            success: function (response) {
                console.log("Respuesta del servidor:", response);

                // Llena el modal con los detalles de la compra obtenidos del servidor
                var compra = response;
                $("#fecharegCompra").text(compra.fechaRegistro);
                $("#proveedorCompra").text(compra.proveedor);

                $("#totalCompra").text(formatearPrecios(compra.totalCompra));

                if (compra.estado == 'Activo') {
                    $(".estadoCompraCircle").addClass("activo").removeClass("inactivo");
                } else {
                    $(".estadoCompraCircle").addClass("inactivo").removeClass("activo");
                }

                // Llena la tabla de detalles de la compra
                let detallesCompraHTML = "";
                let totalCompra = 0; // Variable para calcular el total de compra

                for (let detalle of compra.detalles) {
                    console.log('Detalle:', detalle);

                    // Convierte precioUnitario y totalProducto a números
                    const precioUnitario = formatearPrecios(detalle.precioUnitario);
                    const totalProducto = formatearPrecios(detalle.totalProducto);

                    detallesCompraHTML += `
                        <tr>
                            <td>${detalle.producto}</td>
                            <td>${precioUnitario}</td> <!-- Mostrar con 2 decimales -->
                            <td>${detalle.cantidad}</td>
                            <td>${totalProducto}</td> <!-- Mostrar con 2 decimales -->
                        </tr>
                    `;

                    totalCompra += parseFloat(detalle
                        .totalProducto); // Suma el total del producto al total de compra
                }

                document.getElementById("modalDetallesCompra").innerHTML = detallesCompraHTML;

                // Actualiza el "Total de Compra" con la suma calculada
                document.getElementById("totalCompraCompra").textContent = formatearPrecios(
                    totalCompra); // Mostrar con 2 decimales

                const modal = document.getElementById("verDetallesCompraDialog");
                console.log("Modal obtenido:", modal);

                // Abre el modal
                modal.showModal();
                const cerrarBoton = document.getElementById("cerrarDetallesCompra");
                cerrarBoton.addEventListener("click", cerrarModal);
            },
            error: function (error) {
                console.error('Error en la solicitud AJAX:', error);
                // Maneja el error si es necesario
            }
        });
    }

    function cerrarModal() {
        // Cierra el modal
        const modal = document.getElementById("verDetallesCompraDialog");
        modal.close();
    }
</script>


<style>
    .table {
    width: 80%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.833);
    z-index: 100;
    display: none;
    animation: fadeInBack 0.3s ease-in-out;
}

.compraDialog {
    width: 40%;
    min-height: 10vh;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    animation: fadeIn 0.3s ease-in-out;

    margin: auto;
    padding: 20px;
    overflow-y: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInBack {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.compraDialog .modal-container-header, .linea-detalle {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.modal-container-header h2, .compraDialog h3{
    font-size: 1.125rem;
    font-weight: 700;
    gap: 8px;
    text-align: center;
}


.cerrar-compra {
    padding: 0;
    border: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.15s ease;
    position: absolute;
    top: 0;
    right: 0;
}

.estadoCompraCircle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.estadoCompraCircle.activo {
    background-color: #72d072;
    position: relative;
    cursor: pointer;
}

.estadoCompraCircle.activo::before {
    content: "Activo";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #72d072;
    color: #fff;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.estadoCompraCircle.activo:hover::before {
    opacity: 1;
}


.estadoCompraCircle.inactivo {
    background-color: #ba4d4d;
    position: relative;
    cursor: pointer;
}

.estadoCompraCircle.inactivo::before {
    content: "Inactivo";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ba4d4d;
    color: #fff;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.estadoCompraCircle.inactivo:hover::before {
    opacity: 1;
}


.cont-detalle-header {
    padding: 20px;
}
.cont-detalle-header p {
    font-size: 1rem;
    font-weight: bold;
    color: #222222;
}
.cont-detalle-header p span {
    color: rgb(99, 99, 99);
}
.tabla-detalles {
    width: 100%;
    background-color: #2222;
    text-align: center;
} 
.tabla-detalles tbody tr:hover {
    background-color: #22202022;
}

.total-compra {
    padding: 10px 8px;
    border: 3px solid #ccc;
    border-radius: 5px;
    background-color: #22202022;
    display: flex;
    gap: 10px;
}

.inactive-status {
    background-color: #ec8080;
    color: #8a0404;
    opacity: 0.5;
    pointer-events: none; 
    cursor: default; 
}

</style>






{% endblock %}