{% extends "baseInterface.html" %}

{% block title %} Compras {% endblock %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/HomePurchases.css' %}">
</head>

<br>
<div style="display: flex; justify-content: center;">
    <h1 class="text-black-800 mb-4" style="font-weight:bold;">Gestión de Compras</h1>
</div>

<div class="card mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <div class="d-flex flex-row">
            <span class="mx-2">
                <a href="{% url 'crear_compra' %}" class="btn btn-primary btn-lg" data-toggle="tooltip"
                    data-placement="top" title="Crear una Compra" style="border:solid 1px black">
                    <i class="fa-solid fa-plus mr-2"></i><span class="text"
                        style="font-weight: 600; font-size: 16px;">Agregar Compra</span>
                </a>
            </span>
        </div>
        <a href="#" id="abrir-modal" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#miModal"
            style="border:solid 1px black">
            <i class="fa-solid fa-download mr-2"></i><span class="text"
                style="font-weight: 600; font-size: 16px;">Generar Informe</span>
        </a>
        <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel"
            aria-hidden="true" style="width:60%">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="miModalLabel">Generar Informe de Compras</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="generar-informe-form" method="POST" action="{% url 'generar_informe_pdf' %}">
                            {% csrf_token %}
                            <div id="calendario-contenedor">
                                <p>Selecciona un rango de fechas:</p>
                                <input type="date" id="fecha_inicio" name="fecha_inicio" placeholder="Fecha de inicio"
                                    class="date-input">
                                <input type="date" id="fecha_fin" name="fecha_fin" placeholder="Fecha de fin"
                                    class="date-input">
                                <div id="error-message" style="color: red; display: none;">Por favor, complete ambos
                                    campos de fecha.</div>
                                <br>
                            </div>
                            <div class="modal-footer" style="margin-top:5%">
                                <div style="margin-top:2%"><button class="btn btn-success" type="submit"
                                        id="generar-informe-button">Generar</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#miModal").on("hidden.bs.modal", function (e) {
            $("#fecha_inicio").val("");
            $("#fecha_fin").val("");
        });

        $("#generar-informe-button").click(function (e) {
            var fechaInicio = $("#fecha_inicio").val();
            var fechaFin = $("#fecha_fin").val();

            if (!fechaInicio || !fechaFin) {
                Swal.fire({
                    title: 'Error',
                    confirmButtonColor: '#0F86D1',
                    text: 'Por favor, complete ambos campos de fecha.',
                    icon: 'error',
                });
                e.preventDefault();
            } else {

                setTimeout(function () {
                    $("#miModal").modal("hide");
                }, 2000);
                Swal.fire({
                    title: 'Informe Creado con Éxito',
                    text: 'Tu informe ha sido generado con éxito.',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 2000,
                }).then(() => {
                    location.reload();
                });
            }
        });

        $("#miModal").on("show.bs.modal", function (e) {
            $("#error-message").hide();
        });
    });
</script>

<div class="card shadow mb-4">
    <div class="card-header py-4">
        <div class="table-responsive">
            <table class="table table-bordered mx-auto text-center" id="dataTable" width="100%" cellspacing="3">
                <thead class="theads">
                    <tr>
                        <th>ID</th>
                        <th>Proveedor</th>
                        <th>Fecha de Registro</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for compra in compras %}
                    <tr class="{% if compra.estado == 0 %}inactivo{% endif %}">
                        <td>{{ compra.id_compra}}</td>
                        <td>{{ compra.id_proveedor.nombre_proveedor }}</td>
                        <td>{{ compra.fechareg }}</td>
                        <td>
                            <button data-toggle="tooltip" data-placement="right" title="Cambiar de Estado"
                                class="cambiar-estado-compra statusbutton {% if compra.estado == 1 %}active-status{% else %}inactive-status{% endif %} {% if compra.estado == 0 %}inactive-button{% endif %}"
                                data-compra-id="{{ compra.id_compra }}"
                                data-nuevo-estado="{% if compra.estado == 1 %}0{% else %}1{% endif %}">
                                {% if compra.estado == 1 %}Activo{% else %}Inactivo{% endif %}
                            </button>
                        </td>
                        <td class="cell-actions">
                            {% if compra.estado == 1 %}
                            <a href="{% url 'generar_factura_pdf' compra.id_compra %}" class="btn btn-sm"
                                id="editbutton"><i class="fa-solid fa-download" data-toggle="tooltip"
                                    data-placement="top" title="Descargar Compra"></i></a>
                            {% else %}
                            <button class="btn btn-sm inactive-button" disabled>
                                <i class="fa-solid fa-download" data-toggle="tooltip" data-placement="top"
                                    title="Descargar Compra"></i>
                            </button>
                            {% endif %}

                            <a href="#" class="btn btn-sm btn-primary" id="editbutton{{ compra.id_compra }}"
                                data-compra-id="{{ compra.id_compra }}"
                                onclick="mostrarDetallesCompra('{{ compra.id_compra }}')" data-toggle="tooltip"
                                data-placement="right" title="Ver Detalles">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        $(".cambiar-estado-compra.inactive-button").addClass("inactive-status");

        $(".cambiar-estado-compra").click(function () {
            let compraId = $(this).data("compra-id");
            let nuevoEstado = $(this).data("nuevo-estado");
            let mensaje;
            if (nuevoEstado === 0) {
                mensaje =
                    "¿Esta seguro de desactivar esta compra? Esto marcará la compra como inactiva y restará al stock los productos relacionados. No podrá reactivarla nuevamente.";
            } else {
                mensaje =
                    "¿Estás seguro de activar esta compra? Esto marcará la compra como activa y sumará las cantidades al stock de los productos relacionados.";
            }

            Swal.fire({
                title: 'Estado',
                text: mensaje,

                showCancelButton: true,
                confirmButtonColor: '#0975B7',
                cancelButtonColor: '#DF3131',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{% url 'cambiarEstadoCompra' %}",
                        data: {
                            compra_id: compraId,
                            nuevo_estado: nuevoEstado
                        },
                        method: "GET",
                        success: function (response) {
                            if (response.status === 'error') {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: response.message
                                });
                            } else {
                                $('.table-responsive').addClass('animate__animated animate__fadeOut').css('animation-duration', '100');
                                location.reload();
                            }
                        },
                        error: function (error) {
                        }
                    });
                }
            });
        });
    });
</script>

<div class="modal-backdrop"></div>

<dialog id="verDetallesCompraDialog" class="compraDialog dragHandle" style="z-index: 9999;">
    <form method="dialog">
        <div class="modal-container-header">
            <div class="estadoCompraCircle {% if compra.estado == 1 %}activo{% else %}inactivo{% endif %}"></div>
            <h2>Información de la Compra</h2>
            <button class="cerrar-compra" type="button" id="cerrarDetallesCompra">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                        fill="currentColor"></path>
                </svg>
            </button>
        </div>
        <div class="cont-detalle-header">
            <p class="font-weight-bold">Fecha de Compra: <span id="fecharegCompra"></span></p>
            <p class="font-weight-bold">Proveedor: <span id="proveedorCompra"></span> </p>
        </div>
        <div class="linea-detalle mb-2">
            <h3>Detalles de la Compra</h3>
        </div>
        <table class="table tabla-detalles">
            <thead class="text-center">
                <tr>
                    <th style="width: 30%;">Producto</th>
                    <th style="width: 30%;">Precio Unitario</th>
                    <th style="width: 10%;">Cantidad</th>
                    <th style="width: 30%;">Total del Producto</th>
                </tr>
            </thead>
            <tbody id="modalDetallesCompra">
            </tbody>
        </table>
        <div class="d-flex justify-content-end mt-2">
            <span class="font-weight-bold total-compra">Total:<span id="totalCompraCompra"></span></span>
        </div>
    </form>
</dialog>

<script>
    function mostrarDetallesCompra(compraId) {
        console.log("Mostrar detalles de compra llamado con compraId:", compraId);

        function formatearPrecios(valor) {
            valor = Math.round(valor * 100) / 100;
            let precioFormateado = valor.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
            return '$ ' + precioFormateado;
        }

        $.ajax({
            url: "{% url 'obtener_detalles_compra' 0 %}".replace('0', compraId),
            method: "GET",

            success: function (response) {
                console.log("Respuesta del servidor:", response);


                var compra = response;
                $("#fecharegCompra").text(compra.fechaRegistro);
                $("#proveedorCompra").text(compra.proveedor);

                $("#totalCompra").text(formatearPrecios(compra.totalCompra));

                if (compra.estado == 'Activo') {
                    $(".estadoCompraCircle").addClass("activo").removeClass("inactivo");
                } else {
                    $(".estadoCompraCircle").addClass("inactivo").removeClass("activo");
                }

                let detallesCompraHTML = "";
                let totalCompra = 0;

                for (let detalle of compra.detalles) {
                    console.log('Detalle:', detalle);

                    const precioUnitario = formatearPrecios(detalle.precioUnitario);
                    const totalProducto = formatearPrecios(detalle.totalProducto);

                    detallesCompraHTML += `
                        <tr>
                            <td>${detalle.producto}</td>
                            <td>${precioUnitario}</td> 
                            <td>${detalle.cantidad}</td>
                            <td>${totalProducto}</td> 
                        </tr>
                    `;

                    totalCompra += parseFloat(detalle
                        .totalProducto);
                }

                document.getElementById("modalDetallesCompra").innerHTML = detallesCompraHTML;
                document.getElementById("totalCompraCompra").textContent = formatearPrecios(
                    totalCompra);

                const modal = document.getElementById("verDetallesCompraDialog");
                console.log("Modal obtenido:", modal);
                modal.showModal();
                const cerrarBoton = document.getElementById("cerrarDetallesCompra");
                cerrarBoton.addEventListener("click", cerrarModal);
            },
            error: function (error) {
                console.error('Error en la solicitud AJAX:', error);
            }
        });
    }
    function cerrarModal() {
        const modal = document.getElementById("verDetallesCompraDialog");
        modal.close();
    }
</script>
{% endblock %}