{% extends "baseInterface.html" %}

{% block title %} Marcas {% endblock %}

{% block body %}
<style>
    .table {
              width: 80%;
          }
      
          table thead.theads {
              text-align: center;
              color: white;
              background-color: #222222;
          }
      
          table tbody.tbody {
              text-align: center;
          }
      
          .modtitles {
              font-size: 2em;
              background-image: linear-gradient(45deg, #000000, #3c3636, #000);
              background-size: 200% 200%;
              -webkit-background-clip: text;
              background-clip: text;
              color: transparent;
              animation: animarGradiente 3s linear infinite;
              font-weight: bold;
              padding:2px;
          }
  
          /* Toco repetir codigo para cambiar el blanco */
          .btn-add,
          .btn-dash {
              color: #000;
              font-weight: 600;
          }
      
          .btn-add:hover,
          .btn-dash:hover {
              color: #000;
          }
      
          .btn-add {
              padding: 0;
              width: auto;
              block-size: 6vh;
              background-color: #85da85;
              display: flex;
              align-items: center;
          }
      
          .btn-add:hover {
              background-color: #72d072;
          }
      
          .btn-dash {
              background-color: #c55c5c;
          }
      
          .btn-dash:hover {
              background-color: #ba4d4d;
          }
      
          tr.inactivo {
              background-color: #ccc;
              /* Cambia el fondo a un tono más claro */
              color: #676666;
          }
      
          .statusbutton {
              width: 5rem;
              border-radius: 3px;
              border: none;
          }
      
          .statusbutton:hover {
              opacity: 0.9;
          }
      
          #deleteButton {
              background-color: transparent;
              color: #000;
              /* background-color: #3498db; */
              border: none;
              transition: transform 0.5s;
      
          }
      
          #deleteButton:hover {
              background-color:white;
          }
      
          .cell-actions {
              display: flex;
              justify-content: space-around;
          }

          .center-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 70vh; 
          }

            .active-status {
                background-color: #95eea5;
                color: #09711c;
            }
        
            .inactive-status {
                background-color: #ec8080;
                color: #8a0404;
            }
        
          </style>

          <center>
            <h1 class="modtitles">Marcas de Producto</h1>
        </center>
        <br>
        <div class="card shadow mb-4">
            <div class="card-header" style="display: flex; justify-content: center; align-items:center;">
                <span>
                    <a class="btn btn-success btn-icon-split btn-add" data-toggle="modal" data-target="#crearMarcaModal">
                        <span class="icon" data-toggle="tooltip" data-placement="top" title="Crea una Marca">
                            <i class="fa-solid fa-plus" id="addicon"></i>
                        <span class="text">Agregar Marca</span>
                    </span>
                    </a>
                </span>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                <div class="table-responsive">
                    <style>
                        .table-responsive{
                        overflow-y: auto;
                        max-height: 400px;
                    }
                    </style>
                    <table class="table table-bordered mx-auto text-center" id="dataTable" width="60%">
                        <thead class="theads">
                            <tr>
                                <th>Nombre de la Marca</th>
                                <th>Estado</th>
                                <th>Accion(es)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mc in pbrands %}
                            <tr>
                                <td>{{ mc.nombre_marca }}</td>
                                <td><button
                                    class="cambiar-estado statusbutton mx-3 active-status">Activo
                                </button></td>
                                <td>
                                    <a class="btn btn-sm btn-danger delete-button" data-id-marca="{{ mc.id_marca }}"
                                style="height:27px;" data-toggle="tooltip" data-placement="right" title="Eliminar Marca"><i class="fa-solid fa-trash-can fa-sm"
                                    style="color: #ffffff;"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $(".delete-button").click(function () {
            var idToDelete = parseInt($(this).data("id-marca"));
            var csrfToken = $("input[name=csrfmiddlewaretoken]").val();

            if (confirm("¿Está seguro de eliminar esta marca?")) {
                $.ajax({
                    headers: {
                        "X-CSRFToken": csrfToken
                    },
                    url: "{% url 'borrarMarca' %}",
                    data: {
                        idToDelete: idToDelete
                    },
                    method: "POST",
                    success: function (response) {
                        location.reload();
                    },
                    error: function (error) {
                      
                    }
                });
            }
        });
    });
</script>
    
<div class="modal fade" id="crearMarcaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Agregar Marca</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card shadow mb-4 w-70">
                <div class="card-header py-4">
                    <form class="form" id="marca-form" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-12 mb-1">
                                <label for="nombre_marca">Nombre de la Marca *</label>
                                <input type="text" class="form-control" id="nombre_marca"
                                    name="nombre_marca" placeholder="Ingrese un nombre">
                                <div style="margin-top:10px"></div>
                                <span class="error-message" id="nombre_marca-error"></span>
                            </div>
                        </div>
                </div>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-success mx-auto" id="guardarMarca">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        
        $("#nombre_marca").on('input', function () {
            $("#nombre_marca-error").text("");
            $("#nombre_marca").removeClass("is-invalid")
        });

        $("#guardarMarca").click(function () {
            camposValidos = true;
            if ($("#nombre_marca").val().trim() === "") {
                $("#nombre_marca").addClass("is-invalid")
                $('#nombre_marca-error').text('Este campo es obligatorio.').css("color", "red");
                camposValidos = false;
            } else {
                $("#nombre_marca").removeClass("is-invalid")
                $('#nombre_marca-error').text('');
            }

            if (!camposValidos) {
                return;
            } else {
                enviarDatosMarca();
            }
        });


        function enviarDatosMarca() {
            $.ajax({
                type: "POST",
                url: "{% url 'create_brand' %}",
                data: $('#marca-form').serialize(),
                success: function (response) {
                    if (response.success) {
                        alert("Se ha creado la marca con éxito.");
                        location.reload();
                    }
                }
            });
        }

    });
</script>

{% endblock %}