{% extends "baseInterface.html" %}

{% block title %} Categorías {% endblock %}

{% block body %}

<style>
    .table {
        width: 80%;
    }

    table thead.theads {
        text-align: center;
        color: white;
        background-color: #222222;
    }

    table tbody.tbody {
        text-align: center;
    }

    .modtitles {
        font-size: 2em;
        background-image: linear-gradient(45deg, #000000, #3c3636, #000);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: animarGradiente 3s linear infinite;
        font-weight: bold;
        height: 5.7vh;
    }

    /* Toco repetir codigo para cambiar el blanco */
    .btn-add,
    .btn-dash {
        color: #000;
        font-weight: 600;
    }

    .btn-add:hover,
    .btn-dash:hover {
        color: #000;
    }

    .btn-add {
        padding: 0;
        width: auto;
        block-size: 6vh;
        background-color: #85da85;
        display: flex;
        align-items: center;
    }

    .btn-add:hover {
        background-color: #72d072;
    }

    .btn-dash {
        background-color: #c55c5c;
    }

    .btn-dash:hover {
        background-color: #ba4d4d;
    }


    .statusbutton {
        width: 5rem;
        border-radius: 3px;
        border: none;
    }

    .statusbutton:hover {
        opacity: 0.9;
    }

    #editbutton {
        background-color: #FFFF99;
        color: #000;
        /* background-color: #3498db; */
        border: none;
        transition: transform 0.5s;

    }

    #editbutton:hover,
    #detailsbutton:hover {
        transform: scale(1.1);
    }
    .active-status {
        background-color: #95eea5;
        color: #09711c;
    }

    .inactive-status {
        background-color: #ec8080;
        color: #8a0404;
    }
</style>
<br>
<center>
    <h1 class="text-black-800 mb-4" style="font-weight:bold;">Categorías de Producto</h1>
</center>
<br>
<div class="card mb-4">
    <div class="card-header" style="display: flex; justify-content: center; align-items:center;">
        <span>
            <a class="btn btn-success btn-icon-split btn-add" data-toggle="modal" data-target="#crearCategoriaModal">
                <span class="icon" data-toggle="tooltip" data-placement="top" title="Crea una Categoría">
                    <i class="fa-solid fa-plus" id="addicon"></i>
                    <span class="text">Agregar Categoria</span>
                </span>
            </a>
        </span>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-4">
        <div class="table-responsive">
            <table class="table table-bordered mx-auto text-center" id="dataTable" width="100%">
                <thead class="theads">
                    <tr>
                        <th>Nombre de la Categoría</th>
                        <th>Accion(es)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ct in cats %}
                    <tr>
                        <td>{{ ct.nombre_categoria }}</td>
                        
                        <td class="cellactions">
                            <a class="btn btn-sm btn-danger delete-button" data-id-categoria="{{ ct.id_categoria }}"
                                style="height:27px;" data-toggle="tooltip" data-placement="right" title="Eliminar Categoría"><i class="fa-solid fa-trash-can fa-sm"
                                    style="color: #ffffff;"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="crearCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Agregar Categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card shadow mb-4 w-70">
                    <div class="card-header py-4">
                        <form class="form" id="category-form" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12 mb-1">
                                    <label for="nombre_categoria">Nombre de la Categoria *</label>
                                    <input type="text" class="form-control" id="nombre_categoria"
                                        name="nombre_categoria" placeholder="Ingrese un nombre">
                                    <div style="margin-top:10px"></div>
                                    <span class="error-message" id="nombre_categoria-error"></span>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-success mx-auto" id="guardarCategoria">Guardar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        
        $("#nombre_categoria").on('input', function () {
            $("#nombre_categoria-error").text("");
            $("#nombre_categoria").removeClass("is-invalid")
        });

        $("#guardarCategoria").click(function () {
            camposValidos = true;
            if ($("#nombre_categoria").val().trim() === "") {
                $("#nombre_categoria").addClass("is-invalid")
                $('#nombre_categoria-error').text('Este campo es obligatorio.').css("color", "red");
                camposValidos = false;
            } else {
                $("#nombre_categoria").removeClass("is-invalid")
                $('#nombre_categoria-error').text('');
            }

            if (!camposValidos) {
                return;
            } else {
                enviarDatosCategoria();
            }
        });


        function enviarDatosCategoria() {
            $.ajax({
                type: "POST",
                url: "{% url 'create_category' %}",
                data: $('#category-form').serialize(),
                success: function (response) {
                    if (response.success) {
                        if (response.success) {
                        Swal.fire({
                            title: 'Éxito',
                            text: 'Se ha creado la Categoria con éxito',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 2000, 
                        });
                        location.reload();
                        }
                    }
                }
            });
        }

    });
</script>

<div class="modal fade" id="editarCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modificar Categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card shadow mb-4 w-70">
                    <div class="card-header py-4">
                        <form method="post" id="editarCategoriaForm">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12 mb-1">
                                    <label for="nombre_categoria_edit">Nombre de la Categoria *</label>
                                    <input type="text" class="form-control" id="nombre_categoria_edit"
                                        placeholder="Ingrese un nombre" required>
                                    <div style="margin-top:10px"></div>
                                    <span class="error-message" id="nombre_categoria-error"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-success mx-auto" id="guardarCambiosCategoria">Guardar
                        Cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
    $(".delete-button").click(function () {
        var idToDelete = parseInt($(this).data("id-categoria"));
        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();

        Swal.fire({
            title: '¿Estás seguro de eliminar esta categoría?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    headers: {
                        "X-CSRFToken": csrfToken
                    },
                    url: "{% url 'borrarCategoria' %}",
                    data: {
                        idToDelete: idToDelete
                    },
                    method: "POST",
                    success: function (response) {
                        location.reload();
                    },
                    error: function (error) {
                       
                    },
                });
            }
        });
    });
});

</script>


{% comment %}
<script>
    $(document).ready(function () {
        $(".editar-categoria-button").click(function () {
            var categoriaId = $(this).data("categoria-id");
            var nombreCategoria = $(this).data("nombre-categoria");
            $("#nombre_categoria_edit").val(nombreCategoria);
            $("#editarCategoriaForm").attr("action", "/editcategory/" + categoriaId + "/");
            $("#editarCategoriaModal").modal("show");
        });

        $("#guardarCambiosCategoria").click(function () {
            $("#editarCategoriaForm").submit();
        });
    });
</script> {% endcomment %}

{% endblock %}