{% extends "baseInterface.html" %} 

{% block title %} Editar Producto {% endblock %} 

{% block body %}
<center><h1 class="h3 text-gray-800 mb-4">Editar Producto</h1></center>

<div class="card shadow">
  <div class="container p-4">
    <form class="form" id="producto-form" method="post">
      {% csrf_token %}
      
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="categoria">Categoría</label>
            <select class="form-select" aria-label="Default" name="iCategoria" id="iCategoria">
              {% for c in categorias %}
              <option value="{{ producto.id_categoria }}">{{ producto.nombre_categoria }}</option>
              {% endfor %}
            </select>
            <div class="error-message" id="iCategoria-error"></div>
          </div>
        </div>
  
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>Marca</label>
            <select class="form-select" aria-label="Default select example" name="iMarca" id="iMarca">
              {% for m in marcas %}
              <option value="{{ producto.id_marca }}">{{ producto.nombre_marca }}</option>
              {% endfor %}
            </select>
            <div class="error-message" id="iMarca-error"></div>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Nombre *</label>
        <input type="text" value="{{ producto.nombre_producto }}" class="form-control" id="iNombre" name="iNombre" placeholder="Ingrese el nombre del producto"/>
        <div class="error-message" id="iNombre-error"></div>
      </div>
  
      <div class="form-group">
        <label for="descripcion">Descripción *</label>
        <textarea class="form-control" id="iDescripcion" value="{{ producto.descripcion }}" name="iDescripcion" style="resize: vertical; max-height: 200px;" rows="4"></textarea>
        <div class="error-message" id="iDescripcion-error"></div>
      </div>
  
      <div class="form-row">
        <div class="col-md-3 mb-3">
            <div class="form-group">
                <label>Fecha de Vencimiento *</label>
                <input type="text" class="form-control" id="iFechaven" name="iFechaven" value="{{ producto.fechaven }}" pattern="\d{4}-\d{2}-\d{2}" placeholder="AAAA-MM-DD" />
                <div class="error-message" id="iFechaven-error"></div>
            </div>
        </div>
      
        <div class="col-md-2 mb-3">
          <div class="form-group">
            <label for="cant">Cantidad *</label>
            <input type="number" class="form-control" id="iCantidad" value="{{ producto.cantidad }}" name="iCantidad"/>
            <div class="error-message" id="iCantidad-error"></div>
          </div>
        </div>
      
        <div class="col-md-3 mb-3">
          <div class="form-group">
            <label for="sabor">Sabor *</label>
            <input type="text" class="form-control" id="iSabor" name="iSabor" value="{{ producto.sabor }}" placeholder="Sabor"/>
            <div class="error-message" id="iSabor-error"></div>
          </div>
        </div>
      
        <div class="col-md-2 mb-3">
          <div class="form-group">
            <label for="services">Servicios *</label>
            <input type="text" class="form-control" id="iServices" name="iServices" placeholder="Servicios" value="{{ producto.presentacion }}"/>
            <div class="error-message" style="color:red;" id="iServices-error"></div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="price">Precio del Producto *</label>
        <input type="number" class="form-control" id="iPrice" name="iPrice" value="{{ producto.precio }}" placeholder="Ingrese un precio"/>
        <div class="error-message" id="iPrice-error"></div>
      </div>
  
      <div class="text-end">
        <button class="btn btn-success" type="submit" id="submit-button">Guardar</button>
      </div>

    </form>
  </div>
</div>

<script>
  var fechaActual = new Date().toISOString().split("T")[0];
  document.getElementById("iFechaven").min = fechaActual;
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
<script>
    $(document).ready(function () {
    $('#producto-form').submit(function (event) {
        event.preventDefault();
        let errors = false;

        // Validaciones en el lado del cliente
        const cat = $('#iCategoria').val();
        const brand = $('#iMarca').val();
        const name = $('#iNombre').val();
        const vdate = $('#iFechaven').val();
        const cant = $('#iCantidad').val();
        const flavor = $('#iSabor').val();
        const service = $('#iServices').val();
        const pPrice = $('#iPrice').val();  

        if (!name) {
            mostrarError('#iNombre', 'Este campo es obligatorio.');
            errors = true;
        } else {
            ocultarError('#iNombre');
        }

        if (!vdate) {
            mostrarError('#iFechaven', 'Este campo es obligatorio.');
            errors = true;
        } else {
            ocultarError('#iFechaven');
        }

        if (!cant) {
            mostrarError('#iCantidad', 'Este campo es obligatorio.');
            errors = true;
        } else {
            ocultarError('#iNombre');
        }

        if (!flavor) {
            mostrarError('#iSabor', 'Este campo es obligatorio.');
            errors = true;
        } else {
            ocultarError('#iSabor');
        }

        if (!service) {
            mostrarError('#iServices', 'Este campo es obligatorio.');
            errors = true;
        } else {
            ocultarError('#iServices');
        }

        if (!pPrice) {
            mostrarError('#iPrice', 'Este campo es obligatorio.');
            errors = true;
        } else {
            ocultarError('#iPrice');
        }

        if (!errors) {
            $.ajax({
                type: 'POST', //Probar sin URL Inversa
                url: "{% url 'editAProduct' producto.id_producto %}",
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        alert('Producto editado con éxito.');
                        window.location.href = "{% url 'productos' %}";
                    }
                }
            });
        }
    });

    function mostrarError(elementId, errorMessage) {
        const errorElement = $(`${elementId}-error`);
        errorElement.text(errorMessage);
        errorElement.show();
    }

    // Función para ocultar errores
    function ocultarError(elementId) {
        const errorElement = $(`${elementId}-error`);
        errorElement.text('');
        errorElement.hide();
    }

    });

</script>

{% endblock %}
