{% extends "baseInterface.html" %} 

{% block title %}Modificar Producto{% endblock %} 

{% block body %}
<center><h1 class="text-black-800 mb-4" style="font-weight:bold;">Modificar Producto</h1></center>

<div class="card shadow mb-5" style="margin-bottom:7rem">
  <div class="container p-4">
    <form class="form" id="producto-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="categoria">Categoría</label>
            <select class="form-select" aria-label="Default" name="iCategoria" id="iCategoria">
              {% if not Product.id_categoria %}
              <option value="" selected>No tiene categoría</option>
              {% endif %}
              {% for c in categorias %}
              <option value="{{ c.id_categoria }}"
                  {% if c.id_categoria == Product.id_categoria.id_categoria %} selected {% endif %}>
                  {{ c.nombre_categoria }}
              </option>
              {% endfor %}
          </select>
          
            <div class="error-message" id="iCategoria-error" style="color:red;"></div>
          </div>
        </div>
    
        <div class="col-md-6">
          <div class="form-group">
            <label>Marca</label>
            <select class="form-select" aria-label="Default select example" name="iMarca" id="iMarca">
              {% if not Product.id_marca %}
              <option value="" selected>No tiene marca</option>
              {% endif %}
              {% for m in marcas %}
              <option value="{{ m.id_marca }}"
                  {% if m.id_marca == Product.id_marca.id_marca %} selected {% endif %}>
                  {{ m.nombre_marca }}
              </option>
              {% endfor %}
          </select>
            <div class="error-message" id="iMarca-error" style="color:red;"></div>
          </div>
        </div>
      </div>
      
      <div class="form-row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Nombre *</label>
            <input type="text" value="{{ Product.nombre_producto }}" class="form-control" id="iNombre" name="iNombre" placeholder="Ingrese el nombre del producto"/>
            <div class="error-message" id="iNombre-error" style="color:red;"></div>
          </div>
        </div>
    
        <div class="col-md-4">
          <div class="form-group">
            <label for="iProductImg">Imagen del Producto *</label>
            <input type="file" class="form-control" id="iProductImg" name="iProductImg"/>
            <p style="font-weight:bold;">Imagen Actual: ({{ Product.iProductImg_name }})</p>
            <div class="error-message" id="iProductImg-error" style="color:red;"></div>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="form-group">
            <label for="iInfoImg">Imagen de Información Nutricional *</label>
            <input type="file" class="form-control" id="iInfoImg" name="iInfoImg"/>
            <p style="font-weight:bold;">Imagen Actual: ({{ Product.iInfoImg_name }})</p>
            <div class="error-message" id="iInfoImg-error" style="color:red;"></div>
          </div>
        </div>
      </div>
    
      <div class="form-row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="descripcion">Descripción *</label>
            <textarea class="form-control" id="iDescripcion" name="iDescripcion" style="resize: vertical; max-height: 200px;" rows="4">{{ Product.descripcion }}</textarea>
            <div class="error-message" id="iDescripcion-error" style="color:red;"></div>
          </div>
        </div>
      </div>
    
      <div class="form-row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Fecha de Vencimiento *</label>
            <input type="text" class="form-control" id="iFechaven" name="iFechaven" value="{{ Product.fechaven|date:'Y-m-d' }}" pattern="\d{4}-\d{2}-\d{2}" placeholder="AAAA-MM-DD" />
            <div class="error-message" id="iFechaven-error" style="color:red;"></div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="form-group">
            <label for="cant">Cantidad *</label>
            <div class="input-group">
              <input type="number" class="form-control" id="iCantidad" name="iCantidad" value="{{ Product.cantidad }}" placeholder="Número de Existencias" readonly />
              <span class="input-group-append">
                <button type="button" class="btn" style="color:black; background-color:transparent;" data-toggle="tooltip" data-placement="top" title="La cantidad de existencias solo se modifica acorde a la compra o venta de este producto.">
                  <i class="fa-regular fa-circle-question fa-xs"></i>
                </button>
              </span>
            </div>
            <div class="error-message" style="color:red;" id="iCantidad-error"></div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="form-group">
            <label for="sabor">Sabor *</label>
            <input type="text" class="form-control" id="iSabor" name="iSabor" value="{{ Product.sabor }}" placeholder="Sabor"/>
            <div class="error-message" id="iSabor-error" style="color:red;"></div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="form-group">
            <label for="services">Presentación (LBs) *</label>
            <input type="text" class="form-control" id="iServices" name="iServices" placeholder="Tamaño" value="{{ Product.presentacion }}"/>
            <div class="error-message" style="color:red;" id="iServices-error"></div>
          </div>
        </div>
      </div>
    
      <div class="form-row">
        <div class="col-md-3 mb-2 mx-auto">
          <div class="form-group">
            <label for="price">Precio de Compra *</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="font-weight:bold; font-family:verdana; color:darkgreen">$</span>
              </div>
              <input type="text" class="form-control" id="iPrice" name="iPrice" placeholder="Ingrese un precio" oninput="formatPriceInput(this);" value="{{ Product.precio }}">
            </div>
            <div class="error-message" id="iPrice-error" style="color:red;"></div>
          </div>
        </div>

        <div class="col-md-3 mb-2 mx-auto">
          <div class="form-group">
            <label for="iPubPrice">Precio al Público *</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="font-weight:bold; font-family:verdana; color:red">$</span>
              </div>
              <input type="text" class="form-control" id="iPubPrice" name="iPubPrice" placeholder="Ingrese un precio al público" oninput="formatPriceInput(this);" value="{{ Product.precio_pub }}">
            </div>
            <div class="error-message" id="iPubPrice-error" style="color:red;"></div>
          </div>
        </div>
      </div>
    
      <div class="form-row">
        <div class="col-md-12 text-center">
          <button class="btn btn-success" type="submit" id="submit-button">Guardar</button>
          {% if not Product.id_marca or not Product.id_categoria %}
          <a href="{% url 'productos' %}" class="btn btn-secondary mx-2">Cancelar</a>
          {% endif %}
        </div>
      </div>
    </form>
    
  </div>
</div>

<script>
  var fechaActual = new Date().toISOString().split("T")[0];
  document.getElementById("iFechaven").min = fechaActual;
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
<script>
  $(document).ready(function () {
  function validarCamposLlenos() {
      let camposLlenos = true;
      const nombreValue = $('#iNombre').val();
      const descValue = $('#iDescripcion').val();
      const fechaValue = $('#iFechaven').val();
      const cantValue = $('#iCantidad').val();
      const saborValue = $('#iSabor').val();
      const presentacionValue = $('#iServices').val();
      const priceValue = $('#iPrice').val();
      const pubpriceValue = $('#iPubPrice').val();
      const marcaValue = $('#iMarca').val();
      const categoriaValue = $('#iCategoria').val();

      if (!nombreValue) {
          mostrarError('#iNombre', 'Este campo es obligatorio.');
          camposLlenos = false;
      }

      if (!descValue) {
          mostrarError('#iDescripcion', 'Este campo es obligatorio.');
          camposLlenos = false;
      }

      if (!fechaValue) {
          mostrarError('#iFechaven', 'Este campo es obligatorio.');
          camposLlenos = false;
      } 

      if (!cantValue) {
        mostrarError('#iCantidad', 'Este campo es obligatorio.');
        camposLlenos = false;
      }
      
      if (!saborValue) {
        mostrarError('#iSabor', 'Este campo es obligatorio.');
        camposLlenos = false;
      }

      if (!presentacionValue) {
        mostrarError('#iServices', 'Este campo es obligatorio.');
        camposLlenos = false;
      }

      if (!priceValue) {
        mostrarError('#iPrice', 'Este campo es obligatorio.');
        camposLlenos = false;
      }
      
      if (!pubpriceValue) {
        mostrarError('#iPubPrice', 'Este campo es obligatorio.');
        camposLlenos = false;
      }

      if (!marcaValue) {
        mostrarError('#iMarca', 'Debe seleccionar una marca.');
        camposLlenos = false;
    }
    if (!categoriaValue) {
        mostrarError('#iCategoria', 'Debe seleccionar una categoria.');
        camposLlenos = false;
    }
     
      return camposLlenos;
  }
  
    function ocultarError($campo) {
      $campo.removeClass('is-invalid');
      $campo.siblings('.error-message').text('');
    }

    $('#iNombre, #iDescripcion, #iFechaven, #iCantidad, #iSabor, #iServices, #iPrice, #iPubPrice, #iMarca, #iCategoria').on('input', function () {
      ocultarError($(this));
    });
  function mostrarError(selector, mensaje) {
      $(selector).addClass('is-invalid');
      $(`${selector}-error`).text(mensaje);
  }

  $('#producto-form').submit(function (event) {
      event.preventDefault();
      if (!validarCamposLlenos()) {
          return;
      }

      var formData = new FormData(this);
  
      var iProductImg = $('#iProductImg')[0].files[0];
      var iInfoImg = $('#iInfoImg')[0].files[0];

  
      if (iProductImg) {
          formData.append('iProductImg', iProductImg);
      }

      if (iInfoImg) {
          formData.append('iInfoImg', iInfoImg);
      }

      $.ajax({
          type: 'POST',
          url: "{% url 'editAProduct' Product.id_producto %}",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
              if (response.success) {
                  Swal.fire({
                      title: 'Éxito',
                      text: 'Se ha modificado el producto con éxito',
                      icon: 'success',
                      showConfirmButton: false,
                      timer: 3000,
                  });
                  setTimeout(function () {
                      window.location.href = "{% url 'productos' %}";
                  }, 2000);
              }
          },
          error: function (jqXHR, textStatus, errorThrown) {
              console.error(textStatus, errorThrown);
          }
      });
  });
});
</script>

<script>
  function formatPriceInput(inputElement) {
      let unformattedValue = inputElement.value.replace(/[,.]/g, '');
      let formattedValue = '';

      if (!isNaN(unformattedValue)) {
          formattedValue = unformattedValue.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
      }

      inputElement.value = formattedValue;

      
  }

  document.addEventListener('DOMContentLoaded', function() {
      let priceInputs = document.querySelectorAll('.form-control[name="iPrice"]');

      priceInputs.forEach(function(input) {
          formatPriceInput(input);
      });
  });

  document.addEventListener('DOMContentLoaded', function() {
    let pricepInputs = document.querySelectorAll('.form-control[name="iPubPrice"]');

    pricepInputs.forEach(function(input) {
        formatPriceInput(input);
    });
});
</script>


{% endblock %}
