{% extends "baseInterface.html" %}

{% block title %} Productos {% endblock %}

{% block body %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/productsHome.css' %}">
</head>
<br>
<center>
    <h1 class="text-black-800 mb-4" style="font-weight:bold;">Gestión de Productos</h1>
</center>

<div class="card mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <div class="d-flex flex-row">
            <span class="mx-2">
                <a href="{% url 'createAProduct' %}" class="btn btn-succes btn-adder btn-lg" data-toggle="tooltip"
                    data-placement="top" title="Crear un Producto">
                    <i class="fa-solid fa-plus mr-2"></i><span class="text"
                        style="font-weight: 600; font-size: 16px;">Agregar Producto</span>
                </a>

            </span>
            <span class="mx-2" data-toggle="tooltip" data-placement="top" title="Crear una Categoría">
                <a class="btn btn-light btn-add-category btn-lg" data-toggle="modal" data-target="#crearCategoriaModal">
                    <span class="icon">
                        <i class="fas fa-tags" id="categoryicon"></i>
                    </span>
                </a>
            </span>

            <span class="mx-2" data-toggle="tooltip" data-placement="top" title="Crear una Marca">
                <a class="btn btn-light btn-add-brand btn-lg align-items-center" data-toggle="modal"
                    data-target="#crearMarcaModal">
                    <span class="icon mx-auto">
                        <i class="fa-solid fa-inbox"></i>
                    </span>
                </a>
            </span>
        </div>


    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-4">
        <div class="table-responsive">
            <table class="table table-bordered mx-auto text-center" id="dataTable" width="100%" cellspacing="0">

                <thead class="theads">
                    <tr>
                        <th>Categoría</th>
                        <th>Marca</th>
                        <th>Producto</th>
                        <th data-toggle="tooltip" data-placement="top" title="Stock del Producto">Existencias</th>
                        <th data-toggle="tooltip" data-placement="top" title="Valor de Compra">Precio</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in Products %}
                    <tr class="{% if p.estado == 0 %}inactivo{% endif %}">
                        <td>{{p.id_categoria.nombre_categoria}}</td>
                        <td>{{p.id_marca.nombre_marca}}</td>
                        <td>{{p.nombre_producto}}</td>
                        <td>{{p.cantidad}}</td>
                        <td><span>$ </span><span class="precio-format">{{ p.precio|floatformat:"0" }}</span></td>
                        <td>
                            <button data-toggle="tooltip" data-placement="top" title="Cambiar de Estado"
                                class="cambiar-estado statusbutton mx-3 {% if p.estado == 1 %}active-status{% else %}inactive-status{% endif %}"
                                data-producto-id="{{ p.id_producto }}"
                                data-nuevo-estado="{% if p.estado == 1 %}0{% else %}1{% endif %}">
                                {% if p.estado == 1 %}
                                Activo
                                {% else %}
                                Inactivo
                                {% endif %}
                            </button>
                        </td>
                        <td class="cell-actions">
                            <a href="{% url 'editAProduct' p.id_producto %}" class="btn btn-sm" id="editbutton"
                                data-toggle="tooltip" data-placement="top" title="Editar Producto"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                            <button type="button" class="btn btn-sm btn-primary verProducto"
                                data-prod-id="{{ p.id_producto }}" data-toggle="tooltip" data-placement="right"
                                title="Ver Detalles">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $(".cambiar-estado").click(function () {
            var productoId = $(this).data("producto-id");
            var nuevoEstado = $(this).data("nuevo-estado");

            Swal.fire({
                title: 'Estado',
                text: '¿Desea cambiar el estado de este registro?',
                showCancelButton: true,
                confirmButtonColor: '#419edd',
                cancelButtonColor: '#ba4d4d',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{% url 'cambiarEstadoDeProducto'  %}",
                        data: {
                            producto_id: productoId,
                            nuevo_estado: nuevoEstado
                        },
                        method: "GET",
                        success: function (response) {
                            location.reload();
                        }
                    });
                }
            });
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $(".verProducto").click(function () {
            var productoId = $(this).data("prod-id");
            $.ajax({
                url: "{% url 'verDetalleDeProducto' %}",
                data: {
                    producto_id: productoId
                },
                method: "GET",
                success: function (response) {
                    let producto = response.success;
                    let formattedPrecio = formatoNumero(producto.precio_pub);

                    function formatoNumero(numero) {
                        return numero.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                    }

                    let fechaVen = new Date(producto.fechaven);
                    let fechaFormateada = fechaVen.getFullYear() + '-' + (fechaVen.getMonth() + 1).toString().padStart(2, '0') + '-' + fechaVen.getDate().toString().padStart(2, '0');
                    let estadoProductoCircle = producto.status == 1 ? "activo" : "inactivo";
                    let cantidadSpan = `<span style="color: ${producto.cantidad <= 5 ? 'red' : 'inherit'};">${producto.cantidad}</span>`;

                    Swal.fire({
                        html: `
            <div class="modal-container">
                <div class="modal-state ${estadoProductoCircle}"></div>
                <h2>Información del Producto</h2>
                <div class="modal-header">
                    <div class="modal-cont-img">
                        <img src="/media/${producto.img}" alt="Imagen" class="img-fluid">
                    </div>
                    <div class="modal-info p-2 m-auto">
                        <p><strong class="mr-1">Nombre:</strong> ${producto.nombre_producto}</p>
                        <p><strong class="mr-1">Precio al Público:</strong> $${formattedPrecio}</p>
                        <p><strong class="mr-1">Fecha de Vencimiento:</strong> ${fechaFormateada}</p>
                        <p><strong class="mr-1">Existencias:</strong> ${cantidadSpan}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="flex">
                        <p><strong class="mr-1">Marca:</strong> ${producto.marca}</p>
                        <p><strong>Categoría:</strong> ${producto.categoria}</p>
                    </div>
                    <div class="flex">
                        <p><strong class="mr-1">Sabor:</strong> ${producto.sabor}</p>
                        <p><strong class="mr-1">Presentación:</strong>${producto.servicios}Libra(s)</p>
                    </div>
                    <div class="modal-cont-descrip">
                        <p class="text-start"><strong class="mr-1">Descripción:</strong> ${producto.descripcion}</p>
                    </div>
                </div>
            </div>
            `,

                        showCloseButton: true,
                        showConfirmButton: false,
                        customClass: {
                            closeButton: 'custom-close-button',
                            popup: 'custom-swal-popup'
                        }
                    })
                    let css = `
                        .custom-close-button { 
                            border: none !important; 
                            color: black !important; 
                        }
                        .custom-swal-popup {
                            max-width: 50% !important;
                            width: auto !important;
                        }
                        `,
                        head = document.head || document.getElementsByTagName('head')[0],
                        style = document.createElement('style');

                    head.appendChild(style);

                    style.type = 'text/css';
                    if (style.styleSheet) {
                        style.styleSheet.cssText = css;
                    } else {
                        style.appendChild(document.createTextNode(css));
                    }

                },
            });
        });
    });

</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var precioElements = document.querySelectorAll('.precio-format');

        precioElements.forEach(function (element) {
            var precio = parseFloat(element.textContent);
            if (!isNaN(precio)) {
                var formattedPrecio = precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                element.textContent = formattedPrecio;
            }
        });
    });
</script>

<div class="modal fade" id="crearCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Agregar Categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card shadow mb-4 w-70">
                    <div class="card-header py-4">
                        <form class="form" id="category-form" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12 mb-1">
                                    <label for="nombre_categoria">Nombre de la Categoria *</label>
                                    <input type="text" class="form-control" id="nombre_categoria"
                                        name="nombre_categoria" placeholder="Ingrese un nombre">
                                    <div style="margin-top:10px"></div>
                                    <span class="error-message" id="nombre_categoria-error"></span>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-success mx-auto" id="guardarCategoria">Guardar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

        $("#nombre_categoria").on('input', function () {
            $("#nombre_categoria-error").text("");
            $("#nombre_categoria").removeClass("is-invalid")
        });

        $("#guardarCategoria").click(function () {
            camposValidos = true;
            if ($("#nombre_categoria").val().trim() === "") {
                $("#nombre_categoria").addClass("is-invalid")
                $('#nombre_categoria-error').text('Este campo es obligatorio.').css("color", "red");
                camposValidos = false;
            } else {
                $("#nombre_categoria").removeClass("is-invalid")
                $('#nombre_categoria-error').text('');
            }

            if (!camposValidos) {
                return;
            } else {
                enviarDatosCategoria();
            }
        });


        function enviarDatosCategoria() {
            $.ajax({
                type: "POST",
                url: "{% url 'create_category' %}",
                data: $('#category-form').serialize(),
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Éxito',
                            text: 'Se ha creado la Categoria con éxito',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 2000,
                        });
                        location.reload();
                    }
                }
            });
        }

    });
</script>

<div class="modal fade" id="crearMarcaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Agregar Marca</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card shadow mb-4 w-70">
                    <div class="card-header py-4">
                        <form class="form" id="marca-form" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12 mb-1">
                                    <label for="nombre_marca">Nombre de la Marca *</label>
                                    <input type="text" class="form-control" id="nombre_marca" name="nombre_marca"
                                        placeholder="Ingrese un nombre">
                                    <div style="margin-top:10px"></div>
                                    <span class="error-message" id="nombre_marca-error"></span>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-success mx-auto" id="guardarMarca">Guardar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

        $("#nombre_marca").on('input', function () {
            $("#nombre_marca-error").text("");
            $("#nombre_marca").removeClass("is-invalid")
        });

        $("#guardarMarca").click(function () {
            camposValidos = true;
            if ($("#nombre_marca").val().trim() === "") {
                $("#nombre_marca").addClass("is-invalid")
                $('#nombre_marca-error').text('Este campo es obligatorio.').css("color", "red");
                camposValidos = false;
            } else {
                $("#nombre_marca").removeClass("is-invalid")
                $('#nombre_marca-error').text('');
            }

            if (!camposValidos) {
                return;
            } else {
                enviarDatosMarca();
            }
        });


        function enviarDatosMarca() {
            $.ajax({
                type: "POST",
                url: "{% url 'create_brand' %}",
                data: $('#marca-form').serialize(),
                success: function (response) {
                    if (response.success) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Éxito',
                                text: 'Se ha creado la marca con éxito!',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 2000,
                            });
                            location.reload();
                        }
                    }
                }
            });
        }

    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    });
</script>


{% endblock %}