<div class="form-group">
  <label for="departamento">Departamento *</label>
  <select class="form-control" id="departamento" name="nombre_departamento">
      {% for departamento in departamentos %}
          <option value="{{ departamento.id_departamento }}" {% if departamento.id_departamento == cliente.id_municipio.id_departamento.id_departamento %} selected {% endif %}>
              {{ departamento.nombre_departamento }}
          </option>
      {% endfor %}
  </select>
</div>
<div class="form-group">
  <label for="municipio">Municipio *</label>
  <select class="form-control" id="municipio" name="nombre_municipio">
      {% for municipio in municipios %}
          <option value="{{ municipio.id_municipio }}" {% if municipio.id_municipio == cliente.id_municipio.id_municipio %} selected {% endif %}>
              {{ municipio.nombre_municipio }}
          </option>
      {% endfor %}
  </select>
</div>
</div>