{% extends "baseInterface.html" %}


{% block body %}

<style>
    
    tbody td.inactivo {
            background-color: #f8f9fc; }
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        margin-left: 10px;
    }

    .switch input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 20px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: #28a745; 
    }

    input:checked + .slider:before {
        transform: translateX(20px);
    }

    input:checked + .slider:after {
        content: "Activo";
        position: absolute;
        top: -5px;
        right: -40px;
        color: #28a745;
        font-size: 12px;
        font-weight: bold;
    }

    input:not(:checked) + .slider:after {
        content: "Inactivo";
        position: absolute;
        top: -5px;
        right: -36px;
        color: #dc3545; 
        font-size: 12px;
        font-weight: bold;
    }

    .slider.round {
        border-radius: 20px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
   <!-- Page Wrapper -->
   
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Clientes</h1>
                <p class="mb-4">Este es el módulo de Clientes, aquí puedes gestionar registros de tus Clientes</p>
            
                <!-- Botón para agregar cliente -->
                <a href="{% url 'agregar_cliente_post' %}" class="m-0 btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                    <span class="text">Agregar</span>
                </a>
            
            
            <br>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <!-- Tabla de Clientes -->
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="color:black">ID Cliente</th>
                                    <th style="color:black">Municipio</th>
                                    <th style="color:black">Documento</th>
                                    <th style="color:black">Nombres</th>
                                    <th style="color:black">Apellidos</th>
                                    <th style="color:black">Celular</th>
                                    <th style="color:black">Barrio</th>
                                    <th style="color:black">Dirección</th>
                                    <th style="color:black">Estado</th>
                                    <th style="color:black">Acciones</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th style="color:black">ID Cliente</th>
                                    <th style="color:black">Municipio</th>
                                    <th style="color:black">Documento</th>
                                    <th style="color:black">Nombres</th>
                                    <th style="color:black">Apellidos</th>
                                    <th style="color:black">Celular</th>
                                    <th style="color:black">Barrio</th>
                                    <th style="color:black">Dirección</th>
                                    <th style="color:black">Estado</th>
                                    <th style="color:black">Acciones</th>
                                </tr>
                            </tfoot>
                            <tbody>
                               
                                {% for cliente in clientes %}
                                <tr>
                                    <td>{{ cliente.id_cliente }}</td>
                                    <td>{{ cliente.id_municipio.nombre_municipio }}</td>
                                    <td>{{ cliente.documento }}</td>
                                    <td>{{ cliente.nombres }}</td>
                                    <td>{{ cliente.apellidos }}</td>
                                    <td>{{ cliente.celular }}</td>
                                    <td>{{ cliente.barrio }}</td>
                                    <td>{{ cliente.direccion }}</td>
                                    <td>
                                        {% if cliente.estado == 1 %}
                                            <button class="btn btn-danger cambiar-estado" data-cliente-id="{{ cliente.id_cliente }}" data-nuevo-estado="0">Inactivar</button>
                                        {% else %}
                                            <button class="btn btn-success cambiar-estado" data-cliente-id="{{ cliente.id_cliente }}" data-nuevo-estado="1">Activar</button>
                                        {% endif %}
                                    </td>
                                    
                                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                    <script>
                                        $(document).ready(function() {
                                            $(".cambiar-estado").click(function() {
                                                var clienteId = $(this).data("cliente-id");
                                                var nuevoEstado = $(this).data("nuevo-estado");
                                    
                                                Swal.fire({
                                                    title: 'Confirmar',
                                                    text: '¿Estás seguro de que deseas cambiar el estado?',
                                                    icon: 'warning',
                                                    showCancelButton: true,
                                                    confirmButtonColor: '#3085d6',
                                                    cancelButtonColor: '#d33',
                                                    confirmButtonText: 'Confirmar',
                                                    cancelButtonText: 'Cancelar'
                                                }).then((result) => {
                                                    if (result.isConfirmed) {
                                                        $.ajax({
                                                            url: "{% url 'cambiar_estado_cliente_ajax'  %}",
                                                            data: {
                                                                cliente_id: clienteId,
                                                                nuevo_estado: nuevoEstado
                                                            },
                                                            method: "GET",
                                                            success: function(response) {
                                                                // Actualiza la página o la sección relevante según sea necesario
                                                                location.reload();
                                                            },
                                                            error: function(error) {
                                                                // Maneja el error si es necesario
                                                            }
                                                        });
                                                    }
                                                });
                                            });
                                        });
                                    </script>
                                    
                                    
                                    <td>
                                       
                                        <a href="{% url 'editar_cliente' cliente.id_cliente %}" class="btn btn-primary {% if cliente.estado == 0 %}disabled{% endif %}">Editar</a>
                                   </td>
                                    
                                    
                                  
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
            
            <!-- /.container-fluid -->

        </div>
        <!-- Fin del Contenido Principal... -->

        <!-- Footer -->
     

    </div>
    <!-- End of Content Wrapper -->

</div>




{%endblock%}