@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    max-zoom: 100%;
}

#video-fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
  }

.wrapper {
    width: 520px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 40px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    align-self: center;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    font-size:medium;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.text-with-shadow {
    color: white;
    text-shadow: 3px 3px 50px black;
    font-weight: bold;
}

/* Para los campos de texto autocompletados */
.input-box:-webkit-autofill,
.input-box:-webkit-autofill:hover,
.input-box:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    background-clip: content-box, border-box;
}



/* Para los campos de contraseñas autocompletados */
.input-box:-webkit-autofill-password,
.input-box:-webkit-autofill-password:hover,
.input-box:-webkit-autofill-password:focus {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    background-clip: content-box, border-box;
}


.input-box input::placeholder {
    color: #fff;
}

/* .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform:  translateY(-50%);
    font-size: 20px;
} */

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.wrapper .remember-forgot a {cursor: pointer;}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 50%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.btn:hover{
    background-color: transparent;
    border: solid 2px white;
    color:white;
}

.wrapperLogus {
    width: 520px;
    padding: 40px 40px;
    margin-right:13%;
}

.glitch-image {
    width:120%;
    height: 100%;
    object-fit: cover;
    animation: glitch 3s infinite;
}

#cong{
    border: solid 2px white;
    border-radius:50%
}

#cong:hover{
    border:solid 4px magenta;
    border-radius:50%;
}

@keyframes glitch {
    0%, 100% {
        transform: translate(0, 0);
    }
    5%, 10%, 15%, 20%, 25%, 30% {
        transform: translate(-5px, 5px);
    }
    35%, 40%, 45%, 50%, 55%, 60%, 65% {
        transform: translate(5px, -5px);
    }
    70%, 75%, 80%, 85%, 90%, 95% {
        transform: translate(-5px, 5px);
    }
}

/*---------------------- OLVIDAR CONTRA ------------------------------*/
.swal2-popup {
    width: 400px;
    background-color: #222222;
}

.forget-container input {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 17px;
    padding: 0 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    outline: none;
    color: #000;
    font-weight: 500;
}

.forget-butons {
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.forget-butons button {
    border: none;
    border-radius: 10px;
    width: 4.5rem;
    height: 2.2rem;
    padding: 5px 0;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.forget-butons button:hover {
    cursor: pointer;
    transform: scale(0.94);
    color: #ccc;
}

.forget-butons button:first-child {
    background-color: rgba(0, 0, 0, .8);
}

.forget-butons button:last-child {
    background-color: rgba(0, 0, 0, .4);
}


.codig-container-inputs {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.codig-container-inputs input {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.btn-codig {
    opacity: 0.5;
    pointer-events: none;
}

.btn-codig.is-active {
    opacity: 1;
    pointer-events: all;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

svg {
    position: absolute;
    top: 40%;
    left: 40%;
    margin: auto;
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

circle {
    fill: none;
    stroke: rgb(128, 128, 255);
    stroke-width: 3;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}

.recover-container-inputs {
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.recover-container-inputs label {
    font-size: 14px;
    color: #fff;
}

.white-text {
    color: #fff !important;
}
#submit-btn.inhabilitado,
#forget-correo.inhabilitado {
    pointer-events: none;
}