<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Error</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <style>
        body::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        body::-webkit-scrollbar:vertical {
            width: 10px;
        }

        body::-webkit-scrollbar-button:increment,
        .contenedor::-webkit-scrollbar-button {
            display: none;
        }

        body::-webkit-scrollbar:horizontal {
            height: 10px;
        }

        body::-webkit-scrollbar-thumb {
            background-color: lightgray;
            border-radius: 20px;
            border: 2px solid #f1f2f3;
        }

        body::-webkit-scrollbar-track {
            border-radius: 10px;
        }
    </style>
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow d-flex justify-content-center" style="background-color:black;">
                    <!-- Contenido de la barra superior (topbar) -->
                    <img src="{% static 'img/TextLogo.png' %}" style="width:190px;">

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="text-center">
                        <br>
                        <center><img style="width:140px;" src="{% static 'img/GIcon.png' %}"></center>
                        <br>
                        <div class="error mx-auto" style="color:black" data-text="404">404</div>
                        <p class="lead text-gray-800 mb-5" style="font-weight:bold;">Dirección no Encontrada</p>
                        <p class="text-gray-500 mb-0">Daniel Perez...</p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <a href="{% url 'login_view' %}">&larr; Regresar</a>
                    </div>
                    <div style="height:20vh">
                        
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span style="font-size:16px;">&copy; TuiranFit - 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <script>
        
        document.addEventListener('gesturestart', function (e) {
            e.preventDefault();
        });

        // document.addEventListener('touchmove', function(event) {
        //     if (event.scale !== 1) { event.preventDefault(); }
        // });
    </script>
</body>

</html>