.table {
    width: 80%;
}

table thead.theads {
    text-align: center;
    color: white;
    background-color: black;
}

table tbody.tbody {
    text-align: center;
}

.modtitles {
    font-size: 2em;
    background-image: linear-gradient(45deg, #000000, #3c3636, #000);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: animarGradiente 3s linear infinite;
    font-weight: bold;
}

.btn-dash {
    color: #000;
    font-weight: 600;
}

.btn-dash:hover {
    color: #000;
}

.btn-adder:hover {
    color: #000;
    background-color: #77B677;
    border: solid 1px black;
}

.btn-adder {
    background-color: #85da85;
    border: solid 1px black;
}

.btn-dash {
    background-color: #c55c5c;
    color: black;
}

.btn-dash:hover {
    background-color: #D16060;
    color: black
}

tr.inactivo {
    background-color: #ccc;
    color: #676666;
}

.statusbutton {
    width: 5rem;
    border-radius: 3px;
    border: none;
}

.statusbutton:hover {
    opacity: 0.9;
}

#editbutton {
    background-color: #FFFF99;
    color: #000;
    border: none;
    transition: transform 0.5s;
}

.detailsbutton {

    color: white;
    border: none;
    transition: transform 0.5s;
}

#editbutton:hover,
#detailsbutton:hover {
    transform: scale(1.1);
}

.cell-actions {
    display: flex;
    justify-content: space-around;
}

.active-status {
    background-color: rgb(45, 124, 242);
    color: white;
    border: solid 1px black;
}

.inactive-status {
    background-color: #ff3838;
    color: white;
    border:solid 1px black
}

.inactive-status:hover{
    background-color: #ed5959;
    border:solid 1px black;
    color:white;
}

.modal-container h2 {
    font-size: 1.5rem;
    text-align: center;
}

.flex {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.modal-body {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.modal-state {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.modal-state.activo {
    background-color: #72d072;
}

.modal-state.inactivo {
    background-color: #ba4d4d;
}