{% extends "baseInterface.html" %}

{% block title %} Agregar Proveedor {% endblock %}

{% block body %}

<style>
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
</style>

<div class="center-content" style="margin-bottom:10px">
<h1 class="h3 mx-5 text-black-900">Agregar Proveedor</h1>
<br>
<div class="card shadow mb-4 w-70">
    <div class="card-header py-4">
        <form id="proveedor-form" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="#">Nombre del Proveedor *</label>
                    <input type="text" class="form-control" id="nombre_proveedor" name="nombre_proveedor"
                        placeholder="Nombre">
                    <span class="error-message" id="nombre_proveedor-error"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="#">Número de contacto *</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Número"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                    <span class="error-message" id="telefono-error"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="#">Correo Electrónico *</label>
                    <input type="text" class="form-control" id="correo" name="correo" placeholder="Correo Electrónico">
                    <span class="error-message" id="correo-error"></span>
                </div>
            </div>
            <div class="text-end">
            <button class="btn btn-success mx-auto" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Función para validar que todos los campos estén llenos
        function validarCamposLlenos() {
            let camposLlenos = true;
            const nombreValue = $('#nombre_proveedor').val();
            const telefonoValue = $('#telefono').val();
            const correoValue = $('#correo').val();

            if (!nombreValue) {
                mostrarError('#nombre_proveedor', 'Este campo es obligatorio.');
                camposLlenos = false;
            }
            if (!telefonoValue) {
                mostrarError('#telefono', 'Este campo es obligatorio.');
                camposLlenos = false;
            } else if (!/^\d{10}$/.test(telefonoValue)) {
                mostrarError('#telefono', 'Número inválido.');
                camposLlenos = false;
            }
            if (!correoValue) {
                mostrarError('#correo', 'Este campo es obligatorio.');
                camposLlenos = false;
            } else if (!validarFormatoCorreo(correoValue)) {
                mostrarError('#correo', 'El formato del correo electrónico no es válido.');
                camposLlenos = false;
            }
            return camposLlenos;
        }

        // Validación de campos al escribir
        $('#nombre_proveedor, #telefono, #correo').on('input', function () {
            const campo = $(this);
            const campoValue = campo.val();

            if (campoValue) {
                campo.removeClass('is-invalid');
                $(`#${campo.attr('id')}-error`).text('');
            }
        });

        function mostrarError(selector, mensaje) {
            $(selector).addClass('is-invalid');
            $(`${selector}-error`).text(mensaje).css('color', 'red');
        }

        function validarFormatoCorreo(correo) {
            const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            return emailRegex.test(correo);
        }

        $('#proveedor-form').submit(function (event) {
            event.preventDefault();

            // Validar que todos los campos estén llenos
            if (!validarCamposLlenos()) {
                return;
            }
            // Continuar con el envío del formulario si todos los campos están llenos
            $.ajax({
                type: 'POST',
                url: "{% url 'crearProveedor' %}",
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        alert('Proveedor creado con éxito.');
                        window.location.href = "{% url 'proveedores' %}";
                    }
                }
            });
        });
    });
</script>



{% endblock %}