{% extends "baseInterface.html" %}
{% block title %} Agregar Proveedor {% endblock %}
{% block body %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/StyleProv.css' %}">
</head>

<div class="center-content mt-5">
    <br>
    <h1 class="modtitles">Agregar Proveedor</h1>
    <br>
    <div class="mb-4 col-md-11 p-0 card shadow">
        <div class="card-header py-4">
            <form id="proveedor-form" method="post" >
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-7 mb-3">
                        <label for="nombre_proveedor">Nombre del Proveedor *</label>
                        <input type="text" class="form-control" id="nombre_proveedor" name="nombre_proveedor"
                            placeholder="Nombre">
                        <span class="error-message" id="nombre_proveedor-error"></span>
                    </div>
                    <div class="col-md-5 mb-3">
                        <label for="telefono">Número de Contacto *</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Número"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '');" minlength="10" maxlength="10">
                        <span class="error-message" id="telefono-error"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-7 mb-3">
                        <label for="correo">Correo Electrónico *</label>
                        <input type="text" class="form-control" id="correo" name="correo"
                            placeholder="Correo Electrónico">
                        <span class="error-message" id="correo-error"></span>
                    </div>
                    <div class="col-md-5 mb-3">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Dirección">
                        <span class="error-message" id="direccion-error"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3" style=" display: flex; flex-direction: column;">
                        <label>Tipo de Documento</label>
                        <select id="tipoIdentificacion" class="select-tipo" name="tipoIdentificacion">
                            <option value="">Seleccionar</option>
                            <option value="DOC">Documento</option>
                            <option value="NIT">NIT</option>
                        </select>
                    </div>
                    <div class="col-md-8 mb-3">
                        <label>Número de Identificación</label>
                        <input type="text" class="form-control" id="identificacion" name="identificacion"
                            placeholder="Documento o NIT">
                        <span class="error-message" id="identificacion-error"></span>
                    </div>
                </div>
                <div class="form-row">
                    <label>Información Adicional</label>
                    <textarea id="informacion" class="form-control" rows="3" cols="50" name="informacion" style="resize: none; max-height: 200px;"></textarea>
                </div>
                <div class="text-end mt-3">
                    <button id="btnCrearProv" class="btn btn-success mx-auto" type="submit" data-url-crear="{% url 'crearProveedor' %}"  data-url-validar="{% url 'proveedor_unico' %}">Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $(document).ready(function () {

        $("#nombre_proveedor, #telefono, #correo, #tipoIdentificacion, #identificacion, #direccion, #informacion").val("");
    function mostrarError(selector, mensaje) {
        $(selector).addClass('is-invalid');
        $(`${selector}-error`).text(mensaje).css('color', 'red');
    }

    function validarFormatoCorreo(correo) {
        const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        return emailRegex.test(correo);
    }
    function validarCamposObligatorios() {
        let camposLlenos = true;
        const nombreValue = $('#nombre_proveedor').val();
        const telefonoValue = $('#telefono').val();
        const correoValue = $('#correo').val();
        const tipoIdentificacionValue = $('#tipoIdentificacion').val(); // Obtener valor del select
        const identificacionValue = $('#identificacion').val(); // Obtener valor del input identificacion

        if (!nombreValue) {
            mostrarError('#nombre_proveedor', 'Este campo es obligatorio.');
            camposLlenos = false;
        }
        if (!telefonoValue) {
            mostrarError('#telefono', 'Este campo es obligatorio.');
            camposLlenos = false;
        } else if (!/^\d{10}$/.test(telefonoValue)) {
            mostrarError('#telefono', 'Número inválido.');
            camposLlenos = false;
        }
        if (!correoValue) {
            mostrarError('#correo', 'Este campo es obligatorio.');
            camposLlenos = false;
        } else if (!validarFormatoCorreo(correoValue)) {
            mostrarError('#correo', 'El formato del correo electrónico no es válido.');
            camposLlenos = false;
        }

        if (tipoIdentificacionValue !== '' && identificacionValue === '') {
            mostrarError('#identificacion', 'Debe ingresar una identificación.');
            camposLlenos = false;
        } else if (tipoIdentificacionValue === '' && identificacionValue !== '') {
            mostrarError('#identificacion', 'Debe seleccionar el tipo de identificación.');
            camposLlenos = false;
        } else {
            $("#identificacion").removeClass("is-invalid")
            $("#identificacion-error").text("")
        }

        return camposLlenos;
    }


    $('#nombre_proveedor, #telefono, #correo, #identificacion').on('input', function () {
        const campo = $(this);
        const campoValue = campo.val();

        if (campoValue) {
            campo.removeClass('is-invalid');
            $(`#${campo.attr('id')}-error`).text('');
        }
    });

    
    function validarProveedor(proveedor, url) {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: url,
                type: "GET",
                data: {
                    proveedor: proveedor,
                },
                success: function (data) {
                    if (data.existe) {
                        resolve(true);
                    } else {
                        resolve(false);
                    }
                }
            });
        });
    }

    $('#proveedor-form').submit(function (event) {
        event.preventDefault();
        let urlCrear = document.getElementById("btnCrearProv").getAttribute("data-url-crear");
        let urlValidar = document.getElementById("btnCrearProv").getAttribute("data-url-validar");
        //     <div class="text-end mt-3">
        //     <button id="btnCrearProv" class="btn btn-success mx-auto" type="submit" data-url-crear="{% url 'crearProveedor' %}"  data-url-validar="{% url 'proveedor_unico' %}">Guardar</button>
        // </div>
        if (!validarCamposObligatorios()) {
            return;
        }
        prov = $("#nombre_proveedor").val()
        validarProveedor(prov, urlValidar).then(function (existe) {
            if (existe) {
                $("#nombre_proveedor").addClass("is-invalid");
                $("#nombre_proveedor-error").text("El proveedor " + prov + " ya existe").css("color", "red");
            } else {
                $("#nombre_proveedor").removeClass("is-invalid");
                $("#nombre_proveedor-error").text("");
                enviarDatosProveedor(urlCrear);
            }
        });
    });

    function enviarDatosProveedor(url) {
        $.ajax({
            type: 'POST',
            url: url,
            data: $('#proveedor-form').serialize(),
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        title: 'Éxito',
                        text: 'Proveedor creado con éxito',
                        icon: 'success',
                        showConfirmButton: false, 
                        timer: 2000,
                    });
                    setTimeout(function () {
                        window.location.href = "{% url 'proveedores' %}";
                    }, 2000);
                }
            }
        });            
    }


    });
</script>



{% endblock %}