
{% extends "baseInterface.html" %}

{% block title %} Proveedores {% endblock %}

{% block body %}

<style>
    /* Estilos para el menú desplegable de registros por página */
.dataTables_length select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  padding-right: 30px; /* Ajusta el espacio para el icono */
}

.dataTables_length label {
    display:flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items:center;
    gap: 10px;
    }


.dataTables_paginate .paginate_button.current {
    background-color: black;
    color: white;
}
    

</style>

<h1 class="h3 mb-2 text-gray-800">Proveedores</h1>
<p class="mb-4">Este es el entorno de Proveedores, aquí puedes gestionar registros de tus Proveedores.</p>

<div class="card shadow mb-4">
    <div class="card-header py-3" style="display: flex; justify-content: space-between; align-items: flex-center;">
        <span>
            <a href="#" class="m-0 btn btn-success btn-icon-split" style="padding:2px">
                <span class="icon text-white-50">
                    <i class="fa-solid fa-plus"></i>
                </span>
                <span class="text">Agregar</span>
            </a>
        </span>
        <span style="display: flex; align-items: flex-end;">
            <h6 style="margin-bottom: 1; color: black; font-weight: bold; margin-right: 10px;">Informes:</h6>
            <button class="m-0 btn btn-danger">Ir a Dashboard</button>
        </span>
    </div>
</div> 

<div class="card shadow mb-4">
    <div class="card-header py-4">
        <!-- Tabla de Clientes -->
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="3" style="border: 3px solid black; border-radius:7px">
                <thead>
                    <tr>
                        <th style="color:black">ID</th>
                        <th style="color:black">Nombre</th>
                        <th style="color:black">Teléfono</th>
                        <th style="color:black">Correo</th>
                        <th style="color:black">Modificar</th>
                        <th style="color:black">Estado</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th style="color:black">ID</th>
                        <th style="color:black">Nombre</th>
                        <th style="color:black">Teléfono</th>
                        <th style="color:black">Correo</th>
                        <th style="color:black">Modificar</th>
                        <th style="color:black">Estado</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for proveedor in proveedores %}
                    <tr>
                        <td>{{ proveedor.id_proveedor }}</td>
                        <td>{{ proveedor.nombre_proveedor }}</td>
                        <td>{{ proveedor.telefono }}</td>
                        <td>{{ proveedor.correo }}</td>
                        <td><button type="button" class="btn btn-warning">Editar</button></td>
                        <td><button type="button" class="btn btn-dark">Estado</button></td>
                        {% comment %} <td><a href="{% url 'Editar' proveedor.id_proveedor %}"
                                class="btn btn-sm btn-primary">Editar <i class="bi bi-pencil"></i></a></td>
                        <td>
                                    <a href="{% url 'Estado' proveedor.id_proveedor %}" class="btn {% if proveedor.estado == 1 %}btn-success{% else %}btn-danger{% endif %}">
                                        {% if proveedor.estado == 1 %}
                                        Activo
                                        {% else %}
                                        Inhabilitado
                                        {% endif %}</a>
                        </td> {% endcomment %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}