/* BODY block ------------------ */

.product-featured {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    margin: 15px 10px;
}

.view-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.view-options i {
    background-color: #f2f2f2;
    color: #222222;
    padding: 5px;
}

.product-card-container {
    background: #fff;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px 10px;
}

.product-card-container.grid-view {
    grid-template-columns: repeat(2, 1fr);
}

.product-card-container.list-view {
    font-size: 1.2rem;
    grid-template-columns: 1fr;
    gap: 25px;
}

.product-card-container.list-view .product-description {
    display: block;
    max-height: 100px;
    overflow: hidden;
}

.product-card-container.list-view .product-image {
    height: 250px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.product-card:hover {
    opacity: 0.8;
    transform: scale(1.020);
}
.product-card a {
    color: #000;
    text-decoration: none;
    width: 100%;
}

.product-image {
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin: 0 auto;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details {
    padding: 10px;
    width: 100%;
}

.product-title {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1rem;
    font-weight: bold;
}


.product-description {
    display: none;
    padding: 10px 0;
}




@media screen and (min-width: 768px) {
    .product-card-container {
        overflow-y: scroll;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 35px;
        grid-auto-rows: min-content;
        row-gap: 40px;
    }
    
    .product-card {
        height: auto;
        max-height: 250px;

    }

    .product-image {
        height: 200px;
    }
}