
.product-details {
    height: 100vh;
    margin-top: 20px;
    padding: 20px 10px;
}

.line-divider {
    margin: 10px 0;
}
.product-options {
    list-style: none;
}



swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
