* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 999;
  transition: transform 0.1s ease-in-out;
}

.whatsapp-button:hover {
  color: #FFF;
  background-color: #1aa34d;
  transform: scale(1.1);
}

.hamburger {
  padding: 0;
  cursor: pointer;
  z-index: 999;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 2.3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}


.main-menu {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 999;
  display: block;
  transition: left 0.3s ease-in-out;
}

.main-menu.is-active {
  left: 0;
}

.menu-list {
  height: 100%;
  list-style: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
}


.menu-item {
  display: flex;
  padding: 10px;
}
.menu-item.logo {
  width: 100%;
  justify-content: center;
}
.menu-item.nav {
  flex-direction: column;
}

.container-search {
  margin-bottom: 20px;
}

.search {
  display: block;
  width: 100%;
  height: 35px;
  padding: 12px;
  outline: none;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
}

.search:active {
  transform: scale(0.95);
}

.search:focus {
  box-shadow: 0px 0px 20px #383636;
}


.menu-item.productos {
  justify-content: space-between;
  padding: 0 10px;
}

.divider {
  background: #ccc;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-link:hover {
  color: #ccc;
}

.icon {
  margin-left: 10px;
}

.menu-item.info {
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
}

.login-item {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  text-align: right;
}

.login-button {
  text-decoration: none;
  color: #fff !important;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 7px 30px;

}

/* ------------------ */

.main-header {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding-bottom: 10px;
}

.header-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
}

.logo {
  width: 70px;
}

.social-icons {
  padding: 0 10px;
}

.social-icons i {
  color: #Fff;
  font-size: 1.1rem;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 7px 10px;
}

/*------------------ */
.catalog-section {
  padding: 5px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-section.home {
  padding: 10px;
  justify-content: right;
}

.catalog-section .sort {
  margin: 0 10px 0 0;
}

.catalog-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.catalog-link:hover {
  color: #000;
}

/* CATALOG MENU ----------------------- */
#toggle-menu {
  cursor: pointer;
}

#toggle-menu i {
  color: #222222;
  padding: 5px;
}

.menu-options {
  background-color: #FFF;
  width: 100%;
  height: 0;
  overflow-y: scroll;
  transition: transform 0.5s ease-in-out, height 0.5s ease-in-out;
  display: block;
}

.menu-options.is-active {
  height: 200px;
  transition: transform 0.5s ease-in-out, height 0.5s ease-in-out;
  border-bottom: 2px solid #ccc;
}


/* MENU DE OPCIONES PRINCIAL */
.menu-options.main {
  background-color: #000;
  position: relative;
  width: 100%;
  border: none;
}

.menu-options.main .marck {
  background-color: #000;
  color: #FFF;
}

.menu-options.main .menu-column:first-child {
  text-align: right;
}

.menu-options.main .menu-column .marck:first-child {
  border-bottom: none;
  padding: 5px 0 0 0;
}

/*------------------------------------------------*/

.menu-column {
  padding: 10px;
}

.menu-option {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.menu-option:hover {
  background-color: #f2f2f2;
  color: #222222;
}

/* ----------- product, marca, categoria ------------ */

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.18rem;
  width: 100%;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  border: none;
  padding: .5rem 0;
  color: #000;
}

.radio-inputs .radio input:checked+.name {
  background-color: #fff;
  font-weight: 600;
}

/* ------------------------------------- */


/* MAIN MENU PRODUCT*/
.categoria-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #222222;
}



/* PAGE CATALOG --------------- */
.catalog-select {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
}

.sort-option {
  border: 2px solid #333;
  font-size: 10px;
  font-weight: bold;
}


/* footer ---------------- ----------- */
footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/*   
  @media screen and (min-width: 992px) {

    .product-card {
      max-width: 300px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
  }

  @media screen and (min-width: 1024px) {
  } */