* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.cont-recibo::-webkit-scrollbar {
  display: block !important;
}

.scrollbar-add-descrip::-webkit-scrollbar {
  display: block;
}

body {
  /* font-family: 'Alatsi', sans-serif; */
  font-family: Helvetica;
}

.desktop {
  display: none;
}

.desktop .añadir {
  display: flex;
  flex-wrap: wrap;
}

.mobile {
  display: block;
}

.fa-trash {
  position: absolute;
  top: 10px;
  right: 10px;
}

.fa-trash:hover {
  cursor: pointer;
  transform: scale(1.080);
  animation-duration: .2s ease-in-out;
}

.whatsapp-button {
  z-index: 999;
  position: fixed;
  bottom: 30px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

.whatsapp-button:hover {
  color: #FFF;
  background-color: #1aa34d;
  transform: scale(1.1);
}

.whatsapp-button:hover i {
  transform: rotate(-11deg);
  transition-duration: .2s;
}

.hamburger {
  padding: 0;
  cursor: pointer;
  z-index: 2;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 2.3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}


.main-menu {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  display: block;
  transition: left 0.3s ease-in-out;
  z-index: 888;
}

.main-menu.is-active {
  left: 0;
}

.main-menu-list {
  list-style: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
}


.menu-item {
  display: flex;
  padding: 10px;
}

.menu-item.logo {
  width: 100%;
  justify-content: center;
}

.menu-item.nav {
  flex-direction: column;
}

/* Estilo para el icono "X" */
.search-clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  cursor: pointer;
  color: #000;
  display: none;
}

.container-search {
  margin-bottom: 10px;
  position: relative;
}

.search:valid+.search-clear-icon {
  display: block;
}

.search {
  display: block;
  width: 100%;
  height: 35px;
  padding: 12px;
  outline: none;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
}

.search:focus {
  box-shadow: 0px 0px 20px #38363652;
}


.search-result {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 30px;
  width: 85%;
  max-height: 0;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0;
  transition: max-height 0.5s ease-in-out;
  z-index: 999;
  margin: 0;
  padding: 0;
}

.search-result.is-active {
  max-height: 300px;
  border-bottom: 2px solid #ccc;
}

.item-order {
  cursor: pointer;
  background-color: #222222;
}

.item-order .order-cont-cant {
  position: relative;
}

.item-order .order-cont-cant span {
  position: absolute;
  right: -11px;
  top: -5px;
  border-radius: 10px;
  width: 1.1em;
  height: 1.1em;
  background-color: #DC3545;
  font-weight: bold;
  display: none;
  align-items: center;
  justify-content: center;
}

.order-cont-cant .order-cant.show {
  display: flex;
}


.search-card {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  transition: all .500ms ease-in;
}

.search-card-desk {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.search-card-desk {
  transition: transform .1s ease-in-out;
}

.search-card-desk:hover {
  cursor: pointer;
  transform: scale(1.030);
}

.search-card:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.search-card .search-image {
  width: 30px;
}

.search-card .search-title {
  margin: auto 0;
}


.divider {
  margin: 0;
  margin-bottom: 10px;
  background: #ccc;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-link:hover {
  color: #ccc;
}

.icon {
  margin-right: 5px;
}

.menu-item.info {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
}

.login-item {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;

}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: .5s;
}

.CartBtn:active {
  opacity: 0.9;
  transition-duration: .5s;
}

.CartBtn {
  width: 100%;
  height: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: height .4s ease-in-out;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.star-icon {
  margin: auto;
  color: #fff;
  font-size: 12px;
}

.icon {
  border-radius: 1px;
}

.enlace-inactivo-pedido {
  pointer-events: none;
  opacity: 0.8;
}

.text {
  color: #fff;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition-duration: .5s;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0;
}

.desktop .product-card:hover .CartBtn {
  height: 40px;
}

.cart-alert .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.cart-alert .text {
  transform: translate(10px, 0px);
  transition-duration: .5s;
}

@media (min-width: 768px) {
  .cont-recibo {
    display: flex;
    flex-direction: column;
  }

  .cont-recibo-1 {
    order: 1;
  }

  .cont-recibo-2 {
    order: 2;
  }
}

@media (max-width: 767px) {
  .cont-recibo {
    display: flex;
    flex-direction: column;
  }

  .cont-recibo-1 {
    order: 2;
  }

  .cont-recibo-2 {
    order: 1;
  }
}


@media (max-width: 767px) {

  .mobile .CartBtn {
    height: 30px;
  }

  .mobile .CartBtn .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }

  .mobile .CartBtn .text {
    transform: translate(10px, 0px);
    transition-duration: .5s;
  }
}

/* ------------------ */

.main-header {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding-bottom: 10px;
}

.header-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
}

.logo {
  width: 70px;
}

.social-icons {
  display: block;
  padding: 0 10px;
}

.social-icons a {
  background-color: #333;
  padding: 5px 7px;
  border-radius: 50%;

}

.social-icons i {
  color: #Fff;
  margin: 0 auto;
  font-size: 1.1rem;
  transition: transform .1s ease-in-out;
}

.social-icons i:active {
  transform: scale(1.1);
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 7px 10px;
}

/*------------------ */
.catalog-section {
  padding-top: 15px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.catalog-section .sort {
  margin: 0 10px 0 0;
}

.catalog-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.catalog-link:hover {
  color: #000;
}

/* MENU DE OPCIONES PRINCIAL  ----------------------- */
#toggle-menu {
  cursor: pointer;
}

#toggle-menu i {
  color: #222222;
  padding: 5px;
}

#options-submain-products {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 100%;
  transition: right 0.3s ease-in-out;
  z-index: 999;
  color: #fff;
  padding: 80px 20px;
  overflow-y: scroll;
}

#options-submain-products.is-active {
  right: 0;
}

#options-submain-products .cerrar-icon {
  position: absolute;
  font-size: 30px;
  top: 30px;
  right: 15px;
}

/* Estilos para la barra de desplazamiento */
*::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
  width: 10px;
}

*::-webkit-scrollbar-button:increment {
  display: none;
}

*::-webkit-scrollbar:horizontal {
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

.menu-options-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.menu-options .options-menu-list {
  width: 100%;
  height: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0;
  transition: height 0.5s ease-in-out;
  display: block;
}

.menu-options .options-menu-list.is-active {
  height: 200px;
}

.options-menu-list.productos {
  margin: 10px 0;
  font-weight: bold;
  list-style: none;
}

.menu-list-item {
  font-weight: 500;
  padding: 10px 0;
  list-style: none;
  transition: all 0.1s ease-in-out;
  position: relative;
}

.menu-list-item::before {
  content: '';
  display: inline-block;
  width: 0;
  margin-right: 10px;
  color: #ccc;
  font-size: 10px;
  /* Ajusta el tamaño del ícono */
  transition: all 0.2s ease-in-out;
}

.menu-list-item:hover::before {
  content: '\2192';
  width: 10px;
  color: #ccc;
  /* Cambia el color del ícono */
}


.menu-list-item:hover {
  cursor: pointer;
  transform: scale(1.070);
  color: #ccc;
}

/*------------------------------------------------*/

.menu-column {
  padding: 10px;
}

.menu-option {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.menu-option:hover {
  background-color: #f2f2f2;
  color: #222222;
}

/* ----------- product, marca, categoria ------------ */

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.18rem;
  width: 100%;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  border: none;
  padding: .5rem 0;
  color: #000;
}

.radio-inputs .radio input:checked+.name {
  background-color: #fff;
  font-weight: 600;
}

/* ------------------------------------- *

/* PAGE CATALOG --------------- */
.catalog-select {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  color: #201a1a;
  font-size: 0.9rem;
}

.sort-option {
  border: 2px solid #333;
  font-size: 0.9;
  font-weight: bold;
}


/* footer ---------------- ----------- */
footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/*   
  @media screen and (min-width: 992px) {

    .product-card {
      max-width: 300px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
  }
  } */
#menu-comprar,
#menu-info {
  z-index: 999;
  list-style: none;
  display: block;
  position: absolute;
  background-color: #000;
  padding: 0 10px;
  max-height: 0;
  text-align: start;
  overflow-y: scroll;
  transition: max-height 0.5s ease-in-out;
}

#menu-info,
#menu-comprar ul {
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

#menu-comprar>ul li,
#menu-info li {
  border-bottom: 1px solid #222222;
  padding: 10px;
  color: #ccc;
  transition: color .1s ease-in-out;
}

#menu-comprar>ul li:hover,
#menu-info li:hover {
  color: #fff;
  cursor: pointer;
}


#menu-comprar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  right: 0;
  padding: 0 30px;
  height: 340px;
}

#menu-comprar>ul {
  flex-basis: calc(100% / 4);
  flex-grow: 1;
  height: auto;
  max-height: 240px;
  margin-top: 30px;

  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}



#menu-comprar.show {
  max-height: 340px;
}

#menu-info.show {
  display: block !important;
  height: auto;
  max-height: 300px;
}




input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.number-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  overflow: hidden;
  height: 40px;
  max-width: 140px;
}

.number-input button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border: none;
  width: 40px;
  height: 100%;
  cursor: pointer;
  user-select: none;
}

.number-input input[type=number] {
  border: none;
  text-align: center;
  width: 60px;
  padding: 10px;
}

.container-order {
  width: 100% !important;
  margin: 30px auto !important;
}

.cont-form-pedido form .row {
  margin: 10px 20px;
}

.cont-form-pedido form .row .form-group {
  margin-top: 10px;
}

.cont-pasos-detalle {
  display: none !important;
}

@media screen and (min-width: 768px) {

  .cont-pasos-detalle {
    width: 90%;
    margin: auto !important;
    display: flex !important;
  }

  .cont-form-pedido {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 20px;
  }

  .desktop {
    display: block;
  }

  .desktop .añadir {
    display: flex;
    flex-wrap: wrap;
  }

  .mobile {
    display: none;
  }


  .catalog-section-desk {
    border: none;
    border-bottom: 2px solid #ccc;
    display: flex;
    padding: 0;
  }



  .main-header {
    padding-bottom: 0;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

  }

  .extra-header {
    position: relative;
    width: 100%;
    height: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin: auto 0;
  }

  .logo {
    height: 50px;
    width: 50px;
  }


  .nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    margin: auto 0;
  }

  .nav-item {
    min-width: 100px;
    text-align: center;
    width: auto;
    margin: auto 20px;
    border-radius: 1px;
    transition: background 300ms ease-in-out;
  }

  .nav-item:hover {
    background-color: #383636;
  }

  .nav-link {
    color: #f2f2f2 !important;
    text-decoration: none;
  }

  /* SECCION CATALOG */
  .container-search {
    margin: auto;
    margin-left: 30px;
    width: 300px;
  }

  .container-search.desk {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;
  }

  .container-search.desk .search {
    border: 2px solid #ccc;
  }

  .search {
    display: block;
    width: 100%;
    height: 35px;
    padding: 12px;
    outline: none;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
  }

  .search:focus {
    box-shadow: 0px 0px 20px #38363652;
  }

}

.btn-inhabilitar-pasos {
  pointer-events: none;
  opacity: 0.8;

}

.paso-detalle-pedido,
.paso-formulario-datos,
.paso-confirmacion-pedido {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.paso-detalle-pedido span,
.paso-formulario-datos span,
.paso-confirmacion-pedido span {
  background-color: #bd140e;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
}

@media (min-width: 992px) {
  .catalog-select {
    width: 160px;
  }

  .swal2-popup {
    width: 450px;
    height: 600px;
  }


  swiper-container {
    width: 300px !important;
    height: auto !important;
    margin: 0 auto;
  }



}

@media (max-width: 991.98px) {
  .swal2-popup {
    width: 90%;
    height: auto;
  }
}