{% extends "pageBase.html" %}
{% block title %}Brutality{% endblock %}

{% block urls %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}


{% block extraHeader %}
<div class="info-section">
  <h1>BRUTALITY</h1>
  <p class="site-description">Explora nuestros productos y realiza tu compra a través de WhatsApp</p>
</div>

{% endblock %}


{% block body %}
<div class="product-featured">
  <h2 class="title">Productos destacados</h2>
  <div class="view-options">
    <a href="#" aria-label="detalle de la lista de productos" id="list" class="mx-1"><i
        class="fas fa-th-list fa-lg"></i></a>
    <a href="#" aria-label="lista productos" id="grid"><i class="fas fa-th-large fa-lg"></i></a>
  </div>
</div>

<section class="product-card-container" id="product-container">
  {% for producto in productos %}
  <div class="product-card">
    <a href="{% url 'pageDetails' %}?producto_id={{ producto.id_producto }}">
      <div class="product-image">
        <img src="/media/landingproducts/products/{{ producto.iProductImg_name }}" alt="Imagen">
      </div>
      <div class="product-details">
        <h3 class="product-title">{{ producto.nombre_producto }}</h3>
        <div class="product-description">
          <p>{{ producto.descripcion }}</p>
        </div>
        <div class="product-price">
          <span>${{ producto.precio }}</span>
          <span class="product-search">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </a>
  </div>

  {% endfor %}
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  function filterProducts(selectedValue) {
    $.ajax({
      url: "{% url 'filter_products' %}",
      method: 'GET',
      data: { sortOption: selectedValue },
      success: function (data) {
        if (data.success) {
          $("#product-container").empty();

          $.each(data.data, function (index, p) {
            var productCard =
              '<div class="product-card">' +
              '<a href="{% url "pageDetails" %}?producto_id=' + p.id_producto + '">' +
              ' <div class="product-image">' +
              '<img src="/media/landingproducts/products/' + p.iProductImg_name + '" alt="Imagen"></div>' +
              '<div class="product-details">' +
              '<h3 class="product-title">' + p.nombre_producto + '</h3>' +
              '<div class="product-description">' +
              '<p>' + p.descripcion + '</p></div>' +
              '<div class="product-price">' +
              '<span>' + p.precio + '</span>' +
              '<span class="product-search">' +
              '<i class="fas fa-search"></i></span></div>' +
              '</div ></a ></div >';

            $("#product-container").append(productCard);
          });
        }
      }
    });
  }
</script>

<script>
  $(document).ready(function () {
    $("#sort").change(function () {
      var selectedValue = $(this).val();
      filterProducts(selectedValue);
    });



  })
</script>

{% endblock %}