<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style-commons.css' %}">
    <script src="{% static 'js/pageIndex.js' %}"></script>
    <!-- <script src="{% static 'js/main.js' %}"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
    {% block urls %} {% endblock %}
</head>

<body>
    <a href="https://wa.me/+573006280468" target="_blank" class="whatsapp-button">
        <i class="fab fa-whatsapp"></i>
    </a>

    <div class="main-menu" id="main-menu">
        <ul class="main-menu-list">
            <li class="menu-item logo">
                <a href="{% url 'pageHome' %}">
                    <img src="{% static 'img/gorille.png' %}" class="logo" alt="Logo de Brutálity">
                </a>
            </li>
            <li class="menu-item nav">
                <div class="container-search">
                    <input placeholder="Realizar búsqueda..." type="text" name="search" class="search"
                        id="search-input">
                    <i class="fas fa-times search-clear-icon" id="search-clear"></i>
                </div>
                <!-- toggle -->
                <div class="search-result-cont">
                    <div id="toggle-main-search" class="search-result"></div>
                </div>
                <div class="menu-item productos mt-1" id="toggle-submain-products">
                    Suplementos
                </div>
            </li>
            <hr class="divider">
            <li class="menu-item info">
                <a href="#" class="menu-link">
                    <i class="fas fa-info-circle icon"></i> Sobre Brutality
                </a>
                <a href="#" class="menu-link">
                    <i class="fas fa-shopping-cart icon"></i> ¿Cómo comprar?
                </a>

                <span class="menu-contact">
                    <i class="fas fa-envelope icon"></i> brutality@gmail.com
                </span>
                <div class="login-item">
                    <div class="social-icons">
                        <a href="#" class="mx-2"><i class="fab fa-instagram icon"></i></a>
                        <a href="#"><i class="fab fa-whatsapp icon"></i></a>
                    </div>
                    <a href="#" class="login-button">Ingresar</a>
                </div>
            </li>
        </ul>
    </div>
    <div id="options-submain-products" class="menu-options">
        <i class="fas fa-arrow-left cerrar-icon" id="close-submain-options"></i>
        <div class="menu-options-item" id="toggle-main-productos">
            Productos <i class="fas fa-chevron-down"></i>
        </div>
        <ul id="main-options-products" class="options-menu-list productos">
            {% for categoria in categorias %}
            <li>{{ categoria.nombre_categoria }}:
                <ul>
                    {% for producto in categoria.productos_set.all %}
                    <li class="menu-list-item"
                        onclick="setTimeout(function(){ cargarDetalle('{{producto.id_producto}}') }, 200)">
                        {{ producto.nombre_producto }}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}

        </ul>
        <hr class="divider">
        <div class="menu-options-item" id="toggle-main-marcas">
            Marcas <i class="fas fa-chevron-down"></i>
        </div>
        <ul id="main-options-marcas" class="options-menu-list marcas">
            {% for marca in marcas %}
            <li class="menu-list-item" data-id-filter="marca-{{ marca.id_marca }}">{{ marca.nombre_marca }}</li>
            {% endfor %}
        </ul>
        <hr class="divider">
        <div class="menu-options-item" id="toggle-main-categorias">
            Categorias <i class="fas fa-chevron-down"></i>
        </div>
        <ul id="main-options-categorias" class="options-menu-list categorias">
            {% for categoria in categorias %}
            <li class="menu-list-item" data-id-filter="categoria-{{ categoria.id_categoria }}">
                {{ categoria.nombre_categoria }}</li>
            {% endfor %}
        </ul>
    </div>

    <header class="mobile">
        <div class="main-header">
            <nav class="header-navigation">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <a href="{% url 'pageHome' %}">
                    <img src="{% static 'img/gorille.png' %}" class="logo" alt="Logo de Brutálity">
                </a>
                <label class="hamburger">
                    <input type="checkbox" id="hamburgerCheckbox">
                    <svg viewBox="0 0 32 32">
                        <path class="line line-top-bottom"
                            d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
                        </path>
                        <path class="line" d="M7 16 27 16"></path>
                    </svg>
                </label>
            </nav>
            {% block extraHeaderMobile %}{% endblock %}
        </div>

    </header>


    <header class="desktop">
        <div class="main-header ">
            <nav class="nav">
                <div class="logo-container">
                    <a href="{% url 'pageHome' %}">
                        <img src="{% static 'img/gorille.png' %}" class="logo img-fluid" alt="Logo de Brutálity">
                    </a>
                    <h1>BRUTALITY</h1>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Inicio</a>
                    </li>
                    <li id="toggle-comprar" class="nav-item">
                        <a href="#" class="nav-link">Comprar</a>
                        <div id="menu-comprar">
                            <ul>
                                <span class="menu-comprar-title">SUMPLEMENTOS</span>
                                {% for categoria in categorias %}
                                <li style="color: #fff;">{{ categoria.nombre_categoria }}:
                                    <ul>
                                        {% for producto in categoria.productos_set.all %}
                                        <li class="menu-list-item"
                                            onclick="setTimeout(function(){ cargarDetalle('{{producto.id_producto}}') }, 200)">
                                            {{ producto.nombre_producto }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endfor %}
                            </ul>
                            <ul>
                                <span class="menu-comprar-title">MARCAS</span>
                                {% for marca in marcas %}
                                <li class="menu-list-item">{{ marca.nombre_marca }}
                                </li>
                                {% endfor %}
                            </ul>
                            <ul>
                                <span class="menu-comprar-title">CATEGORIAS</span>
                                {% for categoria in categorias %}
                                <li class="menu-list-item">{{ categoria.nombre_categoria }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    </li>
                    <li id="toggle-info" class="nav-item">
                        <a href="#" class="nav-link">Información
                            <svg style="height: 24px;" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5">
                                </path>
                            </svg>
                        </a>
                        <ul id="menu-info">
                            <li> Sobre nosotros </li>
                            <li> ¿Cómo comprar? </li>
                            <li> Preguntas </li>
                        </ul>
                    </li>
                </ul>
                <a href="#" class="nav-link login">Ingresar
                    <i class="fa-solid fa-right-to-bracket"></i>
                </a>
            </nav>
            <div class="extra-header">
                {% block extraHeaderDesk %}
                {% endblock %}
            </div>
        </div>
    </header>

    <div class="mobile">
        <div class="catalog-section">
            <select name="sort" id="sort" class="catalog-select">
                <option value="defect" class="sort-option">Por defecto</option>
                <option value="all" class="sort-option">Ver todo</option>
                <option value="best-sellers" class="sort-option">Más vendidos</option>
                <option value="high-price" class="sort-option">Mayor precio</option>
                <option value="low-price" class="sort-option">Menor precio</option>
            </select>
            <div class="view-options">
                <a href="#" aria-label="detalle de la lista de productos" id="list"><i
                        class="fas fa-th-list fa-lg"></i></a>
                <a href="#" aria-label="lista productos" id="grid"><i class="fas fa-th-large fa-lg"></i></a>
            </div>
        </div>
    </div>

    <div class="desktop" style="border: 2px solid #ccc;">
        <div class="catalog-section col-md-11 m-auto">
            <div class="container-search">
                <input placeholder="Realizar búsqueda..." type="text" name="search" class="search" id="search-input">
                <i class="fas fa-times search-clear-icon" id="search-clear"></i>
            </div>
            <div style="display: flex; gap: 10px;justify-content: space-around;  width: 50%;">
                <div>
                    <span class="mx-2">Ordenar por:</span>
                    <select name="sort" id="sort" class="catalog-select">
                        <option value="defect" class="sort-option">Por defecto</option>
                        <option value="all" class="sort-option">Ver todo</option>
                        <option value="best-sellers" class="sort-option">Más vendidos</option>
                        <option value="high-price" class="sort-option">Mayor precio</option>
                        <option value="low-price" class="sort-option">Menor precio</option>
                    </select>
                </div>
                <div class="view-options">
                    <a href="#" id="list"><i class="fas fa-th-list fa-lg"></i></a>
                    <a href="#" id="grid"><i class="fas fa-th-large fa-lg"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile">
        <div class="product-featured">
            <h3 class="title" id="dynamic-title" data-id-filter="producto-0">Suplementos</h3>
        </div>
    </div>
    {% block body %}{% endblock %}


    <footer>
        <p>&copy; 2023 Brutálity</p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <style>
        swiper-container {
            width: 100%;
            height: 100%;
        }


        swiper-slide img {
            display: block;
            width: 80%;
            margin: 0 auto;
            height: 100%;
            object-fit: cover;
        }
    </style>

    <script>
        var pageDetailsUrl = "{% url 'pageDetails' %}";
        var searchProductsUrl = "{% url 'search_products' %}"
        var filterProductsUrl = "{% url 'filter_products' %}"

        function cargarDetalle(id_producto) {
            $.ajax({
                url: pageDetailsUrl,
                data: {
                    'producto_id': id_producto
                },
                dataType: 'json',
                success: function (data) {
                    Swal.fire({
                        html: `
  <div>
    <swiper-container class="mySwiper" keyboard="true" space-between="30" pagination="true"
        pagination-clickable="true" navigation="true" loop="true">
        <swiper-slide><a href="/media/landingproducts/products/${data.iProductImg_name}" data-lightbox="image-1"><img src="/media/landingproducts/products/${data.iProductImg_name}" class="img-fluid"
            alt="Imagen"></a></swiper-slide>
        <swiper-slide><a href="/media/landingproducts/nutritiondex/${data.iInfoImg_name}" data-lightbox="image-1"><img src="/media/landingproducts/nutritiondex/${data.iInfoImg_name}" class="img-fluid"
            alt="Imagen"></a></swiper-slide>
    </swiper-container>
        <div class="col-lg-12 mb-4 mt-4" style="text-align:left;">
            <h2 class="my-3"> ${data.nombre_producto} <strong>${data.precio_pub}</strong></h2>
            <div class="mb-3" style="max-height: 100px; height: auto;overflow-y: scroll;"> ${data.descripcion}</div>
            <hr >
            <ul class="list-group list-group-flush mt-4">
                <li><strong>Sabores:</strong> ${data.sabor}</li>
                <hr >
                <li><strong>Presentaciones por libras:</strong> ${data.presentacion}lbs</li>
            </ul>
        </div>
  </div>
`,
                        showCloseButton: true,
                        showConfirmButton: false,
                        customClass: {
                            closeButton: 'custom-close-button'
                        }
                    })
                }
            });
        }



        $(document).on("input", ".search", function () {
            let search = $(this).val();

            if (search.length >= 2) {
                $.ajax({
                    url: searchProductsUrl,
                    method: 'GET',
                    data: { search: search },
                    success: function (data) {
                        if (data.success) {
                            if (data.data.length > 0) {
                                $("#toggle-main-search").empty();
                                $.each(data.data, function (index, p) {
                                    $("#toggle-main-search").addClass("is-active");
                                    var productList =
                                        '<div class="search-card productDetailsButton" data-id="' + p.id_producto + '">' +
                                        '<div class="search-image">' +
                                        '<img class="img-fluid" src="/media/landingproducts/products/' + p.iProductImg_name + '" alt="Imagen"></div>' +
                                        '<p class="search-title">' + p.nombre_producto + '</p></div >';
                                    $("#toggle-main-search").append(productList);
                                });
                                $('.productDetailsButton').click(function () {
                                    id_producto = $(this).data("id")
                                    closeMains()
                                    $("#search-input").val("");
                                    $("#toggle-main-search").empty();
                                    $("#toggle-main-search").removeClass("is-active");
                                    setTimeout(function () {
                                        cargarDetalle(id_producto);
                                    }, 200);
                                });
                            } else {
                                $("#toggle-main-search").empty();
                                $("#toggle-main-search").removeClass("is-active");
                            }
                        }
                    }
                });
            } else {
                $("#toggle-main-search").empty();
                $("#toggle-main-search").removeClass("is-active");
            }
        });

        $("#search-clear").on("click", function () {
            $("#search-input").val("");
            $("#toggle-main-search").empty();
            $("#toggle-main-search").removeClass("is-active");
        });


        function filterProducts(valor, tipo = "productos") {
            $.ajax({
                url: filterProductsUrl,
                method: 'GET',
                data: { valor: valor, tipo: tipo },
                success: function (data) {
                    if (data.success) {
                        $("#product-container").empty();

                        $.each(data.data, function (index, p) {
                            var productCard =
                                '<div class="product-card productDetailsButton" data-id="' + p.id_producto + '">' +
                                '<div class="product-image">' +
                                '<img src="/media/landingproducts/products/' + p.iProductImg_name + '" alt="Imagen"></div>' +
                                '<div class="product-details">' +
                                '<h3 class="product-title">' + p.nombre_producto + '</h3>' +
                                '<div class="product-description">' +
                                '<p>' + p.descripcion + '</p></div>' +
                                '<div class="product-price">' +
                                '<span>' + p.precio_pub + '</span>' +
                                '<span class="product-search">' +
                                '<i class="fas fa-search"></i></span></div>' +
                                '</div ></div >';

                            $("#dynamic-title").text(p.dynamicTitle);
                            $("#dynamic-title").data("id-filter", p.identificador);
                            $("#product-container").append(productCard);
                        });
                        $('.productDetailsButton').click(function () {
                            id_producto = $(this).data("id")
                            cargarDetalle(id_producto);
                        });
                    }
                }
            });
        }



        /***********************++++++++++++++ */
        const toggleProductos = document.getElementById("toggle-main-productos");
        const toggleMarcas = document.getElementById("toggle-main-marcas");
        const toggleCategorias = document.getElementById("toggle-main-categorias");
        const mainOptionsProductos = document.getElementById("main-options-products");
        const mainOptionsMarcas = document.getElementById("main-options-marcas");
        const mainOptionsCategorias = document.getElementById("main-options-categorias");

        const iconProductos = toggleProductos.querySelector("i");
        const iconMarcas = toggleMarcas.querySelector("i");
        const iconCategorias = toggleCategorias.querySelector("i");

        const closeSubMainOptions = document.getElementById('close-submain-options');

        function toggleCloseSubMain() {
            // Cerrar opciones
            mainOptionsProductos.classList.remove("is-active");
            mainOptionsMarcas.classList.remove("is-active");
            mainOptionsCategorias.classList.remove("is-active");
            // Volver iconos a su estado original
            iconProductos.classList.remove("fa-chevron-up");
            iconProductos.classList.add("fa-chevron-down");
            iconMarcas.classList.remove("fa-chevron-up");
            iconMarcas.classList.add("fa-chevron-down");
            iconCategorias.classList.remove("fa-chevron-up");
            iconCategorias.classList.add("fa-chevron-down");
        }
        function resetSortSelect() {
            const sortSelect = document.getElementById('sort');
            sortSelect.value = 'all';
        }
        closeSubMainOptions.addEventListener('click', () => toggleCloseSubMain());

        function toggleActiveClass(element, iconElement, otherElements, otherIcons) {
            // Desactiva todas las opciones
            otherElements.forEach((otherElement) => {
                otherElement.classList.remove("is-active");
            });
            // Restaura los íconos a su estado original
            otherIcons.forEach((otherIcon) => {
                otherIcon.classList.remove("fa-chevron-up");
                otherIcon.classList.add("fa-chevron-down");
            });

            // Activa la opción seleccionada
            element.classList.toggle("is-active");
            iconElement.classList.toggle("fa-chevron-up");
            iconElement.classList.toggle("fa-chevron-down");
        }

        toggleProductos.addEventListener("click", function () {
            toggleActiveClass(mainOptionsProductos, iconProductos, [mainOptionsMarcas, mainOptionsCategorias], [iconMarcas, iconCategorias]);
            resetSortSelect();
        });

        toggleMarcas.addEventListener("click", function () {
            toggleActiveClass(mainOptionsMarcas, iconMarcas, [mainOptionsProductos, mainOptionsCategorias], [iconProductos, iconCategorias]);
            resetSortSelect();
        });

        toggleCategorias.addEventListener("click", function () {
            toggleActiveClass(mainOptionsCategorias, iconCategorias, [mainOptionsProductos, mainOptionsMarcas], [iconProductos, iconMarcas]);
            resetSortSelect();
        });


        /**************************************************/
        function closeMains() {
            document.getElementById('options-submain-products').classList.remove('is-active');
            document.getElementById('main-menu').classList.remove('is-active');
            const checkbox = document.getElementById("hamburgerCheckbox");
            checkbox.checked = false;
            toggleCloseSubMain()
        }
        $(document).ready(function () {
            $("#sort").change(function () {
                let selectedValue = $(this).val();
                if (selectedValue == "defect") location.reload();
                const tipo = $("#dynamic-title").data('id-filter');
                filterProducts(selectedValue, tipo);
            });
            const menuListItems = document.querySelectorAll('.menu-list-item');

            menuListItems.forEach((menuItem) => {
                menuItem.addEventListener('click', function () {
                    const itemName = menuItem.textContent;
                    const tipo = menuItem.getAttribute('data-id-filter');
                    filterProducts(itemName, tipo);
                    closeMains()
                });
            });
        })




        $('.productDetailsButton').off('click').click(function () {
            id_producto = $(this).data("id")
            cargarDetalle(id_producto);
        });

        let css = '.custom-close-button { border: none !important; color: black !important; }',
            head = document.head || document.getElementsByTagName('head')[0],
            style = document.createElement('style');

        head.appendChild(style);

        style.type = 'text/css';
        if (style.styleSheet) {
            style.styleSheet.cssText = css;
        } else {
            style.appendChild(document.createTextNode(css));
        }


    </script>
</body>

</html>