{% extends "pageBase.html" %}
{% block title %}Brutality{% endblock %}

{% block urls %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}


{% block extraHeaderMobile %}
<div class="info-section">
  <h1>BRUTALITY</h1>
  <p class="site-description">Explora nuestros productos y realiza tu compra a través de WhatsApp</p>
</div>
{% endblock %}
<!-- {% block extraHeaderDesk %}

{% endblock %} -->


{% block body %}
<section class="mobile">
  <div class="product-card-container" id="product-container-mobile">
    {% for producto in productos %}
    <div class="product-card productDetailsButton" data-id="{{producto.id_producto}}">
      <div class="product-image">
        <!-- <img src="/media/landingproducts/products/{{ producto.iProductImg_name }}" alt="Imagen"> -->
        <img src="/media/{{ producto.iProductImg_name }}" alt="Imagen"
          style="width: 100%; height: 100%; object-fit: cover; object-position: center;" class="img-fluid">
      </div>
      <div class="product-details  text-end">
        <h3 class="product-title">{{ producto.nombre_producto }}</h3>
        <div class="product-description">
          <p>{{ producto.descripcion }}</p>
        </div>
        <strong><span class="text-danger">${{ producto.precio_pub }}</span></strong>
      </div>
    </div>

    {% endfor %}
  </div>

</section>

<section class="desktop mt-4">
  <div class="row px-3">
    <div class="col-lg-2 col-md-3">
      <div class="container-search desk">
        <input placeholder="Realizar búsqueda..." type="text" name="search" class="search" id="search-input-desk">
        <i class="fas fa-times search-clear-icon" id="search-clear-desk"></i>
      </div>
      <p id="title-search"><strong>MEJORES VENTAS</strong></p>
      <ul class="list-group d-flex gap-4" id="toggle-main-search-desk"></ul>
    </div>
    <div class="col-md-9 col-lg-10 px-4">
      <div class="col-md-11 mx-auto pb-1 d-flex justify-content-between">
        <h3 class="title" id="dynamic-title-desk" data-id-filter="producto-0">Suplementos</h3>
        <div class="d-flex gap-4">
          <div>
            <span class="mx-2">Ordenar por:</span>
            <select name="sortDesk" id="sortDesk" class="catalog-select">
              <option value="defect" class="sort-option">Por defecto</option>
              <option value="all" class="sort-option">Ver todo</option>
              <option value="best-sellers" class="sort-option">Más vendidos</option>
              <option value="high-price" class="sort-option">Mayor precio</option>
              <option value="low-price" class="sort-option">Menor precio</option>
            </select>
          </div>
        </div>
      </div>
      <div class="product-card-container" id="product-container-desk">
        {% for producto in productos %}
        <div>
          <div class="product-card productDetailsButton" data-id="{{producto.id_producto}}">
            <div class="product-image">
              <img src="/media/{{ producto.iProductImg_name }}" alt="Imagen">
            </div>
            <div class="product-details">
              <h3 class="product-title">
                {{ producto.nombre_producto }}
              </h3>
              <strong><span class="text-danger">${{ producto.precio_pub }}</span></strong>
              <div class="product-description">
                <p>{{ producto.descripcion }}</p>
              </div>
            </div>
          </div>
          <button class="CartBtn">
            <span class="IconContainer">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" fill="rgb(17, 17, 17)"
                class="cart">
                <path
                  d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z">
                </path>
              </svg>
            </span>
            <p class="text">Añadir al pedido</p>
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 px-4">
      <!-- <p><strong>OPCIONES</strong></p> -->
    </div>
  </div>
</section>

<style>
  .CartBtn {
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgba(255, 208, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
  }

  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  .cart {
    font-size: 12px;
  }
  .icon {
    border-radius: 1px;
  }

  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0;
  }

  .CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }

  .CartBtn:hover .text {
    transform: translate(10px, 0px);
    transition-duration: .5s;
  }

  .CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }
</style>


<script>
  $(document).ready(function () {

    // // Obtén todos los elementos .product-order
    // var orders = document.querySelectorAll('.product-order');

    // // Agrega un evento de clic a cada elemento .product-order
    // orders.forEach(function (order) {
    //   order.addEventListener('click', function () {
    //     // Identifica a qué tarjeta pertenece el elemento .product-order
    //     var card = this.previousElementSibling;

    //     // Agrega contenido dinámicamente al elemento de añadir al carrito
    //     this.innerHTML = '<i class="fa fa-check" aria-hidden="true"></i> Producto añadido';

    //     // Agrega una animación suave
    //     this.style.transition = 'all 2s';

    //     // Mantén la animación por 2 segundos y luego vuelve al estado inicial del elemento
    //     setTimeout(() => {
    //       this.innerHTML = '<span>Añadir al pedido</span>';
    //       this.style.transition = 'none';
    //     }, 2000);
    //   });
    // });


    cargarProductos()

    function cargarProductos() {
      $("#title-search").text("MEJORES VENTAS")
      $.ajax({
        url: "{% url 'mas_vendidos' %}",
        type: "GET",
        success: function (data) {
          if (data.success) {
            $("#toggle-main-search-desk").empty();
            $.each(data.data, function (index, p) {
              var productList =
                '<li class="d-flex search-card-desk productDetailsButton" data-id="' + p.id_producto + '">' +
                '<div style="width:50px; height:50px; overflow: hidden;"><img src="/media/' + p.presentacion + '" alt="Imagen" style="width: 100%; height: 100%; object-fit: cover; object-position: center;" class="img-fluid"></div>' +
                '<div class="px-2 d-flex gap-2 flex-column">' +
                '<span style="width: 100px; height:20px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">' + p.nombre_producto + '</span>' +
                '<h6><strong class="text-danger">' + p.precio_pub + '</strong></h6></div></li>';

              $("#toggle-main-search-desk").append(productList);
            });
            $('.productDetailsButton').click(function () {
              id_producto = $(this).data("id")
              $("#search-input").val("");
              cargarDetalle(id_producto);
            });
          }
        },
      });

    }

    $(document).on("input", "#search-input-desk", function () {
      let search = $(this).val();
      $("#title-search").text("RESULTADOS...")

      if (search.length >= 2) {
        $.ajax({
          url: "{% url 'search_products' %}",
          method: 'GET',
          data: { search: search },
          success: function (data) {
            if (data.success) {
              if (data.data.length > 0) {
                $("#toggle-main-search-desk").empty();
                $.each(data.data, function (index, p) {
                  $("#toggle-main-search-desk").addClass("is-active");
                  var productList =
                    '<li class="d-flex search-card-desk productDetailsButton data-id="' + p.id_producto + '">' +
                    '<div style="width:50px; height:50px; overflow: hidden;"><img src="/media/' + p.iProductImg_name + '" alt="Imagen" style="width: 100%; height: 100%; object-fit: cover; object-position: center;" class="img-fluid"></div>' +
                    '<div class="px-2 d-flex gap-2 flex-column">' +
                    '<span  style="width: 100px; height:20px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">' + p.nombre_producto + '</span>' +
                    '<h6><strong class=" text-danger">' + p.precio_pub + '</strong></h6></div></li>';

                  $("#toggle-main-search-desk").append(productList);
                });
                $('.productDetailsButton').click(function () {
                  id_producto = $(this).data("id")
                  $("#search-input").val("");
                  cargarDetalle(id_producto);
                });
              } else {
                $("#toggle-main-search-desk").empty();
                $("#toggle-main-search-desk").removeClass("is-active");
                $("#title-search").text("NO SE HAN ENCONTRADO RESULTADOS")
              }
            }
          }
        });
      } else {
        $("#toggle-main-search-desk").empty();
        $("#toggle-main-search-desk").removeClass("is-active");
        cargarProductos()
      }
    });

    $("#search-clear-desk").on("click", function () {
      $("#search-input-desk").val("");
      $("#toggle-main-search-desk").empty();
      $("#toggle-main-search-desk").removeClass("is-active");
      cargarProductos()
    });

  });

</script>


{% endblock %}