{% extends "baseInterface.html" %}

{% block title %} Dashboard {% endblock %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
    .card {
        border: none;
        background-color: #fff;
        padding: 0px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }


    .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
        /* Color del título */
    }

    .card-value {
        font-size: 28px;
        font-weight: bold;
        color: #555;
        /* Color del valor */
    }

    .card-icon {
        font-size: 36px;
        margin-right: 15px;
        color: #888;
        /* Color del icono */
    }


    .chart-area {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        border-radius: 10px;
        padding: 0;
        margin: 0;
        position: relative;
        max-width: 100%;
    }

    #graficolindo {
        width: 100%;
        max-width: 100%;
        /* Establece un ancho máximo del 100% del contenedor */
        height: 100%;
    }

    #myPieChart {
        width: 70%;
        height: 70%;
    }
</style>









<div class="container">

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <!-- Pedidos en Proceso Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100">
                <div class="card-body" data-toggle="modal" data-target="#pedidosEnProcesoModal">
                    <div>
                        <div class="card-title text-warning">Pedidos Pendientes</div>
                        <div id="pedidos-en-proceso" class="card-value text-gray-800">Actualizando...</div>
                    </div>
                    <i class="fas fa-exclamation-circle card-icon text-warning"></i>
                </div>
            </div>
        </div>


        <script>
            function actualizarContadorPedidosEnProceso() {
                $.ajax({
                    url: "{% url 'contar_pedidos_en_proceso' %}", // Ajusta la URL según tu configuración en Django
                    method: "GET",
                    success: function (data) {
                        const pedidosEnProceso = data.pedidos_en_proceso;
                        $("#pedidos-en-proceso").text(pedidosEnProceso);
                    },
                    error: function (error) {
                        console.error('Error al obtener el número de pedidos en proceso:', error);
                    }
                });
            }

            setInterval(actualizarContadorPedidosEnProceso, 5000);

            actualizarContadorPedidosEnProceso();
        </script>



        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100">
                <div class="card-body" data-toggle="modal" data-target="#totalMargenGanancia">
                    <div>
                        <div class="card-title text-danger">Margen de Ganancia</div>
                        <div id="margen-ganancia" class="card-value text-gray-800">Actualizando...</div>
                    </div>
                    <i class="fas fa-chart-line card-icon text-danger"></i>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: "{% url 'obtener_margen_ganancia' %}",
                    type: 'GET',
                    success: function (data) {
                        console.log(data);

                        // Accede directamente a la propiedad margen_ganancia_total
                        const margenGanancia = parseFloat(data.margen_ganancia_total);

                        if (!isNaN(margenGanancia)) {
                            const formatter = new Intl.NumberFormat('es-CO', {
                                style: 'currency',
                                currency: 'COP',
                                minimumFractionDigits: 0,
                                maximumFractionDigits: 0,
                            });
                            const margenGananciaFormatted = formatter.format(margenGanancia);
                            $('#margen-ganancia').text(margenGananciaFormatted);
                        } else {
                            console.error('Error: El valor recibido no es un número válido.');
                        }
                    },
                    error: function () {
                        console.error('Error al obtener el margen de ganancia');
                    }
                });
            });
        </script>








        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100">
                <div class="card-body">
                    <div>
                        <div class="card-title text-primary">Total de Compras</div>
                        <div id="total-compras" class="card-value text-gray-800">Actualizando...</div>
                    </div>
                    <i class="fas fa-shopping-bag card-icon text-primary"></i>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100">
                <div class="card-body">
                    <div>
                        <div class="card-title text-success">Total de Ventas</div>
                        <div id="total-ventas" class="card-value text-gray-800">Cargando...</div>
                    </div>
                    <i class="fas fa-dollar-sign card-icon text-success"></i>
                </div>
            </div>
        </div>



        <script>
            // Función para actualizar el valor en la carta de compras
            function actualizarValorEnCartaCompras(totalCompras) {
                const totalComprasFormatted = totalCompras.toLocaleString('es-CO', {
                    style: 'currency',
                    currency: 'COP',
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 0,
                });
                $('#total-compras').text(totalComprasFormatted);
            }

            // Función para actualizar el valor en la carta de ventas
            function actualizarValorEnCartaVentas(totalVentas) {
                const totalVentasFormatted = totalVentas.toLocaleString('es-CO', {
                    style: 'currency',
                    currency: 'COP',
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 0,
                });
                $('#total-ventas').text(totalVentasFormatted);
            }

            $(document).ready(function () {
                $.ajax({
                    url: "{% url 'calcular_total_compras_y_ventas' %}",
                    method: "GET",
                    success: function (data) {
                        console.log(data);
                        var totalComprasPorMes = data.total_compras_por_mes;
                        var totalVentasPorMes = data.total_ventas_por_mes;

                        // Calcula el total de compras para mostrar en la carta de compras
                        var totalCompras = 0;
                        totalComprasPorMes.forEach(function (total) {
                            totalCompras += total.total_compras;
                        });

                        // Calcula el total de ventas para mostrar en la carta de ventas
                        var totalVentas = 0;
                        totalVentasPorMes.forEach(function (total) {
                            totalVentas += total.total_ventas;
                        });

                        // Actualiza el valor en la carta de compras al cargar la página
                        actualizarValorEnCartaCompras(totalCompras);

                        // Actualiza el valor en la carta de ventas al cargar la página
                        actualizarValorEnCartaVentas(totalVentas);
                    },
                    error: function (error) {
                        console.error('Error al obtener los totales de compras y ventas por mes:',
                            error);
                    }
                });
            });
        </script>





        <!-- Pending Requests Card Example -->




    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    style="background-color:black;">
                    <h6 class="m-0 font-weight-bold text-white">Compras y Ventas</h6>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" data-value="semana">Última semana</a>
                            <a class="dropdown-item" href="#" data-value="mes">Último mes</a>
                            <a class="dropdown-item" href="#" data-value="ano">Último año</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="graficolindo"></canvas>
                    </div>
                </div>
            </div>
        </div>




        <script>
            $(document).ready(function () {
                // Inicialmente, selecciona 'ano' como valor predeterminado
                var selectedValue = 'ano';

                // Función para inicializar y actualizar el gráfico
                function initializeAndRefreshChart(periodo) {
                    // Obtén el contexto del canvas para el gráfico
                    var ctx = document.getElementById("graficolindo").getContext("2d");

                    // Limpia el gráfico anterior si existe
                    if (window.nuevoGrafico) {
                        window.nuevoGrafico.destroy();
                    }

                    // Configura el gráfico de barras (sin datos iniciales)
                    nuevoGrafico = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [], // Etiquetas de días, semanas o meses
                            datasets: [{
                                    label: 'Ventas',
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1,
                                    data: [],
                                },
                                {
                                    label: 'Compras',
                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1,
                                    data: [],
                                },
                            ],
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });

                    // Actualiza el gráfico con el valor seleccionado
                    actualizarGrafico(periodo);
                }

                // Función para actualizar el gráfico con los datos de ventas y compras
                function actualizarGrafico(periodo) {
                    $.ajax({
                        url: "{% url 'obtener_datos_ventas_y_compras' %}",
                        method: "GET",
                        data: {
                            periodo: periodo
                        },
                        success: function (data) {
                            console.log(data); // Registra los datos recibidos
                            // Actualiza las etiquetas y datos del gráfico
                            nuevoGrafico.data.labels = data
                                .labels; // Etiquetas de días, semanas o meses
                            nuevoGrafico.data.datasets[0].data = data.ventas; // Datos de ventas
                            nuevoGrafico.data.datasets[1].data = data.compras; // Datos de compras
                            nuevoGrafico.update();
                        },
                        error: function (error) {
                            console.error('Error al obtener los datos de ventas y compras:', error);
                        }
                    });
                }

                // Inicializa el gráfico con el valor predeterminado
                initializeAndRefreshChart(selectedValue);

                // Maneja el clic en los elementos del menú desplegable
                $('.dropdown-item').on('click', function () {
                    selectedValue = $(this).data('value');
                    $('.btn--light-gray').text($(this).text());
                    // Actualiza el gráfico con el nuevo período seleccionado
                    actualizarGrafico(selectedValue);
                });
            });
        </script>









        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    style="background-color: black;">
                    <h6 class="m-0 font-weight-bold text-white">Productos y Cantidades</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie-container">
                        <canvas id="myPieChart" style="width: 100%; height: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <script>
            function actualizarGraficoProductos() {
                // Limpiar el gráfico anterior si existe
                if (window.myPieChart) {
                    window.myPieChart.destroy();
                }

                $.ajax({
                    url: "{% url 'obtener_todos_los_productos' %}", // Usa la nueva vista para obtener todos los productos
                    method: "GET",
                    success: function (data) {
                        var ctx = document.getElementById("myPieChart").getContext('2d');
                        var productos = data.productos; // Lista de nombres de productos
                        var cantidades = data.cantidades; // Lista de cantidades de productos

                        // Genera una paleta de colores aleatorios
                        function generarColoresAleatorios(cantidad) {
                            var colores = [];
                            for (var i = 0; i < cantidad; i++) {
                                var color = '#' + Math.floor(Math.random() * 16777215).toString(16);
                                colores.push(color);
                            }
                            return colores;
                        }

                        var colores = generarColoresAleatorios(productos.length);

                        window.myPieChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                datasets: [{
                                    data: cantidades,
                                    backgroundColor: colores, // Colores aleatorios
                                }],
                            },
                            options: {
                                tooltips: {
                                    callbacks: {
                                        label: function (tooltipItem, data) {
                                            var dataset = data.datasets[0];
                                            var total = dataset.data.reduce(function (
                                                previousValue, currentValue,
                                                currentIndex, array) {
                                                return previousValue + currentValue;
                                            });
                                            var currentValue = dataset.data[tooltipItem.index];
                                            var percentage = parseFloat(((currentValue /
                                                total) * 100).toFixed(2));
                                            return productos[tooltipItem.index] + ': ' +
                                                currentValue + ' unidades (' +
                                                percentage + '%)';
                                        }
                                    }
                                }
                            }
                        });
                    },
                    error: function (error) {
                        console.error('Error al obtener los datos de productos y cantidades:', error);
                    }
                });
            }

            $(document).ready(function () {
                console.log('Document ready');
                actualizarGraficoProductos();
            });
        </script>





    </div>
</div>
</div>





{% endblock %}