{% extends "baseInterface.html" %}

{% block title %} Dashboard {% endblock %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
    .card {
        border: none;
        background-color: #f7f8fa;
        padding: 0;
        border-radius: 10px;
    }

    .card-effect:hover {
        transform: scale(1.02);
        transition: transform 0.2s ease;
    }



    .card-effect .fas {
        margin-left: 50px;
    }

    .card-effect .fas.fa-user-slash {
        margin-left: 40px;
    }

    .card-effect .fas .fa-shopping-bag {
        margin-left: 50px;
    }

    .card-effect .fas .fa-dollar-sign {
        margin-left: 50px;
    }



    .chart-area {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        border-radius: 10px;
        padding: 0;
        margin: 0;
        position: relative;
        max-width: 100%;
    }

    #graficolindo {
        width: 100%;
        max-width: 100%;
        /* Establece un ancho máximo del 100% del contenedor */
        height: 100%;
    }

    #myPieChart {
        width: 70%;
        height: 70%;
    }
</style>









<div class="container">

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-dark shadow h-100 card-effect">
                <div class="card-body px-5 py-1 d-flex align-items-center" data-toggle="modal"
                    data-target="#totalComprasPorMes">
                    <div class="row no-gutters">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-purple text-uppercase mb-1">
                                Clientes Activos
                            </div>
                            <div id="clientes-activos" class="h5 mb-0 font-weight-bold text-gray-800">Actualizando...
                            </div>
                        </div>
                        <div class="col-auto ml-auto">
                            <i class="fas fa-user-check fa-2x text-purple mt-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 card-effect">
                <div class="card-body px-5 py-1 d-flex align-items-center" data-toggle="modal"
                    data-target="#totalMargenGanancia">
                    <div class="row no-gutters">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Margen de Ganancia
                            </div>
                            <div id="margen-ganancia" class="h5 mb-0 font-weight-bold text-gray-800">Actualizando...
                            </div>
                        </div>
                        <div class="col-auto ml-auto">
                            <i class="fas fa-chart-line fa-2x text-danger mt-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: "{% url 'obtener_margen_ganancia' %}",
                    type: 'GET',
                    success: function (data) {
                        const margenGanancia = parseFloat(data.margen_ganancia_total.replace(',', ''));
        
                        if (!isNaN(margenGanancia)) {
                            const formatter = new Intl.NumberFormat('es-CO', {
                                style: 'currency',
                                currency: 'COP',
                                minimumFractionDigits: 0,
                                maximumFractionDigits: 0,
                            });
                            const margenGananciaFormatted = formatter.format(margenGanancia);
                            $('#margen-ganancia').text(margenGananciaFormatted);
                        } else {
                            console.error('Error: El valor recibido no es un número válido.');
                        }
                    },
                    error: function () {
                        console.error('Error al obtener el margen de ganancia');
                    }
                });
            });
        </script>
        
        



        <script>
            function actualizarContadorClientes() {
                $.ajax({
                    url: "{% url 'contar_clientes_activos' %}",
                    method: "GET",
                    success: function (data) {
                        const clientesActivos = data.clientes_activos;
                        const clientesInactivos = data.clientes_inactivos;
                        $("#clientes-activos").text(clientesActivos);
                        $("#clientes-inactivos").text(clientesInactivos);
                    },
                    error: function (error) {
                        console.error('Error al obtener el número de clientes:', error);
                    }
                });
            }

            setInterval(actualizarContadorClientes, 5000);

            actualizarContadorClientes();
        </script>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 card-effect">
                <div class="card-body px-5 py-1 d-flex align-items-center">
                    <div class="row no-gutters">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total de Compras
                            </div>
                            <div id="total-compras" class="h5 mb-0 font-weight-bold text-gray-800">Actualizando...</div>
                        </div>
                        <div class="col-auto ml-auto">
                            <i class="fas fa-shopping-bag fa-2x text-primary mt-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 card-effect">
                <div class="card-body px-5 py-1 d-flex align-items-center">
                    <div class="row no-gutters">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total de Ventas
                            </div>
                            <div id="total-ventas" class="h5 mb-0 font-weight-bold text-gray-800">Cargando...
                            </div>
                        </div>
                        <div class="col-auto ml-auto">
                            <i class="fas fa-dollar-sign fa-2x text-success mt-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script>
            // Función para actualizar el valor en la carta de compras
            function actualizarValorEnCartaCompras(totalCompras) {
                const totalComprasFormatted = totalCompras.toLocaleString('es-CO', {
                    style: 'currency',
                    currency: 'COP',
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 0,
                });
                $('#total-compras').text(totalComprasFormatted);
            }
        
            // Función para actualizar el valor en la carta de ventas
            function actualizarValorEnCartaVentas(totalVentas) {
                const totalVentasFormatted = totalVentas.toLocaleString('es-CO', {
                    style: 'currency',
                    currency: 'COP',
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 0,
                });
                $('#total-ventas').text(totalVentasFormatted);
            }
        
            $(document).ready(function () {
                $.ajax({
                    url: "{% url 'calcular_total_compras_y_ventas' %}",
                    method: "GET",
                    success: function (data) {
                        console.log(data);
                        var totalComprasPorMes = data.total_compras_por_mes;
                        var totalVentasPorMes = data.total_ventas_por_mes;
        
                        // Calcula el total de compras para mostrar en la carta de compras
                        var totalCompras = 0;
                        totalComprasPorMes.forEach(function (total) {
                            totalCompras += total.total_compras;
                        });
        
                        // Calcula el total de ventas para mostrar en la carta de ventas
                        var totalVentas = 0;
                        totalVentasPorMes.forEach(function (total) {
                            totalVentas += total.total_ventas;
                        });
        
                        // Actualiza el valor en la carta de compras al cargar la página
                        actualizarValorEnCartaCompras(totalCompras);
        
                        // Actualiza el valor en la carta de ventas al cargar la página
                        actualizarValorEnCartaVentas(totalVentas);
                    },
                    error: function (error) {
                        console.error('Error al obtener los totales de compras y ventas por mes:', error);
                    }
                });
            });
        </script>
        
        



        <!-- Pending Requests Card Example -->




    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Compras y Ventas</h6>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light-gray dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" data-value="semana">Última semana</a>
                            <a class="dropdown-item" href="#" data-value="mes">Último mes</a>
                            <a class="dropdown-item" href="#" data-value="ano">Último año</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="graficolindo"></canvas>
                    </div>
                </div>
            </div>
        </div>




        <script>
            $(document).ready(function () {
                // Inicialmente, selecciona 'ano' como valor predeterminado
                var selectedValue = 'ano';

                // Función para inicializar y actualizar el gráfico
                function initializeAndRefreshChart(periodo) {
                    // Obtén el contexto del canvas para el gráfico
                    var ctx = document.getElementById("graficolindo").getContext("2d");

                    // Limpia el gráfico anterior si existe
                    if (window.nuevoGrafico) {
                        window.nuevoGrafico.destroy();
                    }

                    // Configura el gráfico de barras (sin datos iniciales)
                    nuevoGrafico = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [], // Etiquetas de días, semanas o meses
                            datasets: [{
                                    label: 'Ventas',
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1,
                                    data: [],
                                },
                                {
                                    label: 'Compras',
                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1,
                                    data: [],
                                },
                            ],
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });

                    // Actualiza el gráfico con el valor seleccionado
                    actualizarGrafico(periodo);
                }

                // Función para actualizar el gráfico con los datos de ventas y compras
                function actualizarGrafico(periodo) {
                    $.ajax({
                        url: "{% url 'obtener_datos_ventas_y_compras' %}",
                        method: "GET",
                        data: {
                            periodo: periodo
                        },
                        success: function (data) {
                            console.log(data); // Registra los datos recibidos
                            // Actualiza las etiquetas y datos del gráfico
                            nuevoGrafico.data.labels = data
                                .labels; // Etiquetas de días, semanas o meses
                            nuevoGrafico.data.datasets[0].data = data.ventas; // Datos de ventas
                            nuevoGrafico.data.datasets[1].data = data.compras; // Datos de compras
                            nuevoGrafico.update();
                        },
                        error: function (error) {
                            console.error('Error al obtener los datos de ventas y compras:', error);
                        }
                    });
                }

                // Inicializa el gráfico con el valor predeterminado
                initializeAndRefreshChart(selectedValue);

                // Maneja el clic en los elementos del menú desplegable
                $('.dropdown-item').on('click', function () {
                    selectedValue = $(this).data('value');
                    $('.btn--light-gray').text($(this).text());
                    // Actualiza el gráfico con el nuevo período seleccionado
                    actualizarGrafico(selectedValue);
                });
            });
        </script>









        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Productos y Cantidades</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie-container">
                        <canvas id="myPieChart" style="width: 100%; height: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <script>
            function actualizarGraficoProductos() {
                // Limpiar el gráfico anterior si existe
                if (window.myPieChart) {
                    window.myPieChart.destroy();
                }

                $.ajax({
                    url: "{% url 'obtener_todos_los_productos' %}", // Usa la nueva vista para obtener todos los productos
                    method: "GET",
                    success: function (data) {
                        var ctx = document.getElementById("myPieChart").getContext('2d');
                        var productos = data.productos; // Lista de nombres de productos
                        var cantidades = data.cantidades; // Lista de cantidades de productos

                        // Genera una paleta de colores aleatorios
                        function generarColoresAleatorios(cantidad) {
                            var colores = [];
                            for (var i = 0; i < cantidad; i++) {
                                var color = '#' + Math.floor(Math.random() * 16777215).toString(16);
                                colores.push(color);
                            }
                            return colores;
                        }

                        var colores = generarColoresAleatorios(productos.length);

                        window.myPieChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                datasets: [{
                                    data: cantidades,
                                    backgroundColor: colores, // Colores aleatorios
                                }],
                            },
                            options: {
                                tooltips: {
                                    callbacks: {
                                        label: function (tooltipItem, data) {
                                            var dataset = data.datasets[0];
                                            var total = dataset.data.reduce(function (
                                                previousValue, currentValue,
                                                currentIndex, array) {
                                                return previousValue + currentValue;
                                            });
                                            var currentValue = dataset.data[tooltipItem.index];
                                            var percentage = parseFloat(((currentValue /
                                                total) * 100).toFixed(2));
                                            return productos[tooltipItem.index] + ': ' +
                                                currentValue + ' unidades (' +
                                                percentage + '%)';
                                        }
                                    }
                                }
                            }
                        });
                    },
                    error: function (error) {
                        console.error('Error al obtener los datos de productos y cantidades:', error);
                    }
                });
            }

            $(document).ready(function () {
                console.log('Document ready');
                actualizarGraficoProductos();
            });
        </script>





    </div>
</div>
</div>





{% endblock %}