{% extends "baseInterface.html" %}

{% block title %} Dashboard {% endblock %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>



<div class="container">

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100">
                <div class="card-body px-5 py-1 d-flex align-items-center">
                    <div class="row no-gutters">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Clientes Activos
                            </div>
                            <div id="clientes-activos" class="h5 mb-0 font-weight-bold text-gray-800">Actualizando...
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100">
                <div class="card-body px-5 py-1 d-flex align-items-center">
                    <div class="row no-gutters">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Clientes Inactivos
                            </div>
                            <div id="clientes-inactivos" class="h5 mb-0 font-weight-bold text-gray-800">Actualizando...
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function actualizarContadorClientes() {
                $.ajax({
                    url: "{% url 'contar_clientes_activos' %}",
                    method: "GET",
                    success: function (data) {
                        const clientesActivos = data.clientes_activos;
                        const clientesInactivos = data.clientes_inactivos;
                        $("#clientes-activos").text(clientesActivos);
                        $("#clientes-inactivos").text(clientesInactivos);
                    },
                    error: function (error) {
                        console.error('Error al obtener el número de clientes:', error);
                    }
                });
            }

            setInterval(actualizarContadorClientes, 5000);

            actualizarContadorClientes();
        </script>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100">
                <div class="card-body px-5 py-1 d-flex align-items-center" data-toggle="modal"
                    data-target="#totalComprasPorMes">
                    <div class="row no-gutters">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total de Compras
                            </div>
                            <div id="total-compras" class="h5 mb-0 font-weight-bold text-gray-800">Actualizando...</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        <script>
            // Función para actualizar el valor en la carta y en el modal
            function actualizarValorEnCartaYModal(totalCompras) {
                const totalComprasFormatted = totalCompras.toLocaleString('es-CO', {
                    style: 'currency',
                    currency: 'COP',
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 0,
                });
                $('#total-compras').text(totalComprasFormatted);
            }

            // En el evento click de la tarjeta, cargar los totales de compras por mes en el modal
            $('.card-body').on('click', function () {
                var year = new Date().getFullYear(); // Obtiene el año actual

                $.ajax({
                    url: "{% url 'calcular_total_compras' 2023 %}",
                    method: "GET",
                    data: {
                        'year': year
                    },
                    success: function (data) {
                        console.log(data)
                        var totalComprasPorMes = data.total_compras_por_mes;

                        // Calcula el total de compras para mostrar en la carta y en el modal
                        var totalCompras = 0;
                        totalComprasPorMes.forEach(function (total) {
                            totalCompras += total.total;
                        });

                        // Actualiza el valor en la carta y en el modal
                        actualizarValorEnCartaYModal(totalCompras);

                        // Construir la tabla y agregar los datos
                        var table = $('#comprasPorMesTable tbody');
                        table.empty();
                        totalComprasPorMes.forEach(function (total) {
                            const totalFormatted = total.total.toLocaleString('es-CO', {
                                style: 'currency',
                                currency: 'COP',
                                minimumFractionDigits: 0,
                                maximumFractionDigits: 0,
                            });
                            table.append('<tr><td>' + total.month + '</td><td>' +
                                totalFormatted + '</td></tr>');
                        });

                        // Abre el modal
                        $('#totalComprasPorMes').modal('show');
                    },
                    error: function (error) {
                        console.error('Error al obtener los totales de compras por mes:', error);
                    }
                });
            });

            // Al cargar la página, actualizar el valor en la carta
            $(document).ready(function () {
                // Realiza una solicitud inicial para obtener el total de compras
                $.ajax({
                    url: "{% url 'calcular_total_compras' 2023 %}",
                    method: "GET",
                    data: {
                        'year': new Date().getFullYear()
                    },
                    success: function (data) {
                        var totalComprasPorMes = data.total_compras_por_mes;
                        var totalCompras = 0;
                        totalComprasPorMes.forEach(function (total) {
                            totalCompras += total.total;
                        });
                        // Actualiza el valor en la carta al cargar la página
                        actualizarValorEnCartaYModal(totalCompras);
                    },
                    error: function (error) {
                        console.error('Error al obtener los totales de compras por mes:', error);
                    }
                });
            });
        </script>








        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100">
                <div class="card-body px-5 py-1 d-flex align-items-center">
                    <div class="row no-gutters">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total de Ventas
                            </div>
                            <div id="total-ventas" class="h5 mb-0 font-weight-bold text-gray-800">Cargando...</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function actualizarTotalVentas() {
                $.ajax({
                    url: "{% url 'calcular_total_ventas' %}",
                    method: "GET",
                    success: function (data) {
                        const totalVentas = data.total_ventas;
                        const totalVentasFormatted = totalVentas.toLocaleString('es-CO', {
                            style: 'currency',
                            currency: 'COP',
                            minimumFractionDigits: 0,
                            maximumFractionDigits: 0,
                        });

                        $("#total-ventas").text(totalVentasFormatted);
                    },
                    error: function (error) {
                        console.error('Error al obtener el total de ventas:', error);
                    }
                });
            }

            // Actualiza el total de ventas cada 5 segundos
            setInterval(actualizarTotalVentas, 5000);

            // Actualiza el total de ventas al cargar la página
            actualizarTotalVentas();
        </script>



        <!-- Pending Requests Card Example -->




    </div>

    <!-- Content Row -->

    <div class="row">

        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Compras y Ventas</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="graficolindo"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var nuevoGrafico; // Declaración global para el gráfico

            function actualizarGrafico() {
                $.ajax({
                    url: "{% url 'obtener_datos_ventas_y_compras' %}",
                    method: "GET",
                    success: function (data) {
                        var ctx = document.getElementById("graficolindo").getContext('2d');

                        // Destruir el gráfico anterior si existe
                        if (nuevoGrafico) {
                            nuevoGrafico.destroy();
                        }

                        nuevoGrafico = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: data.labels,
                                datasets: [{
                                        label: 'Ventas',
                                        data: data.ventas,
                                        backgroundColor: 'rgba(78, 115, 223, 0.05)',
                                        borderColor: 'rgba(78, 115, 223, 1)',
                                        pointRadius: 3,
                                        pointBackgroundColor: 'rgba(78, 115, 223, 1)',
                                        pointBorderColor: 'rgba(78, 115, 223, 1)',
                                    },
                                    {
                                        label: 'Compras',
                                        data: data.compras,
                                        backgroundColor: 'rgba(28, 200, 138, 0.05)',
                                        borderColor: 'rgba(28, 200, 138, 1)',
                                        pointRadius: 3,
                                        pointBackgroundColor: 'rgba(28, 200, 138, 1)',
                                        pointBorderColor: 'rgba(28, 200, 138, 1)',
                                    },
                                ],
                            },
                            options: {
                                maintainAspectRatio: false,
                                scales: {
                                    x: {
                                        grid: {
                                            display: false
                                        }
                                    }
                                },
                                plugins: {
                                    legend: {
                                        display: true,
                                        position: 'bottom'
                                    },
                                    tooltips: {
                                        callbacks: {
                                            label: function (context) {
                                                var label = context.dataset.label || '';
                                                if (label) {
                                                    label += ': ';
                                                }
                                                label += new Intl.NumberFormat('es-CO', {
                                                    style: 'currency',
                                                    currency: 'COP',
                                                }).format(context.parsed.y);
                                                return label;
                                            },
                                        },
                                    },
                                },
                            },
                        });
                    },
                    error: function (error) {
                        console.error('Error al obtener los datos de ventas y compras:', error);
                    }
                });
            }

            $(document).ready(function () {
                actualizarGrafico();
                // Actualiza el gráfico cada 5 segundos
            });
        </script>




        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Productos y Cantidades</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart" style="width: 100%; height: 300px;"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <script>
            function actualizarGraficoProductos() {
                // Limpiar el gráfico anterior si existe
                if (window.myPieChart) {
                    window.myPieChart.destroy();
                }

                $.ajax({
                    url: "{% url 'obtener_todos_los_productos' %}", // Usa la nueva vista para obtener todos los productos
                    method: "GET",
                    success: function (data) {
                        var ctx = document.getElementById("myPieChart").getContext('2d');
                        var productos = data.productos; // Lista de nombres de productos
                        var cantidades = data.cantidades; // Lista de cantidades de productos

                        window.myPieChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                
                                datasets: [{
                                    data: cantidades,
                                    backgroundColor: ['#4e73df', '#1cc88a',
                                        '#36b9cc'
                                    ], // Colores personalizables
                                }]
                            },
                            options: {
                                tooltips: {
                                    callbacks: {
                                        label: function (tooltipItem, data) {
                                            var dataset = data.datasets[0];
                                            var total = dataset.data.reduce(function (
                                                previousValue, currentValue,
                                                currentIndex, array) {
                                                return previousValue + currentValue;
                                            });
                                            var currentValue = dataset.data[tooltipItem.index];
                                            var percentage = parseFloat(((currentValue /
                                                total) * 100).toFixed(2));
                                            return productos[tooltipItem.index] + ': ' +
                                                currentValue + ' unidades (' +
                                                percentage + '%)';
                                        }
                                    }
                                }
                            }
                        });
                    },
                    error: function (error) {
                        console.error('Error al obtener los datos de productos y cantidades:', error);
                    }
                });
            }

            $(document).ready(function () {
                console.log('Document ready');
                actualizarGraficoProductos();
            });
        </script>




    </div>
</div>
</div>





{% endblock %}