<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
     <!-- Vista 1: Texto animado -->
     <div class="vista1">
        <h1>Tuiranfit</h1>
    </div>

    <script>
        setTimeout(function() {
            window.location.href = "dashboard.html";
        }, 3000); // Cambia 3000 por la cantidad de milisegundos que deseas esperar antes de la transición
    </script>
</body>
</html>

{% extends "baseInterface.html" %}

{% block title %} Dashboard {% endblock %}

{% block body %}
<h1>Funciona</h1>
{% endblock %}